<section class="feedback-page text-center clearfix" id="feedback_page" data-scene>
	<div class="container">

    <div class="row">
      <div class="col-md-6 offset-md-3 mb-4more">
        <h1 class="text-big text-rosybrown">
          {{ page.headline }}
        </h1>
      </div>
    </div>

    <div class="row d-flex flex-row justify-content-center mb-5less">
      <div class="col-5"><!--col-md-4 offset-md-4-->
        <div class="font-ultra-light text-rosybrown">
          {{ content }}
        </div>
      </div>
    </div>

    <div class="row"><!--d-flex flex-row justify-content-center-->
      <div class="col-md-6 offset-md-3"><!--col-5-->
      	<div class="form-feedback form-formspree form-dark">
          {% include feedback/feedback_form.html %}
      	</div>
      </div>
    </div>

	</div>
</section>