<!--Formspree | https://test.formspree.io/ | https://codepen.io/jonathanbarreto/pen/NAjPQW-->
<form method="POST" id="contact_form"><!--action="https://formspree.io/f/mpzoknkb"--><!--action="https://formspree.io/simoncallelaverde@gmail.com"-->
  <div class="row mb-3 mb-sm-4more">
    <div class="col-md-12">
      <div class="form-group">
        <label for="feedback_name"><!--class="sr-only"-->
          <h4 class="text-small mb-1 mb-sm-2">What's your name or<br>your company?</h4>
        </label>
        <input class="text form-control form-control-lg" type="text" name="name" id="feedback_name" placeholder="Your name or name of your company">
      </div>
    </div>
  </div>

  <div class="row mb-3 mb-sm-4more">
    <div class="col-md-12">
      <div class="form-group">
        <label for="feedback_email"><!--class="sr-only"-->
          <h4 class="text-small mb-1 mb-sm-2">Please leave me a<br>contact e-mail</h4><!--for communication-->
        </label>
        <input class="text form-control form-control-lg" type="email" name="email" id="feedback_email" placeholder="email@domain.com">
      </div>
    </div>
  </div>

  <div class="row mb-3 mb-sm-4more">
    <div class="col-md-12">
      <div class="form-group">
        <label for="feedback_message"><!--class="sr-only"-->
          <h4 class="text-small mb-1 mb-sm-2">Please, let me know anything<br>you need work related.</h4>
        </label>
        <textarea class="textarea form-control form-control-lg" rows="2" name="more_about_the_inquiry" id="feedback_message" placeholder="Let me know anything you need."></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <!--<input class="btn btn-send" type="submit" value="Send">-->
        <button class="btn btn-lg btn-send" type="submit">Let's talk!</button><!--Original From Formspree-->
      </div>
    </div>
  </div>
</form>

<!--Small Security For Auto Spam | Used To Be For Full Email, But Formspree Now Uses A Randomized Endpoint & Formspree Account-->
<script>
  var contactFormSecurity = document.getElementById('contact_form');
  contactFormSecurity.setAttribute('action', 'https://formspree.io/' + 'f/mp' + 'zo' + 'kn' + 'kb');
</script>