<!--Formspree | https://test.formspree.io/ | https://codepen.io/jonathanbarreto/pen/NAjPQW-->
<form method="POST" id="contact_form"><!--action="https://formspree.io/f/mgeprqrr"--><!--action="https://formspree.io/simoncallelaverde@gmail.com"-->
  <div class="row mb-4more mb-sm-5less pb-1">
    <div class="col-md-12">
      <h4 class="text-small mb-4 pb-1">
        <!--What services do you need?-->
        Please confirm. What services<br>do you need?
      </h4>

      <div class="custom-checkbox-squared d-flex flex-row justify-content-around"><!--justify-content-between-->
        <div class="custom-control custom-checkbox"><!--custom-radio--><!--form-check-->
          <input class="custom-control-input" type="checkbox" name="we_require_branding" value="project_requires_branding" id="feedback_branding"><!--form-check-input-->
          <label class="custom-control-label" for="feedback_branding">Branding</label><!--form-check-label-->
        </div>

        <div class="custom-control custom-checkbox"><!--custom-radio--><!--form-check-->
          <input class="custom-control-input" type="checkbox" name="we_require_design" value="project_requires_design" id="feedback_design"><!--form-check-input-->
          <label class="custom-control-label" for="feedback_design">Design</label><!--form-check-label-->
        </div>

        <div class="custom-control custom-checkbox"><!--custom-radio--><!--form-check-->
          <input class="custom-control-input" type="checkbox" name="we_require_development" value="project_requires_development" id="feedback_development"><!--form-check-input-->
          <label class="custom-control-label" for="feedback_development">Development</label><!--form-check-label-->
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-3 mb-sm-4more">
    <div class="col-md-12">
      <div class="form-group">
        <label for="feedback_name"><!--class="sr-only"-->
          <h4 class="text-small mb-1 mb-sm-2">What's your name or the name<br>of the company?</h4>
        </label>
        <input class="text form-control form-control-lg" type="text" name="name" id="feedback_name" placeholder="Name or name of the company">
      </div>
    </div>
  </div>

  <div class="row mb-3 mb-sm-4more">
    <div class="col-md-12">
      <div class="form-group">
        <label for="feedback_email"><!--class="sr-only"-->
          <h4 class="text-small mb-1 mb-sm-2">Please confirm your<br>contact e-mail</h4><!--for communication-->
        </label>
        <input class="text form-control form-control-lg" type="email" name="email" id="feedback_email" placeholder="email@domain.design">
      </div>
    </div>
  </div>

  <div class="row mb-3 mb-sm-4more">
    <div class="col-md-12">
      <div class="form-group">
        <label for="feedback_message"><!--class="sr-only"-->
          <h4 class="text-small mb-1 mb-sm-2">Please, tell me more about<br>your project<!-- as a first small brief, to understand what you need and what your objectives are-->.</h4>
        </label>
        <textarea class="textarea form-control form-control-lg" rows="2" name="more_about_the_project" id="feedback_message" placeholder="What do you think you will require and what do you expect from this project?"></textarea><!--Let me know something more about the project.-->
      </div>
    </div>
  </div>

  <div class="row mb-3 mb-sm-4more">
    <div class="col-md-12">
      <div class="form-group">
        <label for="feedback_timeframe"><!--class="sr-only"-->
          <h4 class="text-small mb-1 mb-sm-2">What would be an expected timeframe when<br>you need to have your project?</h4>
        </label>
        <input class="text form-control form-control-lg" type="text" name="what_is_your_timeframe" placeholder="Expected timeframe" id="feedback_timeframe"><!--Timeframes could vary depending on each project's spectrum.-->
      </div>
    </div>
  </div>

  {% comment %}
  <div class="row mb-3 mb-sm-4more">
    <div class="col-md-12">
      <div class="form-group">
        <label for="feedback_budget"><!--class="sr-only"-->
          <h4 class="text-small mb-1 mb-sm-2">What's an approximate budget to spend in this project?</h4>
        </label>
        <input class="text form-control form-control-lg" type="text" name="what_is_your_estimated_budget" placeholder="What's an approximate budget to spend in this project?" id="feedback_budget">
      </div>
    </div>
  </div>
  {% endcomment %}

  <!--This Was The Final One-->
  {% comment %}
  <div class="row mb-3 mb-sm-4more">
    <div class="col-md-12">
      <div class="form-group">
        <label for="feedback_budget"><!--class="sr-only"-->
          <h4 class="text-small mb-1 mb-sm-2">What's the approximate plan or budget frame where you would like to work? (See plans & prices).</h4>
        </label>
        <input class="text form-control form-control-lg" type="text" name="what_is_your_estimated_budget" placeholder="USD $700 - USD $4,000 or more." id="feedback_budget">
      </div>
    </div>
  </div>
  {% endcomment %}

  {% comment %}
  <div class="row mb-4 mb-sm-4more">
    <div class="col-md-12">
      <div class="form-group">
        <label for="feedback_question"><!--class="sr-only"-->
          <h4 class="text-small mb-1 mb-sm-2">Do you have any specific question?</h4>
        </label>
        <textarea class="textarea form-control form-control-lg" rows="2" name="question" id="feedback_question" placeholder="Anything else you want to know."></textarea>
      </div>
    </div>
  </div>
  {% endcomment %}

  {% comment %}
  <div class="row">
    <div class="col-md-12">
      <div class="custom-control custom-radio"><!--custom-checkbox--><!--form-check-->
        <input class="custom-control-input" type="radio" name="project_stage" value="starting_from_scratch" id="feedback_scratch"><!--form-check-input-->
        <label class="custom-control-label" for="feedback_scratch"> I'm starting from scratch, I need some help</label><!--form-check-label-->
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="custom-control custom-radio"><!--custom-checkbox--><!--form-check-->
        <input class="custom-control-input" type="radio" name="project_stage" value="starting_from_design" id="feedback_design"><!--form-check-input-->
        <label class="custom-control-label" for="feedback_design"> I have a few mockups or/and a design, I want to make those real</label><!--form-check-label-->
      </div>
    </div>
  </div>
  {% endcomment %}

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <!--<input class="btn btn-send" type="submit" value="Send">-->
        <button class="btn btn-lg btn-send" type="submit">Send</button><!--Original From Formspree-->
      </div>
    </div>
  </div>
</form>

<!--Small Security For Auto Spam | Used To Be For Full Email, But Formspree Now Uses A Randomized Endpoint & Formspree Account-->
<script>
  var contactFormSecurity = document.getElementById('contact_form');
  contactFormSecurity.setAttribute('action', 'https://formspree.io/' + 'f/mg' + 'ep' + 'rq' + 'rr');
</script>