<section class="feedback-page clearfix" id="feedback_page">
	<div class="container">

		<div class="row">
      <div class="col-md-10 offset-md-1">
        <p class="font-subtitle text-white text-bold text-uppercase mb-0 ml-1">{{ page.headline }}</p><!--I'll be picking on some freelance work.-->
        <h3 class="text-big text-white text-bold text-uppercase mb-0">{{ content }}</h3>
      </div>
    </div>

    <div class="row mt-5 pt-1">
      <div class="col-md-10 offset-md-1">
      	<div class="feedback-form formspree-form">
      		{% include feedback/feedback_form.html %}
      	</div>
      </div>
    </div>

	</div>
</section>