<div class="home-three-phases-modal modal fade text-center" id="disclaimerModal" tabindex="-1" role="dialog" aria-labelledby="phaseModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document"><!--modal-xl-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title sr-only" id="disclaimerModalLabel">
          Disclaimer
        </h4>
        
        <button type="button" class="close text-aqua" data-dismiss="modal" aria-label="Close">
          <span style="font-size:12px; vertical-align:middle;">Return</span>&nbsp;<span aria-hidden="true" style="font-size:18px; vertical-align:middle;">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="row d-flex flex-row justify-content-center">
          <div class="col-md-9">
            <h4 class="text-big text-aqua text-uppercase mb-4" aria-hidden="true">
              Disclaimer
            </h4>

            <div class="text-chocolate">
              <div class="mb-3">
                <em class="font-ultra-light text-italic">Most of the projects displayed between 2015 to 2019 are those which I worked as a team member mostly in the development phase, starting from a base design that I used to receive and a base template that we iterated on, and are those in which I personally worked at the time at least over half (50%) or most (90% or even 100%) of the whole development. Some sites may have or may have had new changes, small edits, or further additions by Code Nation's team or by the clients themselves through their CMS over the years. Many may remain intact for years. Others may end their life.</em>
              </div>

              <div class="mb-3">
                <em class="font-ultra-light text-italic">Still the first "above-the-fold" screenshot for each original website remains here together with a "thumbnail" for their main image.</em>
              </div>

              <div class="mb-3">
                <em class="font-ultra-light text-italic">The majority of projects displayed in this site were developed for many clients around the world. Images are just used to display and link to its corresponding project in which we put our hearts developing; all original material or third party trademarks or images referenced here remain the property of each client or their respective owners, so material is only used for each corresponding case study, with the purpose of showcasing projects and work in a healthy modern portfolio environment, and intended to constitute fair use.</em>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <!--<button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
      </div>
    </div>
  </div>
</div>