<header class="projects-header-section d-flex flex-row align-items-center clearfix" id="projects_header_section" data-scene>
  <div class="container">

    <div class="row">
      <div class="col-md-6 d-flex flex-row align-items-center">
        <div class="mt-2">
          <h1 class="text-gigantic text-rosybrown text-uppercase">
            All
            <br>projects
          </h1>
          
          <div class="projects-header-timeline font-ultra-light text-rosybrown"><!--text-uppercase-->
            Some projects I developed<!--coded-->
            <br>or helped to develop from
            <br><span class="font-light mt-3 pt-1">2015 - 2020</span>
          </div>
        </div>
      </div>
      
      <div class="col-md-6">
        <img class="projects-header-illustration mb-4" src="/uploads/absurd-illustrations-projects-page.png" alt="Bulbs & Ideas Illustration by Absurd Illustrations" aria-hidden="true">
      </div>
    </div>

  </div>
</header>