<header class="projects-header-section d-flex flex-row align-items-center text-center clearfix" id="projects_header_section" data-scene>
	<img class="header-illustration" src="/uploads/absurd-illustrations-projects-page.png" alt="Bulbs & Ideas Illustration by Absurd Illustrations" aria-hidden="true">

  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <h1 class="text-hero text-rosybrown text-uppercase mt-4 mb-4more">
          All projects
        </h1>
        
        <div class="header-timeline font-light text-rosybrown mt-3">
          2015 - 2020<!--<i class="font-light-italic"></i>-->
        </div>
      </div>
    </div>

  </div>
</header>