<section class="projects-section clearfix" id="projects_section" data-scene>
  <div class="container">

    <!--Screen Readers-->
    <div class="sr-only">
      {{ content }}
    </div>

    {% assign sorted_projects = site.projects | sort:"order" | reverse %}

    <!--Desktop-->
    <div class="d-none d-md-block" aria-hidden="true">
      <div class="row">
        <div class="col-md-6">
          <div class="rellax" style="will-change:transform" data-rellax-speed="-1.8">
            {% assign projects_count_desktop = 0 %}

            {% for project in sorted_projects %}
              {% assign project_tags_list = "#" %}
              {% for tag in project.tags %}
                {% assign project_tags_list = "#" | append:tag | downcase | replace:" ","_" | append:project_tags_list %}
              {% endfor %}

              {% unless project_tags_list contains "#hidden#" %}
                {% assign projects_count_desktop = projects_count_desktop | plus:1 %}

                {% if projects_count_desktop == 1 %}<!--Prints Just "Odd" Projects-->
                  {% include projects/projects_project_article.html %}
                {% endif %}

                {% if projects_count_desktop == 2 or forloop.last %}
                  {% assign projects_count_desktop = 0 %}
                {% endif %}
              {% endunless %}
            {% endfor %}
          </div>
        </div>

        <div class="col-md-6">
          <div class="rellax" style="margin-top:10px; will-change:transform;" data-rellax-speed="1.8"><!--margin-top:264px;-->
            {% assign projects_count_desktop = 0 %}

            {% for project in sorted_projects %}
              {% assign project_tags_list = "#" %}
              {% for tag in project.tags %}
                {% assign project_tags_list = "#" | append:tag | downcase | replace:" ","_" | append:project_tags_list %}
              {% endfor %}

              {% unless project_tags_list contains "#hidden#" %}
                {% assign projects_count_desktop = projects_count_desktop | plus:1 %}

                {% if projects_count_desktop == 2 %}<!--Prints Just "Even" Projects-->
                  {% include projects/projects_project_article.html %}
                {% endif %}

                {% if projects_count_desktop == 2 or forloop.last %}
                  {% assign projects_count_desktop = 0 %}
                {% endif %}
              {% endunless %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <!--Mobile | Screen Readers-->
    <div class="row d-block d-md-none">
      <div class="col-md-12">
        {% assign projects_count_mobile = 0 %}

        {% for project in sorted_projects %}
          {% assign projects_count_mobile = projects_count_mobile | plus:1 %}

          {% if projects_count_mobile == 1 %}
          <div class="row">
          {% endif %}
            <div class="col-10 offset-1 col-md-12 offset-md-0"><!--col-12 col-sm-6-->
              {% include projects/projects_project_article.html %}
            </div>
          {% if projects_count_mobile == 2 or forloop.last %}
          </div>
          {% assign projects_count_mobile = 0 %}
          {% endif %}
        {% endfor %}
      </div>
    </div>

  </div>
</section>