<article class="project-article projects {% if projects_count_desktop == 1 %}article-left mr-5{% else %}article-right ml-5{% endif %} {% if forloop.last %}forloop-last {% endif %}" id="scroll_to_{{ project.order }}">
  <a class="link-page-load" href="javascript:delay('{{ project.url }}')">
    <figure>
      <style type="text/css">
        #projects_project_thumbnail_{{ project.slug }} {
          background:url('{{ project.thumbnail_image | relative_url }}') no-repeat center center scroll;
          -webkit-background-size:cover;
          -moz-background-size:cover;
          -o-background-size:cover;
          background-size:cover;
        }
      </style>
      <div class="project-thumbnail project-{{ project.order }} bg-image" id="projects_project_thumbnail_{{ project.slug }}" type="image" title="Website Project: {{ project.title }}"><!--loading="lazy"-->
      </div>

      <figcaption><!--d-flex flex-column align-items-stretch justify-content-end-->
        <div class="project-title text-center pt-4 px-4 pb-3">
          <h3 class="text-big text-rosybrown text-uppercase mb-0">
            {{ project.name_for_thumbnail }}
          </h3>

          <div class="project-details font-ultra-light text-rosybrown">
            <div class="project-roles">
              {% for item in project.roles %}
                {{ item }}{% unless forloop.last %} &middot;{% endunless %}
              {% endfor %}
            </div>

            <div class="project-data">
              {{ project.category }}
            </div>
          </div>
        </div>

        <time class="font-light text-rosybrown">
          {{ project.year }}
        </time>
      </figcaption>
    </figure>






    <!--Mobile | From "Home"-->
    <div class="project-title-mobile d-block d-md-none font-ultra-light text-rosybrown" aria-hidden="true">
      <h3 class="text-huge text-uppercase mb-0">
        <span class="text-rosybrown">
          {{ project.name_for_thumbnail }}
        </span>
      </h3>
      
      <div class="project-details">
        <div class="project-roles">
          {% for item in project.roles %}
            {{ item }}{% unless forloop.last %} &middot;{% endunless %}
          {% endfor %}
        </div>
      </div>
    </div>





  </a>
</article>