<header class="projects-header d-flex flex-row align-items-center clearfix" id="projects_header_section" data-scene>
  <div class="container">

    <div class="row mt-5less mt-sm-5">
      {% comment %}
      <div class="col-10 offset-1 col-md-8 offset-md-2 mt-sm-1 pt-sm-1 mt-md-0 pt-md-0">
        <div class="projects-header-middle text-center mt-2 pt-3 mt-md-5 pt-md-5 mt-lg-2">

          <img src="/uploads/websites-gif-cover-projects.jpg" alt="Image of one website created within the team of Code Nation: Ownership of all property rights by 'giveadam.org.au'">

          <h1 class="text-gigantic text-rosybrown text-uppercase">
            All
            <br>projects
          </h1>

          <div class="projects-header-timeline font-ultra-light text-rosybrown mt-2 pt-2 mt-lg-3">
            <!--Desktop | Screen Readers-->
            <span class="d-none d-sm-inline-block">Some projects I developed or helped<br>in the development phase</span><!--majority of the-->

            <!--Mobile-->
            <span class="d-inline-block d-sm-none" aria-hidden="true">Some projects I developed or helped in the development phase</span>

            <br><time class="font-light text-italic mt-2 pt-1 mt-lg-3">2015 - {{ "now" | date: "%Y" }}</time><!--2015 - 2020-->
          </div>

        </div>
      </div>
      
      <!--<div class="col-md-6">
        <img class="projects-header-illustration mb-4" src="/uploads/absurd-illustrations-projects-page.png" alt="Bulbs & Ideas Illustration by Absurd Illustrations" aria-hidden="true">
      </div>-->
      {% endcomment %}

      <div class="col-12 col-lg-11 offset-lg-1 col-xl-12 offset-xl-0 mt-sm-1 pt-sm-1 mt-md-0 pt-md-0">
        <!--Desktop | Screen Readers-->
        <h1 class="projects-header-headline text-gigantic text-rosybrown text-uppercase d-none d-md-block">
          Some projects I worked on throught the past years.
        </h1>

        <!--Mobile-->
        <h1 class="projects-header-headline text-gigantic text-rosybrown text-uppercase d-block d-md-none" aria-hidden="true">
          Some<br>projects I<br>worked on<br>throught<br>the past<br>years.
        </h1>
      </div>

      <div class="col-12 col-lg-9 offset-lg-1 col-xl-10 offset-xl-0 mt-4more">
        <div class="projects-header-intro font-ultra-light text-rosybrown">
          {{ content }}
        </div>
      </div>
    </div>

  </div>
</header>