<header class="projects-header d-flex flex-row align-items-center clearfix" id="projects_header_section" data-scene>
  <div class="container">

    <div class="row mt-5less mt-sm-5">
      {% comment %}
      <div class="col-10 offset-1 col-md-8 offset-md-2 mt-sm-1 pt-sm-1 mt-md-0 pt-md-0">
        <div class="projects-header-middle text-center mt-2 pt-3 mt-md-5 pt-md-5 mt-lg-2">

          <img src="/uploads/websites-gif-cover-projects.jpg" alt="Image of one website created within the team of Code Nation: Ownership of all property rights by 'giveadam.org.au'">

          <h1 class="text-gigantic text-rosybrown text-uppercase">
            All
            <br>projects
          </h1>

          <div class="projects-header-timeline font-ultra-light text-rosybrown mt-2 pt-2 mt-lg-3">
            <!--Desktop | Screen Readers-->
            <span class="d-none d-sm-inline-block">Some projects I developed or helped<br>in the development phase</span><!--majority of the-->

            <!--Mobile-->
            <span class="d-inline-block d-sm-none" aria-hidden="true">Some projects I developed or helped in the development phase</span>

            <br><time class="font-light text-italic mt-2 pt-1 mt-lg-3">2015 - {{ "now" | date: "%Y" }}</time><!--2015 - 2020-->
          </div>

        </div>
      </div>
      
      <!--<div class="col-md-6">
        <img class="projects-header-illustration mb-4" src="/uploads/absurd-illustrations-projects-page.png" alt="Bulbs & Ideas Illustration by Absurd Illustrations" aria-hidden="true">
      </div>-->
      {% endcomment %}

      <div class="col-12 mt-sm-1 pt-sm-1 mt-md-0 pt-md-0">
        <h1 class="text-gigantic text-rosybrown text-uppercase">
          Some projects I worked on throught the past years.
        </h1>
      </div>

      <div class="col-8 col-md-10 mt-2 mt-md-4more">
        <div class="font-ultra-light text-rosybrown">
          <p>
            Hello! Here I'm displaying some case studies I'm actively working on.
          </p>

          <p>
            I worked with the great team of <a href="https://www.codenation.com/" target="_blank">Code Nation</a>, a five star rated digital and creative agency headquartered in Australia for over 4 years; we developed dozens of awesome websites and campaign platforms for awesome clients around the world both onsite and remotely, to help this planet a bit. Most of the projects displayed here are those which I worked in the development phase starting from a base design and a base template we iterated on, and worked on most of the development phase; each of them being completelly custom. Some may have new changes throught the years.
          </p>

          <p>
            I'm currently occasionally taking on freelance projects! Although this year was a roller coaster. I have been also improving on my skills: I've been learning much more about <em>UX research</em>, <em>UI design</em>, <em>web best practices</em>, as well as improving my coding skills with <em>JavaScript</em> and <em>React.js</em>. The first projects are a few I had the opportunity to recently design & develop completelly.
          </p>

          <p>
            I'm also working on some desings-only to display and better show my UI design skills which really started more than 6 years ago with a University course in <em>Web Design and Design for Mobile Devices</em> after a 5 year creative and design focused career where I also had to create complete digital marketing campaigns including wireframing, prototyping, and creating complete mockups (at that time with Adobe Fireworks and Adobe Dreamweaver <img src="/uploads/smile-face.png" style="height:15px"> although today I use mostly Adobe XD, <!--<img src="/uploads/heart.webp" style="height:15px">-->Figma, and Sketch).
          </p>
        </div>
      </div>
    </div>

  </div>
</header>