<header class="projects-header d-flex flex-row align-items-center clearfix" id="projects_header_section" data-scene>
  <div class="container">

    <div class="row mt-5less mt-sm-5">
      <div class="col-12 col-lg-11 offset-lg-1 col-xl-12 offset-xl-0 mt-sm-1 pt-sm-1 mt-md-0 pt-md-0">
        <!--Desktop | Screen Readers-->
        <h1 class="projects-header-headline text-hero text-rosybrown text-uppercase d-none d-md-block"><!--text-gigantic-->
          Some projects<br>I worked on throught the past years.
        </h1>

        <!--Mobile-->
        <h1 class="projects-header-headline text-hero text-rosybrown text-uppercase d-block d-md-none" aria-hidden="true"><!--text-gigantic-->
          Some<br>projects I<br>worked on<br>throught<br>the past<br>years.
        </h1>
      </div>

      <div class="col-12 col-lg-9 offset-lg-1 col-xl-10 offset-xl-0 mt-4more">
        <div class="projects-header-intro font-ultra-light text-rosybrown">
          {{ content }}
        </div>
      </div>
    </div>

  </div>
</header>