<section class="project-header text-rosybrown clearfix" id="project_header" data-scene>
	<div class="container">

		<div class="row">
			<div class="col-md-6">

				<div class="position-relative">
					<span class="page-order font-headline" aria-hidden="true">
						{{ page.order }}

						{% assign sorted_projects = site.projects %}
		        {% assign projects_total_count = 0 %}

		        {% for project in sorted_projects %}
		          {% assign projects_total_count = projects_total_count | plus:1 %}
		        {% endfor %}

		        <small class="font-ultra-light">
		          /{{ projects_total_count }}
		        </small>
					</span>

					<h1 class="page-title text-huge text-rosybrown text-uppercase">
						{{ page.title }}
					</h1>
				</div>

				<div class="row mt-5less">
					<div class="col-md-5 offset-md-2">
						<div class="page-client font-ultra-light mb-2 pb-1">
							<span class="font-light">
								Client
							</span>
							{% if page.client.size > 0 %}
								{{ page.client }}
							{% else %}
								{{ page.title }}
							{% endif %}
						</div>

						<div class="page-roles font-ultra-light mb-2 pb-1">
							<span class="font-light">
								Roles
							</span>
							{% for role in page.roles %}
                {{ role }}{% unless forloop.last %} &middot;{% endunless %}
              {% endfor %}
						</div>
					</div>

					<div class="col-md-4 offset-md-1">
						<div class="page-year font-ultra-light">
							<span class="font-light">
								Year
							</span>
							{{ page.year }}
						</div>
					</div>
				</div>

				<div class="row mt-5less">
					<div class="col-md-8 offset-md-2">
						<div class="page-launcher font-light">
							<a class="btn btn-xs btn-rosybrown" href="{{ page.web.launch_url }}" target="_blank">View the site</a>
						</div>
					</div>
				</div>

				<div class="row mt-5">
					<div class="col-md-10 mt-2"><!--col-md-8 offset-md-2-->
						<div class="page-content font-ultra-light">
							{{ content }}
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>

	<div class="page-image-wrapper">
		<div class="container">

			<div class="row">
				<div class="col-md-6 offset-md-6 d-flex flex-row align-items-end">
					
					<style type="text/css">
		        #page_project_thumbnail_{{ page.slug }} {
		          background:url('{{ page.thumbnail_image | relative_url }}') no-repeat center center scroll;
		          -webkit-background-size:cover;
		          -moz-background-size:cover;
		          -o-background-size:cover;
		          background-size:cover;
		        }
		      </style>
					<div class="page-project-image" id="page_project_thumbnail_{{ page.slug }}" type="image" title="Case Study: {{ page.title }}">
      		</div>

				</div>
			</div>

		</div>
	</div>
</section>