<article class="org-article text-center mb-2 pb-4 pb-md-5">
	<div class="org-logo d-flex flex-row align-items-center justify-content-center p-2"><!--style="height:123px;"-->
		<img src="{{ org.thumbnail_image | relative_url }}" alt="{{ org.name }}" style="height:{{ org.height_px }}px;">
	</div>

	<!--Desktop-->
	<h5 class="text-magenta text-uppercase mt-4 mb-1 pt-1 d-none d-md-block" style="font-size:1.25rem;">{{ org.name }}</h5>
	<!--Mobile-->
	<h5 class="text-magenta text-uppercase mt-4 mb-2 pt-1 d-block d-md-none" style="font-size:1.1rem;" aria-hidden="true">{{ org.name }}</h5>

	<p class="font-subtitles text-grey-light text-uppercase" style="font-size:0.9rem;">{{ org.purpose }}</p>

	<div class="article-caption pt-1">
		{{ org.content }}
	</div>

	<div class="text-uppercase" style="font-size:0.8rem;">
		<a href="{{ org.web.url }}" target="_blank" class="font-subtitles text-blue-light">{{ org.web.name }}</a>
	</div>
</article>