<section class="partners-section bg-grey-dark clearfix">
	<div class="container">

		{% assign sorted_partners = site.partners | sort:"order" %}

		<!--Desktop-->
		<div class="d-none d-md-block">
			{% assign posts_count = 0 %}

			{% for org in sorted_partners %}
			  {% if posts_count == 0 %}
			  <div class="row">
			  {% endif %}
			    <div class="col-md-4">
			    	{% include partners/partners_article.html %}
			    </div>
			  {% assign posts_count = posts_count | plus:1 %}
			  {% if posts_count == 3 or forloop.last %}
			  </div>
			  {% assign posts_count = 0 %}
			  {% endif %}
		  {% endfor %}
		</div>

		<!--Mobile-->
		<div class="d-block d-md-none" aria-hidden="true">
			{% assign posts_count = 0 %}

			{% for org in sorted_partners %}
			  {% if posts_count == 0 %}
			  <div class="row">
			  {% endif %}
			    <div class="col-6">
			    	{% include partners/partners_article.html %}
			    </div>
			  {% assign posts_count = posts_count | plus:1 %}
			  {% if posts_count == 2 or forloop.last %}
			  </div>
			  {% assign posts_count = 0 %}
			  {% endif %}
		  {% endfor %}
		</div>
		
	</div>
</section>