<header class="work-header-section d-flex flex-row align-items-center clearfix" id="work_header_section" data-scene="rotateZ">
  <div class="container text-center">

    <div class="row">
      <div class="col-md-6">
        <h1 class="text-rosybrown text-gigantic text-uppercase text-right pt-5 pb-4">
          All projects
        </h1>
      </div>

      <div class="col-md-5 offset-md-1">
        <div class="text-rosybrown text-uppercase text-left mt-4">
          {{ content }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="text-rosybrown text-uppercase text-left mt-5less">
          I'm now very passionate in interactive design and bringing live to brands throught awesome sites that break the common rules of the web and let them show exactly what they want, with hand-crafted designs and great user experience.
        </div>
      </div>
    </div>

  </div>
</header>