<header class="work-header-section d-flex flex-row align-items-center clearfix" id="work_header_section" data-scene="rotateZ">
  <div class="container">

    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h1 class="text-rosybrown text-hero text-uppercase mt-4more mb-0">All<br>nice,<br>great<br>projects</h1>
      </div>

      <div class="col-md-1 position-relative rellax" data-rellax-speed="2">
        {% include mouse_svg.html %}
      </div>
    </div>

  </div>
</header>