<section class="work-section clearfix" id="work_section">
  <div class="container">

    {% comment %}
    <div class="row">
      <div class="col-md-12">
        <!--Desktop-->
        <h3 class="headline text-white text-uppercase mb-4 pb-3 d-none d-md-block" style="font-size:4rem;">Portfolio</h3>
        <!--Mobile-->
        <h4 class="headline text-white text-uppercase mb-3 pb-1 d-block d-md-none" aria-hidden="true">Portfolio</h4>
      </div>
    </div>
    {% endcomment %}

    {% comment %}
    <div class="row pt-3">
      <div class="col-md-2 offset-md-1">
        <h5 class="text-magenta mb-5">Disclaimer:</h5>
      </div>
    </div>

    <!--TESTING-->
    <div class="row pt-4 pb-2">
      <div class="col-md-8 offset-md-2">
        <!--Desktop-->
        <div class="intro text-white column_div d-none d-md-block"><!--id="column_div"-->
          {{ index.my_work_section.content }}
        </div>
        <!--Mobile-->
        <div class="intro text-white d-block d-md-none" aria-hidden="true">
          {{ index.my_work_section.content }}
        </div>
      </div>
    </div>
    {% endcomment %}

    {% assign sorted_projects = site.projects | sort:"order" | reverse %}
    
    <!--Desktop-->
    <div class="row pt-3 d-none d-md-block">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6 mt-md-1 mb-md-1">
            <div class="work-projects-left-column">
              {% assign posts_count_odd = 0 %}
              
              {% for project in sorted_projects %}
                {% assign posts_count_odd = posts_count_odd | plus:1 %}
                {% if posts_count_odd == 1 %}
                  {% include work/work_project_article.html %}
                {% endif %}

                {% if posts_count_odd == 2 or forloop.last %}
                  {% assign posts_count_odd = 0 %}
                {% endif %}
              {% endfor %}
            </div>
          </div>

          <div class="col-md-6 mt-md-1 mb-md-1">
            <div class="work-projects-right-column" style="margin-top:96px;">
              {% assign posts_count_even = 0 %}

              {% for project in sorted_projects %}
                {% assign posts_count_even = posts_count_even | plus:1 %}
                {% if posts_count_even == 2 %}
                  {% include work/work_project_article.html %}
                {% endif %}

                {% if posts_count_even == 2 or forloop.last %}
                  {% assign posts_count_even = 0 %}
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Mobile-->
    <div class="row pt-3 d-block d-md-none">
      <div class="col-md-12">
        {% assign posts_count = 0 %}

        {% for project in sorted_projects %}
          {% assign posts_count = posts_count | plus:1 %}

          {% if posts_count == 1 %}
          <div class="row">
          {% endif %}
            <div class="col-6 mt-1 mb-1">
              {% include work/work_project_article.html %}
            </div>
          {% if posts_count == 2 or forloop.last %}
          </div>
          {% assign posts_count = 0 %}
          {% endif %}
        {% endfor %}
      </div>
    </div>

  </div>
</section>