<article class="project-article work position-relative {% if projects_count_desktop == 1 %}article-left mr-5{% else %}article-right ml-5{% endif %} {% if forloop.last %}forloop-last {% endif %}pb-4 pb-md-5" id="scroll_to_{{ project.order }}">
  <a href="#" data-toggle="modal" data-target="#projectModal_{{ project.slug }}">
    <figure>
      <div style="overflow:hidden;">
        <style type="text/css">
          #thumbnail_image_{{ project.slug }} {
            background:url('{{ project.thumbnail_image | relative_url }}') no-repeat center center scroll;
            -webkit-background-size:cover;
            -moz-background-size:cover;
            -o-background-size:cover;
            background-size:cover;
          }
        </style>
        <div class="project-thumbnail bg-image d-flex flex-row justify-content-start align-items-end scale-element p-4 pr-5" id="thumbnail_image_{{ project.slug }}" type="image" title="{{ project.name }} Website Project">
          <figcaption class="project-caption d-flex flex-column">
            <div class="project-name align-self-start mb-2 pt-2 px-3 pb-0">
              <h3 class="text-chocolate text-uppercase mb-0">{{ project.name_for_thumbnail }}</h3>
            </div>

            <div class="project-roles align-self-start pt-1 px-3">
              {% for item in project.roles %}
                <p class="text-chocolate text-uppercase my-2">{{ item }}{% unless forloop.last %} <span>&middot;</span>{% endunless %}</p>
              {% endfor %}
            </div>
          </figcaption>
        </div>

        <div class="project-side-data text-rosybrown">
          <time class="project-year">
            <p class="mx-0">
              <span class="text-bold" style="margin-bottom:15px;">{{ project.year }}</span>

              Made {{ project.category }}
            </p>
          </time>

          <div class="project-info">
            <p class="mx-0">
              {% for platform in project.platform %}
                {{ platform }}{% unless forloop.last %} &middot;{% endunless %}
              {% endfor %}

              &middot; {{ project.theme }}
            </p>
          </div>
        </div>
      </div>
    </figure>
  </a>
</article>