<article class="project-article work position-relative rellax px-4 pb-4 pb-md-5" data-rellax-speed="{% if posts_count_odd == 1 %}0.35{% elsif posts_count_even == 2 %}-0.35{% endif %}" id="scroll_to_{{ project.order }}">
	<a href="#" data-toggle="modal" data-target="#projectModal_{{ project.slug }}">
		<style type="text/css">
		  #thumbnail_{{ project.slug }} {
		    background:url('{{ project.thumbnail_image | relative_url }}') no-repeat center center scroll;
		    -webkit-background-size:cover;
		    -moz-background-size:cover;
		    -o-background-size:cover;
		    background-size:cover;
		  }
		</style>
		<figure>
			<div class="project-thumbnail scale-element bg-image d-flex flex-row justify-content-start align-items-end p-4 pr-5" id="thumbnail_{{ project.slug }}" type="image" title="{{ project.name }} Website Project"><!--loading="lazy"-->
				<figcaption class="project-caption d-flex flex-column"><!--{% if posts_count_odd == 1 %}fade-up-right{% elsif posts_count_even == 2 %}fade-up-left{% endif %}-->
					<div class="project-name align-self-start mb-2 py-2 px-3">
						<h3 class="text-uppercase m-0">{{ project.name_for_thumbnail }}</h3>
					</div>

					<div class="project-roles align-self-start pt-1 px-3">
						{% for item in project.roles %}
							<h6 class="font-paragraph text-bold text-uppercase my-2" style="display:inline-block; font-size:0.8rem;">{{ item }}{% unless forloop.last %} <span style="margin-right:1px;">&middot;</span>{% endunless %}</h6>
						{% endfor %}
					</div>
				</figcaption>

				<time class="project-year text-white">
					<h5 class="font-paragraph text-bold m-0" style="font-size:1.25rem;">{{ project.year }}</h5>
				</time>
			</div>
		</figure>
	</a>
</article>