<article class="project-article px-4 pb-4 pb-md-5 rellax" data-rellax-speed="{% if posts_count_left == 1 %}0.4{% elsif posts_count_right == 2 %}-0.4{% endif %}" style="margin-bottom:104px; will-change:scroll-position;">
	<a href="#" data-toggle="modal" data-target="#projectModal_{{ project.slug }}">
		<style type="text/css">
		  #thumbnail-{{ project.slug }} {
		    background:url('{{ project.thumbnail_image | relative_url }}') no-repeat center center scroll;
		    -webkit-background-size:cover;
		    -moz-background-size:cover;
		    -o-background-size:cover;
		    background-size:cover;
		  }
		</style>
		<figure>
			<div class="project-thumbnail scale-element bg-image d-flex flex-row justify-content-start align-items-end p-4 pr-5" id="thumbnail-{{ project.slug }}" type="image" title="{{ project.name }} Website Project"><!--loading="lazy"-->
				<figcaption class="project-caption d-flex flex-column"><!--data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease-in-sine"--><!--{% cycle 'fade-up-right', 'fade-up-left' %}-->
					<div class="project-name align-self-start bg-white mb-2 py-2 px-3">
						<h3 class="text-grey-dark text-uppercase m-0">{{ project.name_for_thumbnail }}</h3>
					</div>

					<div class="project-roles align-self-start bg-white pt-1 px-3">
						{% for item in project.roles %}
							<h6 class="font-paragraph text-grey-dark text-bold text-uppercase my-2" style="display:inline-block; font-size:0.8rem;">{{ item }}{% unless forloop.last %} <span style="margin-right:1px;">&middot;</span>{% endunless %}</h6>
						{% endfor %}
					</div>
				</figcaption>

				<time class="project-year text-white">
					<h5 class="font-paragraph text-bold m-0" style="font-size:1.25rem;">{{ project.year }}</h5>
				</time>
			</div>
		</figure>
	</a>
</article>