<aside class="change-features">
	<div class="change-features-interior show-it">
		<a class="link text-grey-mid" href="/" title="Let's speak English">En</a>

		<span class="text-grey-mid"> / </span>

		<a class="text-white show-message-button" title="Hablemos Español">Sp</a><!--Will have class="link" href="..."-->

		{% unless page.slug == "contact_me" or page.slug contains "contact" %}
			<i class="fa fa-adjust link text-white switch-theme-colour" style="margin-left:5px;"></i>
		{% endunless %}

		<div class="show-message text-grey-dark py-1 px-2 hide-it">
			Sorry :( this feature will be coming soon
		</div>
	</div>
</aside>