<aside class="change-features">
	<div class="change-features-interior show-it">
		<a class="text-white" href="/"><p class="m-0" style="display:inline-block;">En</p></a><span class="text-grey-mid"> / </span><span class="text-white show-message-button"><!--title="This feature will be coming soon"--><p class="text-grey-mid m-0" style="display:inline-block;">Es</p></span>
		<i class="fa fa-adjust link text-grey-mid switch-theme-colour" style="margin-left:5px;"></i><!--margin-left:30px;-->

		<div class="show-message text-grey-dark hide-it py-1 px-2">
			Sorry :( this feature will be coming soon
		</div>
	</div>
</aside>