<aside class="change-features text-white"><!--show-it-->
	<div class="change-features-interior">
		<a class="text-grey-mid" href="/"><p class="m-0" style="display:inline-block;">En</p></a> / <span class="text-white show-message-button"><!--title="This feature will be coming soon"--><p class="m-0" style="display:inline-block;">Es</p></span>
		<i class="fa fa-adjust text-grey-light show-message-button" style="margin-left:30px;"></i>

		<div class="show-message text-grey-dark hide-it py-1 px-2">
			Sorry :( this feature will be coming soon
		</div>
	</div>
</aside>