<!--IN DEVELOPMENT | Tags_List after fixing Tags Array issue | Not being able to add array of tags to pages-->

<!-- include liquid_top_variables.html -->

<section class="{{ page.tags | slugify | replace:'-','_' }} content-centered bg-grey-dark text-white text-center px-4 px-md-0 pt-4more pt-md-5 pb-3 pb-md-4 clearfix"><!--url_encode-->
  <div class="container">

    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="mx-md-3 px-md-4">
          <!--Desktop-->
          <h5 class="headline {% if page.tags contains 'Admin Headline Magenta' %}text-magenta{% else %}text-yellow{% endif %} text-uppercase mb-3 pb-4 d-none d-md-block">{{ page.headline | default:page.title }}</h5>
          <!--Mobile-->
          <h5 class="headline {% if page.tags contains 'Admin Headline Magenta' %}text-magenta{% else %}text-yellow{% endif %} text-uppercase mb-3 d-block d-md-none" aria-hidden="true">{{ page.headline | default:page.title }}</h5>

          <div class="intro">
            {{ content }}
          </div>
        </div>
      </div>
    </div>

  </div>
</section>