<section class="content-simple px-4 px-md-0 pt-4 pt-md-5 pb-3 clearfix">
  <div class="container">

    <div class="row pt-4">
      <div class="col-md-10 offset-md-1">

        <div class="mb-5 pb-2">
          <a class="headline-link link font-headline text-gigantic text-uppercase d-inline-block smoothScroll" href="#work_section">{{ page.headline | default:page.title }}</a>
        </div>

        <div class="intro column-div column-large d-none d-md-block">
          {{ content }}
        </div>

      </div>
    </div>
    
  </div>
</section>