<footer class="clearfix" id="get_in_touch_footer" data-scene="rotateZ">
  <a class="container d-flex justify-content-center align-items-center" href="/contact_me">

    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h1 class="text-rosybrown text-uppercase text-gigantic text-center mt-4 mb-0">Drop me a line</h1>
      </div>
    </div>
    
    <div class="footer-copyright copyright text-grey-light"><!--beige-light-->
      © 2015-2020<!--MMXX-->
      <div class="footer-copyright-name">
        Simón Calle Laverde
      </div>
    </div>

  </a>
</footer>