<footer class="clearfix" id="get_in_touch_footer" data-scene><!--data-scene="rotateZ"-->
  <a class="container d-flex justify-content-center align-items-center" href="/contact_me"><!--text-rosybrown--><!--text-grey-light-->

    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h1 class="text-rosybrown text-uppercase text-gigantic text-center"><!--Do you want to create something special?<br>-->Drop me a line</h1><!--text-grey-light-->
      </div>

      {% comment %}
      <div class="col-md-4 offset-md-1">
        <p class="font-paragraph text-rosybrown text-uppercase mt-5 mb-0">I'll be there for you.<br>You can text me at 03:00<span class="text-lowercase">am</span> or a Sunday morning, I don't care.</p><!--Elon Musk's | Lol-->
      </div>
      {% endcomment %}
    </div>
    
    <!--<div class="footer-drop-me-a-line">
      <i class="fa fa-arrow-right text-gigantic text-rosybrown" aria-hidden="true"></i>
    </div>-->
    
    <div class="footer-copyright copyright text-grey-light"><!--beige-light-->
      © 2015-2020<!--MMXX-->
      <div class="footer-copyright-name">
        Simón Calle Laverde
      </div>
    </div>

  </a>
</footer>