<div class="footer-profile-picture">
	<style type="text/css">
	  .glitch-img-logo {
	    background:url('{{ "/uploads/logo-placeholder.jpg" | relative_url }}') no-repeat center center scroll;
	    -webkit-background-size:cover;
	    -moz-background-size:cover;
	    -o-background-size:cover;
	    background-size:cover;
	  }
	</style>
	
	<!--<a href="/">-->
		<div class="profile-picture glitch">
		  <div class="glitch-img glitch-img-logo bg-image" loading="lazy"></div>
		  <div class="glitch-img glitch-img-logo bg-image" loading="lazy"></div>
		  <div class="glitch-img glitch-img-logo bg-image" loading="lazy"></div>
		  <div class="glitch-img glitch-img-logo bg-image" loading="lazy"></div>
		  <div class="glitch-img glitch-img-logo bg-image" loading="lazy"></div>
		</div>
	<!--</a>-->
</div>