<aside class="footer-social-media">
  <div class="mb-3 pb-1">
    <a class="link" href="https://www.facebook.com" target="_blank">
      <span class="icon-facebook">
        {% include icon_facebook.xml %}
      </span>
    </a>
  </div>

  <div class="mb-3 pb-1">
    <a class="link" href="https://www.instagram.com" target="_blank">
      <span class="icon-instagram">
        {% include icon_instagram.xml %}
      </span>
    </a>
  </div>

  <div class="mb-3 pb-1">
    <a class="link" href="https://pinterest.com" target="_blank">
      <span class="icon-pinterest">
        {% include icon_pinterest.xml %}
      </span>
    </a>
  </div>

  <div class="mb-3 pb-1">
    <a class="link" href="https://www.linkedin.com/" target="_blank">
      <span class="icon-linkedin">
        {% include icon_linkedin.xml %}
      </span>
    </a>
  </div>

  <div class="">
    <a class="link" href="https://www.behance.net/" target="_blank">
      <span class="icon-behance">
        {% include icon_behance.xml %}
      </span>
    </a>
  </div>
</aside>