<div class="grid-display" style="position:fixed; width:100vw; height:100vh; top:0; right:0; bottom:0; left:0; z-index:1000; pointer-events:none;">
  <div class="container">
    <div class="row">
      <div class="col-1" style="height:100vh; border-right:1px dotted yellow; border-left:1px dotted yellow;">
      </div>
      <div class="col-1" style="height:100vh; border-right:1px dotted yellow; border-left:1px dotted yellow;">
      </div>
      <div class="col-1" style="height:100vh; border-right:1px dotted yellow; border-left:1px dotted yellow;">
      </div>
      <div class="col-1" style="height:100vh; border-right:1px dotted yellow; border-left:1px dotted yellow;">
      </div>
      <div class="col-1" style="height:100vh; border-right:1px dotted yellow; border-left:1px dotted yellow;">
      </div>
      <div class="col-1" style="height:100vh; border-right:1px dotted yellow; border-left:1px dotted yellow;">
      </div>
      <div class="col-1" style="height:100vh; border-right:1px dotted yellow; border-left:1px dotted yellow;">
      </div>
      <div class="col-1" style="height:100vh; border-right:1px dotted yellow; border-left:1px dotted yellow;">
      </div>
      <div class="col-1" style="height:100vh; border-right:1px dotted yellow; border-left:1px dotted yellow;">
      </div>
      <div class="col-1" style="height:100vh; border-right:1px dotted yellow; border-left:1px dotted yellow;">
      </div>
      <div class="col-1" style="height:100vh; border-right:1px dotted yellow; border-left:1px dotted yellow;">
      </div>
      <div class="col-1" style="height:100vh; border-right:1px dotted yellow; border-left:1px dotted yellow;">
      </div>
      <div class="col-1" style="height:100vh; border-right:1px dotted yellow; border-left:1px dotted yellow;">
      </div>
    </div>
  </div>
</div>