<aside class="header-social-media text-center p-3">
	<div class="header-social-media-interior show-it" style="will-change:filter;">
	  <a class="link mx-1" href="https://www.linkedin.com/" target="_blank" style="padding-right:2px; padding-left:2px;"><!--px-1-->
	    LinkedIn
	  </a>

	  <a class="link mx-1" href="https://www.behance.net/" target="_blank" style="padding-right:2px; padding-left:2px;"><!--px-1-->
	    Behance
	  </a>

	  <a class="link mx-1" href="https://pinterest.com" target="_blank" style="padding-right:2px; padding-left:2px;"><!--px-1-->
	    Pinterest
	  </a>
	</div>
</aside>