{% if page.slug == "home" %}
<!-- unless page.type_slug == 'feedback' or page.layout == "project" -->
  <aside class="header-plus-years d-none d-md-block">
    <div class="show-it">
      <div class="container">

        <div class="row">
          <div class="col-md-3 offset-md-2 offset-xl-1">
            <i class="font-ultra-light text-italic text-chocolate">
              I worked remotely for more
              <br>than 4 years for awesome
              <br>people around the world

              <!-- 4+ years working for
              <br>awesome people
              <br>around the world. -->

              <!--<br>Dozens of real users
              <br>are using the websites
              <br>I have coded.-->

              <!--{% comment %}
              <span class="icon-globe">
                {% include icon_globe.xml %}
              </span>
              {% endcomment %}-->
            </i>
          </div>
        </div>

      </div>
    </div>
  </aside>
<!-- endunless -->
{% endif %}