{% unless page.type_slug == 'feedback' or page.layout == "project" %}
	<aside class="header-social-media text-center p-3">
		<div class="show-it">
		  <a class="link mx-2 mx-md-1" href="{{ site.linkedin_username }}" target="_blank" style="padding-right:2px; padding-left:2px;"><!--px-1-->
		    LinkedIn
		  </a>

		  <a class="link mx-2 mx-md-1" href="{{ site.github_username }}" target="_blank" style="padding-right:2px; padding-left:2px;"><!--px-1-->
		    Github
		  </a>

		  <a class="link mx-2 mx-md-1" href="{{ site.angel_username }}" target="_blank" style="padding-right:2px; padding-left:2px;"><!--px-1-->
		    Angel co
		  </a>
		</div>
	</aside>
{% endunless %}