{% unless page.type_slug == 'feedback' or page.layout == "project" %}<!--or page.slug == 'projects'-->
	<aside class="header-social-media text-center p-3{% if page.slug == 'projects' %} d-block d-lg-none{% endif %}">
		<div class="show-it">
		  <a class="link mx-2" href="{{ site.linkedin_username }}" target="_blank" style="padding-right:2px; padding-left:2px;"><!--px-1-->
		    LinkedIn
		  </a>

		  <a class="link mx-2 d-none d-lg-inline-block" href="{{ site.github_username }}" target="_blank" style="padding-right:2px; padding-left:2px;"><!--px-1-->
		    Github
		  </a>

		  <a class="link mx-2" href="{{ site.dribbble_username }}" target="_blank" style="padding-right:2px; padding-left:2px;"><!--px-1-->
		    Dribbble<!--Angel co-->
		  </a>

		  <a class="link mx-2" href="{{ site.behance_username }}" target="_blank" style="padding-right:2px; padding-left:2px;"><!--px-1-->
		    Behance
		  </a>
		</div>
	</aside>
{% endunless %}