{% unless page.type_slug == 'feedback' %}
  <aside class="header-plus-years">
    <div class="show-it">
      <div class="container">

        <div class="row">
          <div class="col-md-2 offset-md-1">
            <i class="font-ultra-light text-italic text-rosybrown">
              4+ years working for
              <br>--- awesome people
              <br>around the world.
              <span class="icon-globe">
                {% include icon_globe.xml %}
              </span>
            </i>
          </div>
        </div>

      </div>
    </div>
  </aside>
{% endunless %}