<div class="loader-quote bg-beige-light text-chocolate clearfix" id="loader_quote">
  {% if page.slug == "home" %}
    <div class="d-block">
      <span class="letter-1">I'</span><span class="letter-2">m</span><span class="letter-3"> &middot; </span><span class="letter-4">a</span><span class="letter-5">n</span><span class="letter-6"> &middot; </span><span class="letter-7">a</span><span class="letter-8">d</span><span class="letter-9">v</span><span class="letter-10">e</span><span class="letter-11">r</span><span class="letter-12">t</span><span class="letter-13">i</span><span class="letter-14">s</span><span class="letter-15">e</span><span class="letter-16">r</span><span class="letter-17"> &middot; </span>
    </div>
    <br>
    <div class="d-block">
      <span class="letter-18">&</span>
    </div>
    <br>
    <div class="d-block">
      <span class="letter-19"> &middot; </span><span class="letter-20">d</span><span class="letter-21">e</span><span class="letter-22">v</span><span class="letter-23">e</span><span class="letter-24">l</span><span class="letter-25">o</span><span class="letter-26">p</span><span class="letter-27">e</span><span class="letter-28">r</span>
    </div>
  {% else %}
    <span>{{ page.title }}</span>
  {% endif %}
</div>