<div class="loader-area d-flex flex-row justify-content-center align-items-center bg-chocolate text-rosybrown" aria-hidden="true">
  <div class="text-huge">





  <!-- {% if page.slug == "home" %}
    <span>I'</span><span>m</span><span> </span><span>a</span><span>n</span><span> </span><span>a</span><span>d</span><span>v</span><span>e</span><span>r</span><span>t</span><span>i</span><span>s</span><span>e</span><span>r</span><span> </span> <span>&</span> <span>w</span><span>e</span><span>b</span> <span>d</span><span>e</span><span>v</span><span>e</span><span>l</span><span>o</span><span>p</span><span>e</span><span>r</span>
  {% else %}
    <span>{{ page.title }}</span>
  {% endif %} -->





  </div>
</div>