<div class="mobile-dev-notice bg-black text-white text-center d-flex flex-column align-items-center justify-content-center p-5 d-block d-lg-none"><!--Lg to cover until tablet for now--><!--d-md-none-->
  <style type="text/css">
	  .glitch-img-logo {
	    background:url('{{ "/uploads/logo-placeholder.jpg" | relative_url }}') no-repeat center center scroll;
	    -webkit-background-size:cover;
	    -moz-background-size:cover;
	    -o-background-size:cover;
	    background-size:cover;
	  }
	</style>
	<div class="profile-picture glitch">
	  <div class="glitch-img glitch-img-logo bg-image-load"></div>
	  <div class="glitch-img glitch-img-logo bg-image-load"></div>
	  <div class="glitch-img glitch-img-logo bg-image-load"></div>
	  <div class="glitch-img glitch-img-logo bg-image-load"></div>
	  <div class="glitch-img glitch-img-logo bg-image-load"></div>
	</div>

  <h5 class="text-uppercase mt-5 mb-4more">Hey, I haven't forgotten of you mobile users, the mobile version is in development.</h5>

  <h6 class="mb-4more">Will be up soon!</h6>

  <p>Best experience for for now is in desktop with <i>Chrome</i></p>
</div>