<!--IN DEVELOPMENT-->

<nav class="navbar navbar-expand-md d-flex flex-row justify-content-center align-items-end text-center" id="navbar"><!--bg-dark navbar-dark fixed-top-->
	<ul class="navbar-nav">
		<li class="nav-item px-3">
			<a class="nav-link smoothScroll" href="#section_1">Section 1</a>
		</li>
		<li class="nav-item px-3">
			<a class="nav-link smoothScroll" href="#section_2">Section 2</a>
		</li>
		<li class="nav-item px-3">
			<a class="nav-link smoothScroll" href="#section_3">Section 3</a>
		</li>
		<li class="nav-item px-3">
			<a class="nav-link smoothScroll" href="#section_4">Section 4</a>
		</li>
	</ul>
</nav>