<!--IN DEVELOPMENT-->

<nav class="navbar navbar-expand-md d-flex flex-row justify-content-center align-items-end text-center" id="navbar"><!--bg-dark navbar-dark fixed-top-->
	{% if page.slug == "home" %}
		<ul class="navbar-nav">
			<li class="nav-item px-2">
				<a class="nav-link smoothScroll" href="#hello_section">
					<p class="m-0">Hello</p>
				</a>
			</li>
			
			<li class="nav-item px-2">
				<a class="nav-link smoothScroll" href="#my_work">
					<p class="m-0">Work</p><!--Portfolio-->
				</a>
			</li>
			
			<li class="nav-item px-2">
				<a class="nav-link smoothScroll" href="#my_skills">
					<p class="m-0">Skills</p><!--I know--><!--Expertise-->
				</a>
			</li>
			
			<li class="nav-item px-2">
				<a class="nav-link smoothScroll" href="#get_in_touch"><!--section_4-->
					<p class="m-0">Get in touch</p>
				</a>
			</li>

			<!--<li class="nav-item px-2">
				<a class="nav-link" href="/work">
					<p class="m-0">All projects</p>
				</a>
			</li>-->
		</ul>

	{% elsif page.slug == "work" %}
		<ul class="navbar-nav">
			<!--<li class="nav-item px-2">
				<a class="nav-link smoothScroll not-active" href="#content_centered">
					<i class="fa fa-arrow-left" aria-hidden="true"></i>
				</a>
			</li>-->

			<li class="nav-item px-2">
				<a class="nav-link smoothScroll" href="#scroll_to_29">
					<p class="m-0">2019</p>
				</a>
			</li>

			<li class="nav-item px-2">
				<a class="nav-link smoothScroll" href="#scroll_to_23">
					<p class="m-0">2018</p>
				</a>
			</li>

			<li class="nav-item px-2">
				<a class="nav-link smoothScroll" href="#scroll_to_19">
					<p class="m-0">2017</p>
				</a>
			</li>

			<li class="nav-item px-2">
				<a class="nav-link smoothScroll" href="#scroll_to_12"><!--scroll_to_11-->
					<p class="m-0">2016</p>
				</a>
			</li>

			<li class="nav-item px-2">
				<a class="nav-link smoothScroll" href="#scroll_to_4"><!--scroll_to_3-->
					<p class="m-0">2015</p>
				</a>
			</li>

			<!--<li class="nav-item px-2">
				<a class="nav-link smoothScroll not-active" href="#footer">
					<i class="fa fa-arrow-right" aria-hidden="true"></i>
				</a>
			</li>-->
		</ul>
	{% endif %}
</nav>

<!--{% comment %}
<nav class="work">
	<a class="nav-link" href="/work"><p class="m-0">All Projects</p></a>
</nav>
{% endcomment %}-->