<!--Screenreader-->
<div class="sr-only">Navigation</div>

<!--Desktop-->
<nav class="navbar text-right" id="navbar">
  <ul class="navbar-nav">
    {% if page.slug == "home" %}
      <li class="nav-item">
        <a class="nav-link link smoothScroll" href="#home_hello_header">
          Hello
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link link smoothScroll" href="#work_section">
          Work
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link link smoothScroll" href="#get_in_touch_footer">
          Get in touch
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link link" href="/work">
          All projects
        </a>
      </li>

    {% elsif page.slug == "work" %}
      <li class="nav-item">
        <a class="nav-link link smoothScroll" href="#scroll_to_30">
          2020
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link link smoothScroll" href="#scroll_to_28">
          2019
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link link smoothScroll" href="#scroll_to_23">
          2018
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link link smoothScroll" href="#scroll_to_19">
          2017
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link link smoothScroll" href="#scroll_to_11">
          2016
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link link smoothScroll" href="#scroll_to_3">
          2015
        </a>
      </li>
    
    {% elsif page.type_slug == "feedback" %}
      <li class="nav-item">
        <a class="nav-link link" href="/">
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link link" href="/work">
          All Projects
        </a>
      </li>
    {% endif %}
  </ul>
</nav>