<!--Screen Readers-->
<div class="sr-only">Navigation Menu</div>

<!--Desktop | Screen Readers-->
<nav class="navbar d-none d-md-block" id="navbar">
  <ul class="navbar-nav nav-top-desktop">
    {% comment %}
    <li class="nav-item">
      <a class="link nav-link{% if page.slug == 'home' %} active-link{% endif %} link-page-load" href="javascript:delay('/')"><!--Class ".active" has a bug I think with "Rolly.js", where when getting to the bottom the class gets removed forever-->
        <span>Home</span>
      </a>
    </li>
    {% endcomment %}

    <li class="nav-item">
      <a class="link nav-link{% if page.slug == 'about' %} active-link{% endif %} link-page-load" href="javascript:delay('/about')">
        <span>About Me</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="link nav-link{% if page.slug == 'projects' %} active-link{% endif %} link-page-load" href="javascript:delay('/projects')">
        <span>All Projects</span>
        
        {% assign sorted_projects = site.projects %}
        {% assign projects_total_count = 0 %}

        {% for project in sorted_projects %}
          {% assign projects_total_count = projects_total_count | plus:1 %}
        {% endfor %}
        
        <small>
          (<span class="font-light">{{ projects_total_count }}</span>)<!--<i></i>--><!--text-italic-->
        </small>
      </a>
    </li>

    <!--<li class="nav-item">
      <a class="link nav-link{% if page.slug == 'workflow' %} active-link{% endif %} link-page-load" href="javascript:delay('/the_workflow')">
        <span>The workflow</span>
      </a>
    </li>-->

    <li class="nav-item">
      <a class="link nav-link{% if page.slug == 'contact_me' %} active-link{% endif %} link-page-load" href="javascript:delay('/contact_me')"><!--page.type_slug == 'feedback'-->
        <span>Contact Me</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="link nav-link{% if page.slug == 'hire_a_project' %} active-link{% endif %} link-page-load" href="javascript:delay('/hire_a_project')">
        <span>Hire a project</span>
      </a>
    </li>

    <!--<li class="nav-item">
      <a class="nav-link link smoothScroll" href="#home_hello_header">
        Hello
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link link smoothScroll" href="#home_business_projects_section">
        Work
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link link smoothScroll" href="#get_in_touch_footer">
        Get in touch
      </a>
    </li>-->
  </ul>
</nav>