<div class="nav-social-media py-4 px-4more">
  <div class="mb-2 pb-2">
    <a class="text-dark" href="https://www.facebook.com/" target="_blank"><!--data-stick-cursor-->
      <span class="fa-stack custom"><!--fa-1x fa-lg fa-4x-->
        <i class="fa fa-circle fa-stack-2x text-facebook" aria-hidden="true"></i>
        <i class="fa fa-facebook fa-stack-1x text-white" aria-hidden="true"></i>
      </span>
    </a>
  </div>

  <div class="mb-2 pb-2">
    <a class="text-dark" href="https://www.instagram.com/" target="_blank"><!--data-stick-cursor-->
      <span class="fa-stack custom"><!--fa-1x fa-lg fa-4x-->
        <i class="fa fa-circle fa-stack-2x text-instagram" aria-hidden="true"></i>
        <i class="fa fa-instagram fa-stack-1x text-white" aria-hidden="true"></i>
      </span>
    </a>
  </div>

  <div class="">
    <a class="text-dark" href="https://pinterest.com/" target="_blank"><!--data-stick-cursor-->
      <span class="fa-stack custom"><!--fa-1x fa-lg fa-4x-->
        <i class="fa fa-circle fa-stack-2x text-pinterest" aria-hidden="true"></i>
        <i class="fa fa-pinterest fa-stack-1x text-white" aria-hidden="true"></i>
      </span>
    </a>
  </div>
</div>