<!--IN DEVELOPMENT | Still Changes To Do-->

<!--Mobile-->
<aside class="burger-mobile nav-top-mobile d-block d-md-none" id="navbar_mobile" aria-hidden="true">
  <div class="burger-dot">
  </div>
  <div class="burger-dot">
  </div>
  <div class="burger-dot">
  </div>
  <div class="burger-dot">
  </div>
  <div class="burger-dot">
  </div>
  <div class="burger-dot">
  </div>
  <div class="burger-dot">
  </div>
  <div class="burger-dot">
  </div>
  <div class="burger-dot">
  </div>
</aside>

<div class="menu-mobile d-flex flex-row justify-content-center align-items-center d-md-none" aria-hidden="true">
  <div class="menu-mobile-circle-grow">
  </div>

  <nav class="nav-mobile d-flex flex-column justify-content-around align-items-center d-md-none mb-5 pb-2">
    <div class="py-3">
      <a class="nav-mobile-link" href="/about">
        <h2 class="link mb-0{% if page.slug == 'about' %} active{% endif %}">
          About Me
        </h2>
      </a>
    </div>
    <div class="py-3">
      <a class="nav-mobile-link" href="/projects">
        <h2 class="link mb-0{% if page.slug == 'projects' %} active{% endif %}">
          All Projects
        </h2>
      </a>
    </div>
    <div class="py-3">
      <a class="nav-mobile-link" href="/contact_me">
        <h2 class="link mb-0{% if page.type_slug == 'feedback' %} active{% endif %}">
          Contact Me
        </h2>
      </a>
    </div>
  </nav>

  <nav class="nav-mobile-social-media">
    <div class="px-3">
      <a class="link link-linkedin" href="{{ site.linkedin_username }}" target="_blank">
        {% include icon_linkedin.xml %}
      </a>
    </div>
    <div class="px-3">
      <a class="link link-github" href="{{ site.github_username }}" target="_blank">
        {% include icon_github.xml %}
      </a>
    </div>
    <div class="px-3">
      <a class="link link-angel" href="{{ site.angel_username }}" target="_blank">
        {% include icon_angel.xml %}
      </a>
    </div>
  </nav>
</div>