<!--Mobile-->
<aside class="burger-mobile nav-top-mobile d-block d-md-none" id="navbar_mobile" aria-hidden="true">
  <div class="burger-dot">
  </div>
  <div class="burger-dot">
  </div>
  <div class="burger-dot">
  </div>
  <div class="burger-dot">
  </div>
  <div class="burger-dot">
  </div>
  <div class="burger-dot">
  </div>
  <div class="burger-dot">
  </div>
  <div class="burger-dot">
  </div>
  <div class="burger-dot">
  </div>
</aside>

<div class="menu-mobile d-flex flex-row justify-content-center align-items-center d-md-none" aria-hidden="true">
  <!--<div class="burger-circle-grow">
  </div>-->

  <nav class="nav-mobile d-flex flex-column justify-content-around align-items-center d-md-none mb-5 pb-2">
    <div class="py-3">
      <a class="nav-mobile-link{% if page.slug == 'about' %} active-link{% endif %}" href="/about">
        <h2 class="link mb-0">
          About Me
        </h2>
      </a>
    </div>
    <div class="py-3">
      <a class="nav-mobile-link{% if page.slug == 'projects' %} active-link{% endif %}" href="/projects">
        <h2 class="link mb-0">
          All Projects
        </h2>
      </a>
    </div>
    <div class="py-3">
      <a class="nav-mobile-link{% if page.slug == 'hire_a_project' %} active-link{% endif %}" href="/hire_a_project">
        <h2 class="link mb-0">
          Hire a project
        </h2>
      </a>
    </div>
    <div class="py-3">
      <a class="nav-mobile-link{% if page.slug == 'contact_me' %} active-link{% endif %}" href="/contact_me">
        <h2 class="link mb-0"><!--page.type_slug == 'feedback'-->
          Contact Me
        </h2>
      </a>
    </div>
  </nav>

  <nav class="nav-mobile-social-media">
    <div class="px-3">
      <a class="link link-linkedin" href="{{ site.linkedin_username }}" target="_blank">
        {% include icon_linkedin.xml %}
        <!--{% comment %}
        LinkedIn
        {% endcomment %}-->
      </a>
    </div>

    <div class="px-3">
      <a class="link link-github" href="{{ site.github_username }}" target="_blank">
        {% include icon_github.xml %}
        <!--{% comment %}
        GitHub
        {% endcomment %}-->
      </a>
    </div>

    <div class="px-3">
      <a class="link link-behance" href="{{ site.behance_username }}" target="_blank">
        {% include icon_behance.xml %}
        <!--{% comment %}
        Behance
        {% endcomment %}-->
      </a>
    </div>

    <div class="px-3">
      <a class="link link-dribbble" href="{{ site.dribbble_username }}" target="_blank">
        {% include icon_dribbble.xml %}
        <!--{% comment %}
        Dribbble
        {% endcomment %}-->
      </a>
    </div>
  </nav>
</div>