<section class="signup-section bg-yellow text-black text-center clearfix">
  <div class="container" data-aos="fade-zoom-in" data-aos-duration="700" data-aos-easing="ease-in-sine">

    <div class="row">
      <div class="col-md-12">
        <h5 class="text-uppercase pb-2 pb-md-3">Sign up for all the latest news, info and updates!</h5>

        <p class="text-grey-dark pb-2 pb-md-3" style="font-size:16px;">Complete this form with your details and we’ll follow up in a WhatsApp chat to let you know about upcoming trainings and events.</p>

        <form id="join_page_new_signup_form" class="ajaxForm signup_form" method="POST" action="/forms/signups" enctype="multipart/form-data">
          <input name="authenticity_token" type="hidden" value="9bC3YBEoHN8tCIhBIofXjlEjgxnlnkVPhLjh96yOp+o="/>
          <input name="page_id" type="hidden" value="8312"/>
          <input name="return_to" type="hidden" value="https://iwsn-victorianunions.nationbuilder.com/join"/>

          <div class="email_address_form" style="display:none;" aria-hidden="true">
            <p>
              <label for="email_address">Optional email code</label>
              <br/>
              <input name="email_address" type="text" class="text" id="email_address" autocomplete="off"/>
            </p>
          </div>

          <div class="form-errors"></div>

          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="sr-only" for="signup_first_name">First Name</label>
                <input class="text form-control" id="signup_first_name" name="signup[first_name]" placeholder="First Name" type="text" value="Simón" />
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label class="sr-only" for="signup_last_name">Last Name</label>
                <input class="text form-control" id="signup_last_name" name="signup[last_name]" placeholder="Last Name" type="text" value="Calle Laverde" />
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label class="sr-only" for="signup_email">Email</label>
                <input class="text form-control" id="signup_email" name="signup[email]" placeholder="Email" type="email" value="simon@codenation.com" />
              </div>
            </div>
            
            <div class="col-md-3">
              <div class="form-group">
                <label class="sr-only" for="signup_mobile_number">Mobile Phone</label>
                <input class="text form-control" id="signup_mobile_number" name="signup[mobile_number]" placeholder="Mobile Phone" type="tel" />
              </div>
            </div>
          </div>

          <div class="button-wrap mt-2 pt-1">
            <!--Desktop-->
            <input class="btn btn-blue-light btn-lg btn-longer d-none d-md-inline-block" type="submit" name="commit" value="Sign up">
            <!--Mobile-->
            <input class="btn btn-blue-light btn-longer d-inline-block d-md-none" type="submit" name="commit" value="Sign up" aria-hidden="true">
            <div class="form-submit"></div>
          </div>
        </form>
      </div>
    </div>
    
  </div>
</section>