<!--https://flickity.metafizzy.co/options.html#asnavfor-->
<!--https://codepen.io/atelierbram/pen/LRkAxQ-->
<section class="carousel-section bg-grey-dark clearfix">
  <div class="container">

    <h6 class="text-blue-light text-uppercase text-center pb-3">Gallery</h6>

    <div class="flickity-carousel">
      <div class="main-carousel" data-flickity='{"pageDots":false }'>
        {% assign sorted_images = site.carousel | sort:"order" %}
        {% for image in sorted_images %}
          <article class="carousel-cell" id="slider_img_{{ image.slug }}" title="{{ image.name }}">
            <!--Styles must not be direct child-->
            <style type="text/css">
              #slider_img_{{ image.slug }} {
                background:url('{{ image.slider_image }}') no-repeat center center scroll;
                -webkit-background-size:cover;
                -moz-background-size:cover;
                -o-background-size:cover;
                background-size:cover;
              }
            </style>
          </article>
        {% endfor %}
      </div>

      <div class="flickity-carousel-bottom-images mt-2">
        <div class="carousel-nav" data-flickity='{ "asNavFor": ".main-carousel", "contain":true, "pageDots":false }'>
          {% assign sorted_thumbnails = site.carousel | sort:"order" %}
          {% for thumbnail in sorted_thumbnails %}
            <article class="carousel-cell" title="{{ thumbnail.name }}" style="overflow:hidden;">
              <!--Styles must not be direct child-->
              <style type="text/css">
                #thumbnail_{{ thumbnail.slug }} {
                  background:url('{{ thumbnail.slider_image }}') no-repeat center center scroll;
                  -webkit-background-size:cover;
                  -moz-background-size:cover;
                  -o-background-size:cover;
                  background-size:cover;
                }
              </style>
              <div class="scale-element" id="thumbnail_{{ thumbnail.slug }}" style="position:absolute; top:0; right:0; bottom:0; left:0;">
              </div>
            </article>
          {% endfor %}
        </div>
      </div>
    </div>

  </div>
</section>