@include media-breakpoint-up(md) {

  //------------------General Styles------------------//

  // General
  body {
  	//padding:12px;
  }

  // Main, Header, Section
	main, header, section {
		text-align:left;
	}

	// Buttons
  .btn {
    &.btn-60 {
      width:60%;
    }
  }

  // Columnizer
  #column_div, .column_div {
    .first.column {
      padding-right:20px;
    }
    .last.column {
      padding-left:20px;
    }
  }

  // Flickity Carousel
	.flickity-carousel {
	  .main-carousel {
	    article.carousel-cell {
	      height:530px;
	    }
	  }
	  .flickity-carousel-bottom-images {
	  	display:block;//Desktop
	    .carousel-nav {
		    article.carousel-cell {
		      //float:left;
		      width:11.95%;//12.15%
		      height:100px;
		      margin:0 0.35%;
		    }
		    .flickity-button {
		      display:none;
		    }
	    	// Style the selected nav image compared to the others
		    article.carousel-cell {
		      border:3px solid transparent;
		      @include filter(opacity(0.5));
		      &.is-nav-selected {
		        border-color:theme-color("magenta");
		        @include filter(opacity(1));
		      }
		      // > div {
		      // 	&:hover, &:active, &:focus {
			     //  	@include box-shadow(none);
			     //  }
		      // }
		    }
	    }
	  }
	}

	//------------------Section Styles------------------//

	// Logo
	.logo {
	}

	// Nav Desktop
	nav.navbar {
		position:fixed;
		width:100vh;//100%//We Will Use Viewport-Height To Apply To The Width
		height:60px;
		left:100%;//auto
    z-index:10000;
		//mix-blend-mode:difference;
		@include transform(rotateZ(90deg) translateY(10px));
  	@include transform-origin(0% 0%);
    @include transition(all 1000ms cubic-bezier(0.77,0,0.175,1));
    ul.navbar-nav {
    	li.nav-item {
	    	a.nav-link {
	    		position:relative;
	    		padding:0 0.5rem;//0.5rem 1rem
	    		font-family:$font-headline;
	    		//font-weight:bold;
	    		font-size:14.5px;
	    		color:#FFF;
	    		white-space:nowrap;
	    		//@include text-shadow(0 0 10px #FFF);
	    		&:hover {//, &:active, &:focus
	    			color:theme-color('grey-light');//#FFF
	    			@include text-shadow(0 0 10px theme-color('grey-light'), 0 0 20px rgba(0,0,0,1));
	    		}
		    	&.active {
						color:theme-color('grey-light');
	    			@include text-shadow(0 0 10px theme-color('grey-light'), 0 0 20px rgba(0,0,0,1));
	    			@include transition(all 0.3s ease-out);
	    			// &:hover {
		    		// 	color:#6D510A;
		    		// }
		    		&:after {
		    			content:'';
		    			position:absolute;
		    			right:calc(50% - 3.5px);
		    			bottom:-7px;
		    			width:7px;
		    			height:7px;
		    			border:1.5px solid theme-color('grey-light');
		    			@include border-radius(50%);
		    			@include transition(none);
		    		}
					}
	    	}
    	}
    }
	}

	// Work
	nav.work {
		position:fixed;
		right:8px;
		bottom:60px;
		z-index:10001;
		a {
			color:#FFF;
			@include transform(rotate(90deg));
			&:hover, &:active, &:focus {
				color:theme-color('grey-light');
			}
		}
	}

	// Middle
  main#middle {
  }

  // Blog Page
	section.blog-page {
	  padding:50px 0 25px;
	}

	// Calendar Page
	section.calendar-page {
	  padding:50px 0 25px;
	}

	// Feedback Page
	section.feedback-page {
		// .feedback-form {
		// 	height:100vh;
		// 	//min-height:640px;
		// }
	}

	// Home One Section
	header.home-one-section {
		padding-right:0;
  	padding-left:0;
		.container {
			padding-top:100px;
			padding-bottom:60px;
		}
	}

	// Home Two Section
	section.home-two-section {
		min-height:100vh;
		padding:60px 0;
	}

	// Home Three Section
	section.home-three-section {
		min-height:100vh;
		padding:60px 0;
	}

	// Home Four Section
	section.home-four-section {
		min-height:80vh;//100vh
		padding:60px 0 0;
	}

	// Work Section
	section.work-section {
	}

	//------------------Page Styles------------------//

	// Theme Colour White
	body.theme-colour.white {
		//padding:0;
		.navbar {
			ul.navbar-nav {
	    	li.nav-item {
		    	a.nav-link {
		    		color:theme-color('grey-dark');
		    		&:hover {//, &:active, &:focus
		    			color:#000;
		    			@include text-shadow(0 0 20px rgba(0,0,0,0.5), 0 0 20px rgba(235,0,130,0.5));
		    		}
			    	&.active {
							color:theme-color('magenta');
							@include text-shadow(0 0 20px rgba(0,0,0,0.5), 0 0 20px rgba(235,0,130,0.5));
			    		&:after {
			    			border:1.5px solid theme-color('magenta');
			    		}
						}
		    	}
	    	}
	    }
		}
	}

}//@media

//------------------Other Media Queries------------------//

@include media-breakpoint-up(xl) {
	
	// main#middle {
	// 	.container {
	//     max-width:1010px;
	//   }
	// }

	.container {
		max-width:1055px;//Was 1140px
	}

}//@media