// Connecting feelings with features

//----------------------------------General Styles----------------------------------//

// Fonts
@import "styles_fonts";

// Background Size Mixin
@mixin background-size($size) {
  -webkit-background-size:$size;
     -moz-background-size:$size;
      -ms-background-size:$size;
       -o-background-size:$size;
          background-size:$size;
}

// Border Radius Mixin
@mixin border-radius($radius) {
  -webkit-border-radius:$radius;
     -moz-border-radius:$radius;
      -ms-border-radius:$radius;
       -o-border-radius:$radius;
          border-radius:$radius;
}

// Border Top Right Radius Mixin (Corner)
@mixin border-top-right-radius($top-right-radius) {
  -webkit-border-top-right-radius:$top-right-radius;
     -moz-border-top-right-radius:$top-right-radius;
      -ms-border-top-right-radius:$top-right-radius;
       -o-border-top-right-radius:$top-right-radius;
          border-top-right-radius:$top-right-radius;
}

// Border Top Left Radius Mixin (Corner)
@mixin border-top-left-radius($top-left-radius) {
  -webkit-border-top-left-radius:$top-left-radius;
     -moz-border-top-left-radius:$top-left-radius;
      -ms-border-top-left-radius:$top-left-radius;
       -o-border-top-left-radius:$top-left-radius;
          border-top-left-radius:$top-left-radius;
}

// Border Bottom Right Radius Mixin (Corner)
@mixin border-bottom-right-radius($bottom-right-radius) {
  -webkit-border-bottom-right-radius:$bottom-right-radius;
     -moz-border-bottom-right-radius:$bottom-right-radius;
      -ms-border-bottom-right-radius:$bottom-right-radius;
       -o-border-bottom-right-radius:$bottom-right-radius;
          border-bottom-right-radius:$bottom-right-radius;
}

// Border Bottom Left Radius Mixin (Corner)
@mixin border-bottom-left-radius($bottom-left-radius) {
  -webkit-border-bottom-left-radius:$bottom-left-radius;
     -moz-border-bottom-left-radius:$bottom-left-radius;
      -ms-border-bottom-left-radius:$bottom-left-radius;
       -o-border-bottom-left-radius:$bottom-left-radius;
          border-bottom-left-radius:$bottom-left-radius;
}

// Transform Mixin
@mixin transform($transform) {
  -webkit-transform:$transform;
     -moz-transform:$transform;
      -ms-transform:$transform;
       -o-transform:$transform;
          transform:$transform;
}

// Transform Origin Mixin
@mixin transform-origin($transform-origin) {
  -webkit-transform-origin:$transform-origin;
     -moz-transform-origin:$transform-origin;
      -ms-transform-origin:$transform-origin;
       -o-transform-origin:$transform-origin;
          transform-origin:$transform-origin;
}

// Transition Mixin
@mixin transition($transition...) {
  -webkit-transition:$transition;
     -moz-transition:$transition;
      -ms-transition:$transition;
       -o-transition:$transition;
          transition:$transition;
}

// Transition Delay Mixin
@mixin transition-delay($delay) {
  -webkit-transition:$delay;
     -moz-transition:$delay;
      -ms-transition:$delay;
       -o-transition:$delay;
          transition:$delay;
}

// Filter Mixin
@mixin filter($filter...) {
  -webkit-filter:$filter;
     -moz-filter:$filter;
      -ms-filter:$filter;
       -o-filter:$filter;
          filter:$filter;
}

// Box Shadow Mixin
@mixin box-shadow($box-shadow...) {
  -webkit-box-shadow:$box-shadow;
     -moz-box-shadow:$box-shadow;
      -ms-box-shadow:$box-shadow;
       -o-box-shadow:$box-shadow;
          box-shadow:$box-shadow;
}

// Text Shadow Mixin
@mixin text-shadow($text-shadow...) {
  -webkit-text-shadow:$text-shadow;
     -moz-text-shadow:$text-shadow;
      -ms-text-shadow:$text-shadow;
       -o-text-shadow:$text-shadow;
          text-shadow:$text-shadow;
}

// Animation Mixin
@mixin animation($animation...) {
  -webkit-animation:$animation;
     -moz-animation:$animation;
      -ms-animation:$animation;
       -o-animation:$animation;
          animation:$animation;
}

// Animations
@import "styles_animations";

// General
html {
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing:subpixel-antialiased;//-webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  font-smooth:always;
  ::-webkit-scrollbar {
    display:none;
  }
}
body {
  //overflow-x:hidden;//For GSAP Smooth Page Scrolling
  //overflow-y:scroll;//For GSAP Smooth Page Scrolling
  position:relative;//For Scroll Spy
  font-family:$font-paragraph;
  font-weight:300;
  font-style:normal;
  font-size:17px;
  background-color:#FFF;//theme-color('grey-dark')
  //cursor:default;//After Loading, Including Intro Animation
  //overflow:auto;//After Loading, Including Intro Animation
  z-index:1;
  overscroll-behavior-y:none;//WOW!!! (4:44am, tryied around 4 diff plugins and ways, and this was the answer)
  //@include transform(translateY(0));
  @include transition(all ease-out 0.3s);
  &.loading {
    //cursor:progress;
    //@include filter(opacity(0));
  }
  &.rendering {
    cursor:progress;//While Loading
    overflow:hidden;//While Loading
  }
  &.imagesloaded {//&.render
    //@include filter(opacity(1));
    @include animation(backgroundTranslateAnim 0.7s ease-in 1.1s forwards);
    main {
      @include transform(translateY(100vh));
      @include animation(mainTranslateAnim 0.7s ease-in 1.5s forwards);
      //@include animation(bodyFadeInAnim 1s ease-in);
    }
    aside.nav-social-media, .copyright, aside.change-features, nav.navbar {
      @include filter(opacity(0));
      @include animation(fadeInAnim 0.2s ease-in 2s forwards);
    }
  }
}
// p {
//   font-family:$font-paragraph;
// }
h1, h2, h3, h4, h5, h6 {
  font-family:$font-headline;
  font-weight:500;
  font-style:normal;
  letter-spacing:3px;
}
.font-headline {
  font-family:$font-headline!important;
  font-weight:500!important;
  letter-spacing:3px;
}
.font-subtitle {
  font-family:$font-subtitle!important;
  font-weight:normal!important;
  letter-spacing:1.5px;
}
.font-paragraph {
  font-family:$font-paragraph!important;
  font-weight:300!important;
}
.font-headline, .font-subtitle, .font-paragraph {
  font-style:normal!important;
}
img {
  max-width:100%;
}
.intro {
  font-size:16px;
  color:#FFF;
  p {
  }
  blockquote {
    color:theme-color("grey-light");
  }
  img, iframe {
    margin:20px auto;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-bottom:15px;
  }
}
.scale-element {
  //@include box-shadow(0 2px 7px rgba(0,0,0,0.1)!important);//Starting Slight Shadow (Optional)
  @include transition(all ease-out 0.5s);
  &:hover {//, &:active, &:focus
    @include transform(scale(1.03));
    @include box-shadow(0 5px 15px rgba(0,0,0,0.4)!important);
  }
}
.overlay {//.filter
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-color:rgba(0,0,0,0.3);
}
iframe {
  border:none;
}
figure {
  margin:0;//
  figcaption, time {
    pointer-events:none;
  }
}

// Main, Header, Section, Footer
main, header, section, footer {
  position:relative;
}
main {
  background-color:theme-color('grey-dark');
  text-align:center;
  z-index:2;
  @include transition(all ease-in-out 0.3s);
  #grid {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    pointer-events:none;
    z-index:3;
    .container {
      // border-left:0.5px solid rgba(255,255,255,0.1);
      // border-right:0.5px solid rgba(255,255,255,0.1);
      .row {
        div {
          position:relative;
          .grid-element {
            height:100vh;
            border-right:0.5px solid rgba(255,255,255,0.1);
          }
          &:first-child {
            .grid-element {
              border-left:0.5px solid rgba(255,255,255,0.1);
              border-right:none;
            }
          }
        }
      }
    }
  }
  > .scroll-container, > [data-scroll] {
    position:fixed;//So it remains above #grid
    width:100%;//As it is fixed
    z-index:4;
  }
}

// Nav Social Media, Copyright, Change Features, Navbar {
aside.nav-social-media, .copyright, aside.change-features, nav.navbar {
  z-index:6000;
}

// Header Image
.header-image {
}

// Link Overrides
a {
  color:theme-color('magenta');
  //cursor:none;
  @include transition(all ease-out 0.5s);
  &:hover, &:active, &:focus {
    color:lighten(theme-color('magenta'),15);
    text-decoration:none;
  }
  &.text-black {
    &:hover, &:active, &:focus {
      color:lighten(#000,15)!important;
    }
  }
  &.text-white {
    &:hover, &:active, &:focus {
      color:darken(#FFF,15)!important;
    }
  }
  &.text-grey-dark {
    &:hover, &:active, &:focus {
      color:lighten(theme-color("grey-dark"),15)!important;
    }
  }
  &.text-grey-mid {
    &:hover, &:active, &:focus {
      color:lighten(theme-color("grey-mid"),15)!important;
    }
  }
  &.text-grey-light {
    &:hover, &:active, &:focus {
      color:darken(theme-color("grey-light"),15)!important;
    }
  }
}

// Buttons
.btn {
  // font-family:$font-subtitle;
  // font-weight:normal;
  // font-style:normal;
  text-transform:uppercase;
  white-space:nowrap;
  @include border-radius(0);
  @include transition(all ease-out 0.3s);
  &.btn-longer {
    padding-right:2.5em;
    padding-left:2.5em;
  }
  &:hover {//, &:active, &:focus
    @include transform(scale(1.03));
    @include box-shadow(0 5px 15px rgba(0,0,0,0.4)!important);
  }
  &.btn-60 {
    width:100%;//Mobile
    text-align:center;
  }
  &.btn-100 {
    width:100%;
    text-align:center;
  }
}

// Bootstrap Complements
.position-relative {
  position:relative;
}
.position-absolute {
  position:absolute;
}
.text-bold {
  font-weight:bold!important;
}
.text-lighter {
  font-weight:lighter!important;
}
.text-transform-none {
  text-transform:none!important;
}
.text-underline {
  text-decoration:underline!important;
}

// Headline, Title, Subtitle
.headline {
  color:transparent;//#000
  //-webkit-text-fill-color:#000;//Will Override Color (Regardless Of Order)
  //-webkit-text-stroke-width:2px;
  //-webkit-text-stroke-color:#FFF;
  -webkit-text-stroke:2px #FFF;
  @include transition(all ease-out 0.3s);
  &.soft {
    -webkit-text-stroke-width:1.5px;
    &:hover, &:active, &:focus {
      -webkit-text-stroke-width:1.5px;
    }
  }
  &:hover, &:active, &:focus {
    color:#FFF;//
    //-webkit-text-fill-color:#FFF;//Will Override Color (Regardless Of Order)
    //-webkit-text-stroke-width:2px;
    //-webkit-text-stroke-color:#FFF;
    -webkit-text-stroke:2px #FFF;
  }
}

// Forms
input.text, textarea.textarea, .form-group > select {
  height:40px;
  padding:8px 15px;
  border:none;//
  @include border-radius(0);
}
.form-group {
  > select {
    &:hover, &:active, &:focus {
      cursor:pointer;
    }
  }
}

// Panels
// article {
//   .article-caption {
//     font-size:14px;
//     line-height:1.25;
//     color:#FFF;
//   }
// }
.mobile-thumbnail-control {
  min-height:300px;
}
article.project-article {
  z-index:100;
  &.home {
    .project-thumbnail {
      position:relative;
      height:330px;
      time.project-year {
        position:absolute;
        top:15%;//80%
        right:0;
        font-family:$font-subtitle;
        font-weight:normal;
        @include transform(rotate(90deg) translateY(-26px));
      }
      figcaption.project-caption {
        .project-name, .project-roles {
          background-color:rgba(0,0,0,0.9);
          h1, h2, h3, h4, h5, h6 {
            color:theme-color('grey-light');
          }
        }
      }
    }
  }
  &.work {
    margin-bottom:104px;
    will-change:scroll-position;//transform
    .project-thumbnail {
      position:relative;
      height:330px;
      time.project-year {
        position:absolute;
        top:15%;//80%
        right:0;
        font-family:$font-subtitle;
        font-weight:normal;
        @include transform(rotate(90deg) translateY(-26px));
        //@include transform(skewY(0deg));
      }
      figcaption.project-caption {
        .project-name, .project-roles {
          background-color:rgba(255,255,255,0.95);
          h1, h2, h3, h4, h5, h6 {
            color:theme-color('grey-dark');
          }
        }
      }
    }
  }
}

// Flickity Carousel
.flickity-carousel {
  .main-carousel, .carousel-nav {
    width:100%;
    article.carousel-cell {
      width:100%;
      height:350px;
    }
    .flickity-button {
      background-color:rgba(0,0,0,1);
      svg.flickity-button-icon {
        width:40%;
        left:30%;
        color:#FFF;
      }
      &.flickity-prev-next-button.next {
        right:20px;
      }
      &.flickity-prev-next-button.previous {
        left:20px;
      }
      &:hover, &:active, &:focus {
        opacity:1;
        @include filter(opacity(0.65));
        @include box-shadow(none);
      }
    }
    // ol.flickity-page-dots {
    //   display:none;
    // }
  }
  .flickity-carousel-bottom-images {
    display:none;//Mobile
  }
}

// Modal
.modal {
  .modal-content {
    @include border-radius(0);
    .modal-header, .modal-footer {
      border:none;
    }
    .modal-header {
      button.close {
        &:hover, &:active, &:focus {
          outline:none;
        }
      }
    }
  }
}

// Nav Social Media
.nav-social-media {
  position:fixed;
  //float:left;//For shape-outside
  top:33%;
  left:0;
  z-index:10000;
  //shape-outside:circle(50%);
  @include border-radius(50%);
  span.fa-stack.custom {
    height:27px;//Was 2em
    .fa-stack-2x, .fa-circle {
      font-size:1.8rem;//Was 2em
      color:#FFF!important;
      @include transition(all ease-out 0.3s);
    }
    .fa-stack-1x, .fa-facebook, .fa-pinterest, .fa-instagram {
      font-size:0.9rem;
      line-height:2;
      color:#000!important;
      @include transition(all ease-out 0.3s);
    }
    &:hover, &:active, &:focus {
      @include filter(opacity(0.9));
    }
  }
  a {
    &:hover, &:active, &:focus {
      span.fa-stack.custom {
        .fa-stack-2x, .fa-circle {
          &.text-facebook {
            color:theme-color('facebook-inverted')!important;
          }
          &.text-instagram {
            color:theme-color('instagram-inverted')!important;
          }
          &.text-pinterest {
            color:theme-color('pinterest-inverted')!important;
          }
        }
      }
    }
  }
}
@media (pointer:coarse) and (hover:none) {
  .nav-social-media {
    span.fa-stack.custom {
      .fa-stack-2x, .fa-circle {
        color:inherit!important;
        &.text-facebook {
          color:theme-color('facebook')!important;
        }
        &.text-instagram {
          color:theme-color('instagram')!important;
        }
        &.text-pinterest {
          color:theme-color('pinterest')!important;
        }
      }
      .fa-stack-1x, .fa-facebook, .fa-pinterest, .fa-instagram {
        color:#FFF!important;
      }
    }
    a {
      &:hover, &:active, &:focus {
        span.fa-stack.custom {
          .fa-stack-2x, .fa-circle {
            &.text-facebook {
              color:lighten(theme-color('facebook'),10)!important;
            }
            &.text-instagram {
              color:lighten(theme-color('instagram'),10)!important;
            }
            &.text-pinterest {
              color:lighten(theme-color('pinterest'),10)!important;
            }
          }
        }
      }
    }
  }
}//@media

// General Social Circle Buttons Hover Effect
span.fa-stack {
  &:hover, &:active, &:focus {
    i.fa {
      @include animation(fa-spin 0.3s linear);//0.4s
    }
  }
}

// // Switch Colour Wrap
// .switch-colour-wrap {
//   position:absolute;
//   //width:auto;//250px
//   top:40px;
//   right:40px;
//   z-index:10001;
//   a.switch-theme-colour {
//     width:20px;
//     height:20px;
//     margin-left:5px;
//     padding:0;
//     vertical-align:top;
//     outline:none!important;//
//     @include border-radius(0.2rem);
//     @include animation(switchAnim 1s infinite alternate);
//     &.btn-outline-black {
//       border-width:1px;
//       @include box-shadow(none!important);
//     }
//     &:hover {//, &:active, &:focus
//       @include transform(scale(1.2));
//       @include box-shadow(0 0 5px rgba(255,255,255,0.5)!important);
//     }
//     &:hover, &:active, &:focus {
//       outline:none!important;//
//     }
//   }
// }
// @media (pointer:coarse) and (hover:none) {
//   .switch-colour-wrap {
//     a.switch-theme-colour {
//       &:hover, &:active, &:focus {
//         @include box-shadow(0 0 5px rgba(0,0,0,0.5)!important);
//       }
//     }
//   }
// }//@media

// // Section Number
// .section-number {
//   position:absolute;
//   height:100vh;//calc(100vh - 120px)
//   //top:45px;
//   left:15%;//10%//100%
//   color:#FFF;
//   font-family:$font-headline;
//   font-size:20rem;
//   text-align:center;
//   //z-index:9000;
//   -webkit-text-fill-color:#000;//Will Override Color (Regardless Of Order)
//   //-webkit-text-stroke-width:2px;
//   //-webkit-text-stroke-color:#FFF;
//   -webkit-text-stroke:2px #FFF;
//   @include filter(opacity(0.3));
//   // @include transform(rotateZ(90deg) translateY(-4%));//translateY(-26.4%)
//   // @include transform-origin(0% 0%);
//   & + .container, &  .container {
//     z-index:9500;
//   }
// }

// Text Line Through
.text-line-through {
  position:relative;
  &:after, &:before {
    content:"";
    position:absolute;
    width:100%;
    height:3px;
    top:45%;//50%
    left:0;
    background-color:#FFF;//theme-color('magenta')
    pointer-events:none;
    //mix-blend-mode:difference;
    //animation-name:textLineThroughAnim;
    //animation-duration:4s;
    //animation-timing-function:linear;
    //animation-iteration-count:1;
    //animation-fill-mode:forwards;
    @include animation(textLineThroughAnim 5s linear 2s infinite);//ease-in-out
  }
  &:before {
    width:0;
    left:0;
    @include animation(none);
    @include transition(all linear 0.5s);
  }
  &.websites-text {
    &:after {
      @include animation(textLineThroughAnim 5s linear 3.2s infinite);//ease-in-out
    }
  }
}
a {
  &:hover {
    &.text-line-through {
      //&.branding-text, &.websites-text {
        &:after {
          background-color:transparent;
        }
        &:before {
          width:100%;
          right:0;
          left:0;
        }
      //}
    }
  }
}

// Copyright
.copyright {
  position:fixed;
  bottom:30px;
  left:35px;
  font-size:15px;
  z-index:10000;
  mix-blend-mode:difference;
}

// Mobile Dev Notice
.mobile-dev-notice {
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:99999;
  .profile-picture {
    display:inline-block;
    width:150px;
    height:145px;
    @include border-radius(50%);
    @include filter(grayscale(100%));
  }
}

// Text Stroke
.text-transparent {
  color:transparent!important;
}
.text-stroke-white {
  -webkit-text-stroke:2px #FFF!important;
}
.text-stroke-magenta {
  -webkit-text-stroke:2px theme-color('magenta')!important;
}

// Change Features
aside.change-features {
  position:fixed;
  top:30px;
  right:3.55%;
  font-size:15px;
  z-index:10001;
  //mix-blend-mode:difference;
  @include filter(opacity(0));
  span {//, i
    cursor:not-allowed;//no-drop
  }
  i.fa {
    font-size:13px;
  }
  .show-message {
    position:absolute;
    top:-5px;
    left:-260px;
    background-color:rgba(255,255,255,0.8);
    white-space:nowrap;
    @include border-radius(0.5rem);
    @include filter(opacity(1));
  }
}

// Show It & Hide It
.show-it, .hide-it {
  //@include transition(filter ease-out 0.5s);
}
.show-it {
  @include animation(fadeInAnim 0.5s ease-out forwards);
  //@include filter(opacity(1)!important);
}
.hide-it {
  @include animation(fadeOutAnim 0.5s ease-out forwards);
  //@include filter(opacity(0)!important);
}

// Slick Carousel
.slick-carousel {
  .slick-slide {
    outline:none;
  }
  .slick-arrow {
    &.slick-prev, &.slick-next {
      top:41%;
    }
    &.slick-prev {
      left:120px;
    }
    &.slick-next {
      right:auto;
      left:170px;
    }
  }
}

// // Loader (Dots)
// #loader {
//   position:fixed;
//   //display:table-cell;
//   width:100vw;
//   height:100vh;
//   margin:auto;
//   top:100%;//0
//   right:0;
//   bottom:0;
//   left:0;
//   //vertical-align:middle;
//   color:theme-color('magenta');//#FFF
//   text-align:center;
//   z-index:200000;
//   i {
//     display:none;
//     font-size:40px;
//     font-weight:900;
//   }
// }
// .imagesloaded #loader {
//   display:none;
// }

// Hero Note
.hero-note {
  //width:305px;
  height:305px;
  font-size:13px;
  //text-align:justify;
  writing-mode:vertical-rl;
  text-orientation:mixed;
  //@include transform(rotate(90deg) translateX(-110px));
  i.fa {
    font-size:10px;
    @include transform(rotate(90deg) translateY(3px));
  }
}

//----------------------------------Section Styles----------------------------------//

// Blog Page
section.blog-page {
  padding:30px 20px;
}

// Calendar Page
section.calendar-page {
  padding:30px 20px;
}

// Feedback Page
section.feedback-page {
  padding:30px 20px;
}

// Home Hello Header
header.home-hello-header {
  padding-top:30px 20px;//To revise mobile
}

// About Me Section
section.about-me-section {
  padding:30px 20px;//To revise mobile
}

// Home My Work Section
section.home-my-work-section {
  padding:30px 20px;//To revise mobile
}

// Home My Skills Section
section.home-my-skills-section {
  padding:30px 20px;//To revise mobile
}

// Home Education Section
section.home-education-section {
  padding:30px 20px;//To revise mobile
}

// Work Section
section.work-section {
  padding:0 20px;
}

// Plans Section
section.plans-section {
  padding:30px 20px 0;
}

// Footer
footer {
  font-size:16px;
  @include transition(all ease-out 0.3s);
  .footer-profile-picture {
    text-align:center;
    .profile-picture {
      //position:absolute;
      display:inline-block;
      width:250px;//var(--glitch-width)
      height:240px;//var(--glitch-height)
      //--glitch-width:250px;//100px
      //--glitch-height:240px;//95px
      //top:40px;
      //left:40px;
      //z-index:10000;
      //cursor:pointer;
      @include border-radius(50%);
      @include filter(grayscale(100%));
      @include transition(all ease-out 0.3s);
      &:hover, &:active, &:focus {
        @include filter(grayscale(0));
      }
    }
  }
  
  article {
    iframe {
      @include border-radius(0.3rem);
    }
  }

  .see-letter-button {
    cursor:alias;
  }

  .plans-text {
    // position:relative;
    // &:after {
    //   content:"";
    //   position:absolute;
    //   width:100%;
    //   height:0;
    //   bottom:12%;
    //   left:0;
    //   background-color:#FFF;
    //   //mix-blend-mode:difference;
    //   @include filter(opacity(0.5));
    //   @include transition(all ease-out 0.15s);
    // }
    // &:hover {
    //   &:after {
    //     height:76%;
    //     //@include animation(textPaintAnim 0.3s ease-in);//infinite
    //   }
    // }
  }
}

//----------------------------------Page Styles----------------------------------//

// Blog Page
body.page-type-blog {
}

// Calendar Page
body.page-type-calendar {
}

// Feedback Page
body.page-type-feedback {
}

// Work Page (Basic)
body.page-type-basic.work {
}

// Theme Colour White
body.theme-colour.white {
  main {
    background-color:theme-color('grey-light');
  }
  .text-white, .text-grey-light, .text-grey-mid {
    color:theme-color('black')!important;
  }
  .text-stroke-white {
    -webkit-text-stroke-color:theme-color('grey-dark')!important;
  }
  .text-grey-light {
    color:theme-color('grey-dark')!important;
  }
  .copyright {
    color:theme-color('grey-light')!important;
  }
  .intro {
    color:#000;
  }
  a {
    > span > i, > span, > i, > u, > p, > h1, > h2, > h3, > h4, > h5, > h6 {
      &:hover {
        cursor:pointer;
      }
    }
  }
  i.fa {
    &:hover {
      cursor:pointer;
    }
  }
  .cursor {
    //display:none;//Script adds display
    background-color:transparent;
    border-color:transparent;//theme-color('magenta')
    //@include transition(border-color ease-out 0);
    &:after {
      display:none;
    }
    // &.hoveredLink {
    //   //width:110px;
    //   //height:110px;
    //   //background-color:theme-color('magenta');
    //   //border-width:0.5px;
    //   //border-color:transparent;
    //   @include transform(scale(1));//translateX(-30px) translateY(-30px)
    //   @include filter(opacity(0.2));
    //   @include transition(transform ease-out 0.2s, background-color ease-out 0.2s);
    // }
  }
  .footer-profile-picture {
    .profile-picture {
      @include filter(grayscale(0));
    }
  }
  .nav-social-media {
    span.fa-stack.custom {
      .fa-stack-2x, .fa-circle {
        color:inherit!important;
        &.text-facebook {
          color:theme-color('facebook')!important;
        }
        &.text-instagram {
          color:theme-color('instagram')!important;
        }
        &.text-pinterest {
          color:theme-color('pinterest')!important;
        }
      }
      .fa-stack-1x, .fa-facebook, .fa-pinterest, .fa-instagram {
        color:#FFF!important;
      }
    }
    a {
      &:hover, &:active, &:focus {
        span.fa-stack.custom {
          .fa-stack-2x, .fa-circle {
            &.text-facebook {
              color:lighten(theme-color('facebook'),10)!important;
            }
            &.text-instagram {
              color:lighten(theme-color('instagram'),10)!important;
            }
            &.text-pinterest {
              color:lighten(theme-color('pinterest'),10)!important;
            }
          }
        }
      }
    }
  }
  article.project-article {
    &.home, &.work {
      .project-thumbnail {
        time.project-year {
          color:theme-color('magenta')!important;
        }
      }
    }
  }
  // .switch-colour-wrap {
  //   a.switch-theme-colour {
  //     &:hover {//, &:active, &:focus
  //       @include box-shadow(0 0 5px rgba(0,0,0,0.5)!important);
  //     }
  //   }
  // }
  .headline {
    -webkit-text-stroke:2px theme-color('grey-dark');
    &:hover, &:active, &:focus {
      color:theme-color('grey-dark');//
      -webkit-text-stroke:2px theme-color('grey-dark');
    }
  }
  .text-line-through {
    &:after, &:before {
      background-color:theme-color('grey-dark');
    }
  }
  a {
    &:hover {
      &.text-line-through {
        &:after {
          background-color:transparent;
        }
      }
    }
  }
}

//----------------------------------Cursor Custom Styles----------------------------------//

// Cursor
a {
  > span > i, > span, > i, > u, > p, > h1, > h2, > h3, > h4, > h5, > h6 {//> figure
    &:hover {
      cursor:none;
    }
  }
}
i.fa {
  &:hover {
    cursor:none;
  }
}
.cursor {
  display:none;
  position:fixed;
  width:50px;
  height:50px;
  background-color:transparent;
  border:1px solid transparent;
  z-index:11000;
  pointer-events:none;
  will-change:transform, filter, background-color;//transform, opacity
  @include border-radius(50%);
  @include transition(all ease-out 0.2s);//ease-out 100ms
  //@include animation(cursorAnim1 0.5s infinite alternate);
  // &.cursor-on-click {
  //   background-color:transparent;
  //   border-color:theme-color('blue-light');
  //   @include animation(cursorAnim3 0.5s forwards);
  // }
  &:before, &:after {
    content:"";
    position:absolute;
    width:50px;
    height:50px;
    top:-1px;
    left:-1px;
    background-color:transparent;
    border:1px solid #FFF;
    @include border-radius(50%);
  }
  &:before {
    padding-top:40px;
    font-family:$font-headline;
    font-weight:500;
    font-size:13.5px;
    color:#FFF;
    border-color:transparent;
    text-transform:uppercase;
    letter-spacing:2px;
    white-space:nowrap;
    text-align:center;
    z-index:11002;
    will-change:width, height, background-color, border-color, transform;
    @include transition(none);
  }
  &:after {
    z-index:11001;
    will-change:background-color, transform;
    @include transition(background-color ease-out 0.3s, transform ease-out 0.3s);
  }
  &.hoveredLink {
    mix-blend-mode:difference;
    @include transition(all ease-out 0.3s);
    &:after {
      background-color:#FFF;
      @include transform(scale(2.2));
    }
  }
  &.hoveredProject {
    @include transition(all ease-out 0.2s);
    @include animation(fa-spin 5s linear infinite);
    &:before {
      content:"View It";
      width:100px;
      height:100px;
      background-color:theme-color('magenta');
      border-color:theme-color('magenta');
      @include transform(translateY(-25px) translateX(-25px));
    }
  }
  &.hoveredModal {
    &:after {
      border-color:#000;
    }
  }
  // &:after {
  //   display:none;
  //   content:"";
  //   position:absolute;
  //   width:120px;
  //   height:120px;
  //   top:0;
  //   left:0;
  //   border:1px solid theme-color('magenta');
  //   @include border-radius(50%);
  //   @include filter(opacity(0.8));
  //   @include animation(cursorAnim2 0.5s infinite alternate);
  // }
}
@media (pointer:coarse) and (hover:none) {
  .cursor {
    display:none!important;
  }
}//@media
@include media-breakpoint-down(md) {
  .cursor {
    display:none!important;
  }
}//@media

//----------------------------------Smoothly Scrolling Behavior & Page Loader Styles----------------------------------//

// Page Loader
body {
  &:before {
    content:"";//Don't spend a small effort for a big result//A website made with \f004
    position:fixed;
    display:flex;//To add prefixes
    flex-direction:row;//To add prefixes
    align-items:center;//To add prefixes
    justify-content:center;//To add prefixes
    width:100%;
    height:100%;
    top:0;
    right:0;
    bottom:0;
    left:0;
    font-family:$font-headline;
    //font-weight:bold;
    font-style:italic;
    font-size:15px;
    color:#FFF;//theme-color('magenta')
    background-color:theme-color('grey-dark');
    text-transform:uppercase;
    text-align:center;
    letter-spacing:1px;
    white-space:nowrap;
    z-index:100000;
    //@include transform(translateY(-100vh));
  }
  //&.loading {
    &:after {
      content:"";
      position:fixed;
      width:60px;
      height:60px;
      margin:-30px 0 0 -30px;
      //margin-top:-110px;
      top:50%;
      left:50%;
      background-color:theme-color('magenta');//#FFF//theme-color('goldy');
      pointer-events:none;
      z-index:100000;
      transform-style:preserve-3d;// My addition | To revise
      @include border-radius(50%);
      @include filter(opacity(0.7));
      @include animation(loaderCircleAnim 0.4s linear infinite alternate forwards);
    }
  //}
  &.imagesloaded {//&.render
    &:before {
      @include animation(loaderBeforeGoAwayAnim 1.5s ease-in forwards);
    }
    &:after {
      //display:none;
      opacity:0;//Can't filter(opacity(0)) as transform is being used in animation
      @include transition(all ease-out 0.3s);
      //@include animation(loaderAfterGoAwayAnim 1.3s ease-in forwards);
    }
  }
}
@include media-breakpoint-down(md) {
  body {
    //&.loading {
      &:after {
      }
    //}
  }
}//@media

// Data Scroll (Div)
body {
  > main {
    > [data-scroll] {
      //will-change:transform;
    }
  }
}

//----------------------------------Glitch Image Effect Styles----------------------------------//

// Glitch
.glitch {
  position:relative;
  overflow:hidden;
  --gap-horizontal:10px;
  --gap-vertical:5px;
  --time-anim:5s;
  --delay-anim:0;//1s
  --blend-mode-1:none;
  --blend-mode-2:none;
  --blend-mode-3:none;
  --blend-mode-4:none;
  --blend-mode-5:overlay;
  --blend-color-1:transparent;
  --blend-color-2:transparent;
  --blend-color-3:transparent;
  --blend-color-4:transparent;
  --blend-color-5:theme-color('magenta');
  // &.bogota-picture {
  //   --glitch-width:110%;
  //   --glitch-height:400px;
  // }
}
.glitch-img {
  position: absolute;
  top: calc(-1 * var(--gap-vertical));
  left: calc(-1 * var(--gap-horizontal));
  width: calc(100% + var(--gap-horizontal) * 2);
  height: calc(100% + var(--gap-vertical) * 2);
  /*background: url(uploads/logo-placeholder.jpg) no-repeat 50% 0;*/
  background-color: var(--blend-color-1);
  //background-size: cover;
  transform: translate3d(0,0,0);
  background-blend-mode: var(--blend-mode-1);
}
.glitch-img:nth-child(n+2) {
  opacity: 0;
}
.imagesloaded .glitch-img:nth-child(n+2) {
  animation-duration: var(--time-anim);
  animation-delay: var(--delay-anim);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.imagesloaded .glitch-img:nth-child(2) {
  background-color: var(--blend-color-2);
  background-blend-mode: var(--blend-mode-2);
  animation-name: glitch-anim-1;
}
.imagesloaded .glitch-img:nth-child(3) {
  background-color: var(--blend-color-3);
  background-blend-mode: var(--blend-mode-3);
  animation-name: glitch-anim-2;
}
.imagesloaded .glitch-img:nth-child(4) {
  background-color: var(--blend-color-4);
  background-blend-mode: var(--blend-mode-4);
  animation-name: glitch-anim-3;
}
.imagesloaded .glitch-img:nth-child(5) {
  background-color: var(--blend-color-5);
  background-blend-mode: var(--blend-mode-5);
  animation-name: glitch-anim-flash;
}

//----------------------------------Other Media Queries----------------------------------//

// Mobile Dev Notice
@include media-breakpoint-down(lg) {

  body {
    width:100%;
    height:100%!important;//100vh
    overflow:hidden;
  }

}//@media