// Basic styles for the text rotator.
.hero-left, .hero-right {
  .word-rotate-1, .word-rotate-2 {
    opacity:0;
    &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(4) {//&:last-of-type
      position:absolute;
      top:0;
      white-space:nowrap;
    }
  }
  .word-rotate-1 {
    &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(4) {//&:last-of-type
      left:0;
    }
  }
  .word-rotate-2 {
    &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(4) {//&:last-of-type
      right:0;
    }
  }
}

// Word Rotate Animation
.letter-one, .letter-two {
  display:inline-block;
  //margin:0 -0.32px;
  @include transform-origin(50% 50% 25px);
  @include transform(translateZ(25px));
  &.out {
    @include transform(rotateX(90deg));
    @include transition(transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19));
  }
  &.behind {
    @include transform(rotateX(-90deg));
  }
  &.in {
    @include transform(rotateX(0deg));
    @include transition(transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275));
  }
}