//----------------------------------General Animation Styles----------------------------------//

@keyframes fadeInAnim {
  from {
    pointer-events:none;
    @include filter(opacity(0));
  }
  to {
    pointer-events:auto;
    @include filter(opacity(1));
  }
}//@keyframes

@keyframes fadeOutAnim {
  from {
    pointer-events:auto;
    @include filter(opacity(1));
  }
  to {
    pointer-events:none;
    @include filter(opacity(0));
  }
}//@keyframes

//----------------------------------Other Animation Styles----------------------------------//

@keyframes change30ColorAnim {
  from {
    color:theme-color('rosybrown')!important;
  }
  to {
    color:theme-color('chocolate')!important;
  }
}//@keyframes

@keyframes scrollDownAnim {
  0% {
    @include transform(translateY(0));
  }
  20% {
    @include transform(translateY(70px));
  }
  100% {
    @include transform(translateY(70px));
  }
}//@keyframes

@keyframes lineThorughBackAnim {
  0% {
    width:100%;
    right:0;
    left:auto;
  }
  45% {
    width:0;
    right:0;
    left:auto;
  }
  55% {
    width:0;
    right:auto;
    left:0;
  }
  100% {
    width:100%;
    right:auto;
    left:0;
  }
}//@keyframes

@keyframes lineThorughLoopAnim {
  0%, 80% {
    width:0;
    right:auto;
    left:0;
  }
  88% {
    width:100%;
    right:auto;
    left:0;
  }
  92% {
    width:100%;
    right:0;
    left:auto;
  }
  100% {
    width:0;
    right:0;
    left:auto;
  }
}//@keyframes

@keyframes rotateAnim {
  from {
    @include transform(rotate(0));
  }
  to {
    @include transform(rotate(360deg));
  }
}//@keyframes

//----------------------------------Mouse Scrolling Animation Styles----------------------------------//

@keyframes mouseScrollAnim {
  0% {
    @include transform(translateY(10px));
  }
  5% {
    @include transform(translateY(10px));
  }
  10% {
    @include transform(translateY(10px));
  }
  15% {
    @include transform(translateY(10px));
  }
  20% {
    @include transform(translateY(10px));
  }
  25% {
    @include transform(translateY(10px));
  }
  30% {
    @include transform(translateY(10px));
  }
  35% {
    @include transform(translateY(10px));
  }
  40% {
    @include transform(translateY(10px));
  }
  45% {
    @include transform(translateY(53%));
  }
  50% {
    @include transform(translateY(10px));
  }
  55% {
    @include transform(translateY(10px));
  }
  60% {
    @include transform(translateY(10px));
  }
  65% {
    @include transform(translateY(10px));
  }
  70% {
    @include transform(translateY(10px));
  }
  75% {
    @include transform(translateY(10px));
  }
  80% {
    @include transform(translateY(10px));
  }
  85% {
    @include transform(translateY(10px));
  }
  90% {
    @include transform(translateY(10px));
  }
  95% {
    @include transform(translateY(53%));
  }
  100% {
    @include transform(translateY(10px));
  }
}//@keyframes

//----------------------------------Loader Quote Animation Styles----------------------------------//

@keyframes loaderQuoteAnim {
  0% {
    @include filter(opacity(0));
    @include transform(translateY(30px));
  }
  10%, 90% {
    @include filter(opacity(0.9));
    @include transform(translateY(0));
  }
  100% {
    @include filter(opacity(0));
    @include transform(translateY(-30px));
  }
}//@keyframes

@keyframes loaderQuoteBackgroundGoAnim {
  0%, 60% {
    @include transform(translateY(0));
  }
  100% {
    @include transform(translateY(-100vh));
  }
}//@keyframes

@keyframes headerTranslateAnim {
  0% {
    @include transform(translateY(0) scale(1.1));
  }
  60% {
    @include transform(translateY(0) scale(1));
  }
  100% {
    @include transform(translateY(-25%) scale(1));
  }
}//@keyframes

@keyframes mainTranslateAnim {
  from {
    @include transform(translateY(100vh));
  }
  to {
    @include transform(translateY(0));
  }
}//@keyframes

//----------------------------------Loader Header Image Animation Styles----------------------------------//

@keyframes loadingHeadlineAnim {
  from {
    @include filter(opacity(0));
    @include transform(translate3d(0,100px,0) skewY(10deg));
  }
  to {
    @include filter(opacity(1));
    @include transform(translate3d(0,0,0) skewY(0));
  }
}//@keyframes

@keyframes loadingImageCoverAnim {
  from {
    @include transform(translateY(0));
  }
  to {
    @include transform(translateY(-100%));
  }
}//@keyframes