@include media-breakpoint-up(md) {

  //------------------General Styles------------------//

  // General
  body {
  	//padding:12px;
  }
  h1, h2, h3, h4, h5, h6 {
	  line-height:1.4;//
	}

  // Main, Header, Section
	main, header, section {
		text-align:left;
	}

	// Buttons
  .btn {
    &.btn-60 {
      width:60%;
    }
  }

  // Columnizer
  #column_div, .column_div {
    .first.column {
      padding-right:20px;
    }
    .last.column {
      padding-left:20px;
    }
  }

  // Flickity Carousel
	.flickity-carousel {
	  .main-carousel {
	    article.carousel-cell {
	      height:530px;
	    }
	  }
	  .flickity-carousel-bottom-images {
	  	display:block;//Desktop
	    .carousel-nav {
		    article.carousel-cell {
		      //float:left;
		      width:11.95%;//12.15%
		      height:100px;
		      margin:0 0.35%;
		    }
		    .flickity-button {
		      display:none;
		    }
	    	// Style the selected nav image compared to the others
		    article.carousel-cell {
		      border:3px solid transparent;
		      @include filter(opacity(0.5));
		      &.is-nav-selected {
		        border-color:theme-color("magenta");
		        @include filter(opacity(1));
		      }
		      // > div {
		      // 	&:hover, &:active, &:focus {
			     //  	@include box-shadow(none);
			     //  }
		      // }
		    }
	    }
	  }
	}

	//------------------Section Styles------------------//

	// Nav Desktop
	nav.navbar {
		position:fixed;
		width:100vh;//100%//We Will Use Viewport-Height To Apply To The Width
		height:60px;
		left:100%;//auto
    z-index:10000;
		//mix-blend-mode:difference;
		@include transform(rotateZ(90deg) translateY(10px));
  	@include transform-origin(0% 0%);
    @include transition(all 1000ms cubic-bezier(0.77,0,0.175,1));
    //@include animation(fadeInAnimation 3s ease-in);
    ul.navbar-nav {
    	li.nav-item {
	    	a.nav-link {
	    		position:relative;
	    		padding:0 0.5rem;//0.5rem 1rem
	    		font-family:$font-headline;
	    		//font-weight:bold;
	    		font-size:14.5px;
	    		color:#FFF;
	    		white-space:nowrap;
	    		//@include text-shadow(0 0 10px #FFF);
	    		&:after {
	    			content:'';
	    			position:absolute;
	    			right:calc(50% - 3.5px);
	    			bottom:3px;//-10px//-7px
	    			width:7px;
	    			height:7px;
	    			border:1.5px solid theme-color('magenta');
	    			pointer-events:none;
	    			@include border-radius(50%);
	    			@include transform(scale(0));
	    			@include transition(all 0.7s ease-out);
	    			//@include animation(scaleDotAnim 0.5s ease-in);
	    		}
	    		&:hover {//, &:active, &:focus
	    			color:theme-color('grey-light');//#FFF
	    			//@include text-shadow(0 0 10px theme-color('grey-light'), 0 0 20px rgba(0,0,0,1));
	    			&.active {
	    				&:after {
	    					border:1.5px solid theme-color('grey-light');//#14FF7D
	    				}
	    			}
	    		}
		    	&.active {
						//color:theme-color('grey-light');
	    			//@include text-shadow(0 0 10px theme-color('grey-light'), 0 0 20px rgba(0,0,0,1));
	    			@include transition(all 0.3s ease-out);
	    			// &:hover {
		    		// 	color:#6D510A;
		    		// }
		    		&:after {
	    				bottom:-10px;
	    				@include transform(scale(1));
		    		}
		    		&.not-active {
		    			color:#FFF;
		    			@include text-shadow(none);
		    			&:after {
		    				display:none;
		    			}
		    		}
					}
	    	}
    	}
    }
	}

	// Work
	nav.work {
		position:fixed;
		right:8px;
		bottom:60px;
		z-index:10001;
		a {
			color:#FFF;
			@include transform(rotate(90deg));
			&:hover, &:active, &:focus {
				color:theme-color('grey-light');
			}
		}
	}

	// Middle
  main#middle {
  }

  // Blog Page
	section.blog-page {
	  padding:50px 0 25px;
	}

	// Calendar Page
	section.calendar-page {
	  padding:50px 0 25px;
	}

	// Feedback Page
	section.feedback-page {
		// .feedback-form {
		// 	height:100vh;
		// 	//min-height:640px;
		// }
	}

	// Home Hello Section
	header.home-hello-section {
		padding:80px 0 20px;
	}

	// Home Portfolio Section
	section.home-portfolio-section {
		//min-height:70vh;
		padding:20px 0;
	}

	// Home Skills Section
	section.home-skills-section {
		min-height:70vh;
		padding:30px 0;
	}

	// Home Four Section
	section.home-four-section {
		min-height:70vh;
		padding:30px 0;
	}

	// Home Five Section
	section.home-five-section {
		min-height:70vh;//100vh
		padding:30px 0 0;
	}

	// Work Section
	section.work-section {
		padding:0;
	}

	// Plans Section
	section.plans-section {
	  padding:60px 0 30px;
	}

	// Footer
	footer {
		// .footer-copyright {
		// 	text-align:left;
		// }
		// .footer-built {
		// 	text-align:right;
		// }
	}

	//------------------Page Styles------------------//

	// Theme Colour White
	body.theme-colour.white {
		//padding:0;
		.navbar {
			ul.navbar-nav {
	    	li.nav-item {
		    	a.nav-link {
		    		color:theme-color('grey-dark');
		    		&:hover {//, &:active, &:focus
		    			color:#000;
		    			//@include text-shadow(0 0 20px rgba(0,0,0,0.5), 0 0 20px rgba(235,0,130,0.5));
		    		}
			    	&.active {
							color:theme-color('magenta');
							//@include text-shadow(0 0 20px rgba(0,0,0,0.5), 0 0 20px rgba(235,0,130,0.5));
			    		&:after {
			    			border:1.5px solid theme-color('magenta');
			    		}
			    		&.not-active {
			    			color:theme-color('grey-dark');
			    			//@include text-shadow(none);
			    		}
						}
		    	}
	    	}
	    }
		}
	}

}//@media

//------------------Other Media Queries------------------//

@include media-breakpoint-up(xl) {

	.container {
		max-width:1055px;//Was 1140px
	}

}//@media