// Brandon Grotesque Github| https://github.com/sqreen/CTOSecurityChecklist/tree/master/docs/fonts
// Brandon Grotesque Github| https://github.com/sqreen/CTOSecurityChecklist/blob/master/docs/scss/design/_font.scss#L5-L15

// Font Face
$FontsPath:"/uploads";//https://s3.amazonaws.com/bogota-bulldogs/uploads

// @font-face {
//   font-family:'Brandon Grotesque Light';
//   src:url('#{$FontsPath}/hinted-BrandonGrotesque-Light.eot');
//   src:local('Brandon Grotesque Light'), local('BrandonGrotesque-Light'),
//     url('#{$FontsPath}/hinted-BrandonGrotesque-Light.eot?#iefix') format('embedded-opentype'),
//     url('#{$FontsPath}/hinted-BrandonGrotesque-Light.woff2') format('woff2'),
//     url('#{$FontsPath}/hinted-BrandonGrotesque-Light.woff') format('woff'),
//     url('#{$FontsPath}/hinted-BrandonGrotesque-Light.ttf') format('truetype');
//   font-weight:300;
//   font-style:normal;
// }

// @font-face {
//   font-family:'Brandon Grotesque Regular';
//   src:url('#{$FontsPath}/hinted-BrandonGrotesque-Regular.eot');
//   src:local('Brandon Grotesque Regular'), local('BrandonGrotesque-Regular'),
//     url('#{$FontsPath}/hinted-BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
//     url('#{$FontsPath}/hinted-BrandonGrotesque-Regular.woff2') format('woff2'),
//     url('#{$FontsPath}/hinted-BrandonGrotesque-Regular.woff') format('woff'),
//     url('#{$FontsPath}/hinted-BrandonGrotesque-Regular.ttf') format('truetype');
//   font-weight:normal;
//   font-style:normal;
// }

@font-face {
	font-family:"Aileron Regular";
	src:url("#{$FontsPath}/Aileron-Regular.otf") format("opentype");
	//font-weight:normal;//Each "Aileron" Font Brings Its Weight
	//font-style:normal;//Each "Aileron" Font Brings Its Style
}

@font-face {
	font-family:"Aileron Regular Italic";
	src:url("#{$FontsPath}/Aileron-Italic.otf") format("opentype");
}

@font-face {
	font-family:"Aileron Light";
	src:url("#{$FontsPath}/Aileron-Light.otf") format("opentype");
}

@font-face {
	font-family:"Aileron Light Italic";
	src:url("#{$FontsPath}/Aileron-LightItalic.otf") format("opentype");
}

@font-face {
	font-family:"Aileron Ultra Light";
	src:url("#{$FontsPath}/Aileron-UltraLight.otf") format("opentype");
}

@font-face {
	font-family:"Aileron Ultra Light Italic";
	src:url("#{$FontsPath}/Aileron-UltraLightItalic.otf") format("opentype");
}

// Font Headline
$font-headline:"Saol Display Regular",serif;//'Old Standard TT',serif

// Font Regular & Regular Italic
$font-regular:"Aileron Regular",sans-serif;
$font-regular-italic:"Aileron Regular Italic",sans-serif;

// Font Light & Light Italic
$font-light:"Aileron Light",sans-serif;
$font-light-italic:"Aileron Light Italic",sans-serif;

// Font Ultra Light & Font Ultra Light Italic
$font-ultra-light:"Aileron Ultra Light",sans-serif;
$font-ultra-light-italic:"Aileron Ultra Light Italic",sans-serif;

// Cool Fonts
// - neue-montreal
// - Steinbeck Regular and Nostra Stream

// Other
// - Cuprum