// Basic styles for the text rotator.
.hero-left, .hero-right {
  .word-rotate-1, .word-rotate-2 {
    opacity:0;
    &:last-of-type {
      position:absolute;
      top:0;
    }
  }
  .word-rotate-1 {
    &:last-of-type {
      left:0;
    }
  }
  .word-rotate-2 {
    &:last-of-type {
      right:0;
    }
  }
}

// Word Rotate Animation
.letter-one, .letter-two {
  display:inline-block;
  //margin:0 -0.32px;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
  &.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  &.behind {
    transform: rotateX(-90deg);
  }
  &.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
}