//----------------------------------Cursor Custom Styles----------------------------------//

// Cursor
// body {
//   cursor:none;
// }
// .project-thumbnail {
//   &:hover {
//     cursor:none;
//   }
// }
div.cursor {
  display:none;
  position:fixed;
  width:125px;
  height:125px;
  top:-62.5px;
  left:-62.5px;
  font-size:13px;
  line-height:1.1;
  text-align:center;
  pointer-events:none;
  z-index:15000;
  //mix-blend-mode:difference;
  will-change:transform;
  @include border-radius(50%);
  .cursor-header, .cursor-project, .cursor-footer {
    position:absolute;
    width:125px;
    height:125px;
    padding-top:48px;
    top:0;
    left:0;
    @include border-radius(50%);
    @include filter(opacity(0));
    @include transform(scale(0));
    @include transition(background-color ease-in 0.3s, color ease-in 0.3s, filter ease-in 0.3s, transform ease-in 0.3s);
    span {
      display:block;
      @include filter(opacity(0));
    }
  }
  .cursor-header {//To Create & Define
    background-color:theme-color('rosybrown');
    color:theme-color('chocolate');
  }
  .cursor-project {//Making Colors Dynamic & Different Per Project?
    background-color:transparent;//theme-color('rosybrown')
    color:theme-color('chocolate');
  }
  .cursor-footer {
    padding-top:56px;
    background-color:theme-color('redish');
    color:theme-color('rosybrown');
  }
  &.hoveredHeader, &.hoveredProject, &.hoveredFooter {
    .cursor-header, .cursor-project, .cursor-footer {
      @include transition(background-color ease-in 0.3s 0.1s, color ease-in 0.3s 0.1s, filter ease-in 0.3s 0.1s, transform ease-in 0.3s 0.1s);
      span {
        @include transition(filter ease-in 0.3s 0.1s);
      }
    }
  }
  &.hoveredHeader {
    .cursor-header {
      @include filter(opacity(1));
      @include transform(scale(1));
      span {
        @include filter(opacity(1));
        @include animation(rotateAnim 10s linear infinite 0.1s);
      }
    }
  }
  &.hoveredProject {
    .cursor-project {
      @include filter(opacity(1));
      @include transform(scale(1));
      span {
        @include filter(opacity(1));
        @include animation(rotateAnim 10s linear infinite 0.1s);
      }
    }
    &.hovered01 {
      .cursor-project {
        background-color:#566C7B;
        color:theme-color('rosybrown');
      }
    }
    &.hovered02 {
      .cursor-project {
        background-color:rgba(173,138,43,1);//rgba(154,94,48,1)//#F2B769
        color:theme-color('rosybrown');
      }
    }
    &.hovered03 {
      .cursor-project {
        background-color:rgba(172,103,97,1);
        color:theme-color('rosybrown');
      }
    }
    &.hovered04 {
      .cursor-project {
        background-color:rgba(53,113,138,1);
        color:theme-color('rosybrown');
      }
    }
    &.hovered05 {
      .cursor-project {
        background-color:rgba(82,121,86,1);
        color:theme-color('rosybrown');
      }
    }
    &.hovered06 {
      .cursor-project {
        background-color:rgba(156,108,119,1);//rgba(205,139,115,1)//rgba(98,31,22,1);
        color:theme-color('rosybrown');
      }
    }
    &.hovered07 {
      .cursor-project {
        background-color:rgba(92,60,17,1);
        color:theme-color('rosybrown');
      }
    }
    &.hovered08 {
      .cursor-project {
        background-color:rgba(14,86,91,1);
        color:theme-color('rosybrown');
      }
    }
    &.hovered09 {
      .cursor-project {
        background-color:rgba(179,127,100,1);
        color:theme-color('rosybrown');
      }
    }
    &.hovered10 {
      .cursor-project {
        background-color:lighten(rgba(27,27,26,1),10);
        color:theme-color('rosybrown');
      }
    }
    &.hovered11 {
      .cursor-project {
        background-color:rgba(233,204,188,1);
        color:theme-color('chocolate');
      }
    }
    &.hovered12 {
      .cursor-project {
        background-color:rgba(220,218,128,1);
        color:theme-color('chocolate');
      }
    }
    &.hovered13 {
      .cursor-project {
        background-color:rgba(234,44,89,1);//rgba(263,201,168,1);
        color:theme-color('rosybrown');
      }
    }
    &.hovered14 {
      .cursor-project {
        background-color:rgba(72,88,127,1);
        color:theme-color('rosybrown');
      }
    }
    &.hovered15 {
      .cursor-project {
        background-color:rgba(29,27,33,1);
        color:theme-color('rosybrown');
      }
    }
    &.hovered16 {
      .cursor-project {
        background-color:rgba(74,84,68,1);
        color:theme-color('rosybrown');
      }
    }
    &.hovered17 {
      .cursor-project {
        background-color:rgba(167,205,169,1);//theme-color('rosybrown')
        color:theme-color('chocolate');
      }
    }
    &.hovered18 {
      .cursor-project {
        background-color:rgba(120,84,123,1);//theme-color('rosybrown')
        color:theme-color('rosybrown');
      }
    }
    &.hovered19 {
      .cursor-project {
        background-color:rgba(170,122,127,1);
        color:theme-color('rosybrown');
      }
    }
    &.hovered20 {
      .cursor-project {
        background-color:rgba(223,173,120,1);
        color:theme-color('rosybrown');
      }
    }
    &.hovered21 {
      .cursor-project {
        background-color:#A1AA04;
        color:theme-color('rosybrown');
      }
    }
    &.hovered22 {
      .cursor-project {
        background-color:rgba(188,175,233,1);//theme-color('rosybrown')
        color:theme-color('rosybrown');
      }
    }
    &.hovered23 {
      .cursor-project {
        background-color:rgba(176,43,16,1);//theme-color('rosybrown')
        color:theme-color('rosybrown');
      }
    }
    &.hovered24 {
      .cursor-project {
        background-color:#24414D;
        color:theme-color('rosybrown');
      }
    }
    &.hovered25 {
      .cursor-project {
        background-color:rgba(102,15,24,1);//rgba(86,59,78,1)
        color:theme-color('rosybrown');
      }
    }
    &.hovered26 {
      .cursor-project {
        background-color:rgba(166,91,60,1);
        color:theme-color('rosybrown');
      }
    }
    &.hovered27 {
      .cursor-project {
        background-color:rgba(145,164,178,1);
        color:theme-color('rosybrown');
      }
    }
    &.hovered28 {
      .cursor-project {
        background-color:rgba(174,76,86,1);
        color:theme-color('rosybrown');
      }
    }
    &.hovered29 {
      .cursor-project {
        background-color:#008080;//Turquoise From Jomaira's Some Elements//lighten(rgba(221,168,163,1),5) Pink From Calle's Stock Image//#FFE8E4 Pink From Simon's Folio
        color:theme-color('rosybrown');
      }
    }
    &.hovered30 {
      .cursor-project {
        background-color:#5F252B;
        color:theme-color('rosybrown');
      }
    }
  }
  &.hoveredFooter {
    .cursor-footer {
      @include filter(opacity(1));
      @include transform(scale(1));
      span {
        @include filter(opacity(1));
        @include animation(rotateAnim 10s linear infinite 0.1s);
      }
    }
  }
}
@media (pointer:coarse) and (hover:none) {//For Devices Without A Cursor
  div.cursor {
    display:none!important;
  }
}//@media