// Blue CALLE // #2B5CA4 //rgba(43,92,164,1)

// Blue Calle Logo // rgba(63,67,147,1) //#3f4393
// Nice Red Neon // #F14949
// Nice Green Mint //#00CFB5
// Nice Green/Yellow //#ADD928
// Awesome Caqui I // #CFB484
// Super Awesome Caqui II // #E0C8A3
// Nice Vino Tinto I // #4C081B
// Nice Vino Tinto II // #300012
// Nice Blue Light // #16C6E4
// Nice Dark Coffee // #3C3C3C
// Nice Silver // #D5DDE5
// Awesome Skin // #D7CDBE

// Pinterest Light Beige/Caqui //rgba(209,206,190,1) //#D1CEBE

//----------------------------------Mobile Note----------------------------------//

.mobile-note {
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  letter-spacing:2px;
  z-index:200000;
}
@include media-breakpoint-only(xs) {
  html {
    overflow:hidden;
  }
}
@include media-breakpoint-only(sm) {
  html {
    overflow:hidden;
  }
}
@include media-breakpoint-only(md) {
  html {
    overflow:hidden;
  }
}
@include media-breakpoint-only(lg) {
  html {
    overflow:hidden;
  }
}

//----------------------------------General Styles----------------------------------//

// Fonts
@import "styles_fonts";

// Background Size Mixin
@mixin background-size($size) {
  -webkit-background-size:$size;
     -moz-background-size:$size;
      -ms-background-size:$size;
       -o-background-size:$size;
          background-size:$size;
}

// Border Radius Mixin
@mixin border-radius($radius) {
  -webkit-border-radius:$radius;
     -moz-border-radius:$radius;
      -ms-border-radius:$radius;
       -o-border-radius:$radius;
          border-radius:$radius;
}

// Border Top Right Radius Mixin (Corner)
@mixin border-top-right-radius($top-right-radius) {
  -webkit-border-top-right-radius:$top-right-radius;
     -moz-border-top-right-radius:$top-right-radius;
      -ms-border-top-right-radius:$top-right-radius;
       -o-border-top-right-radius:$top-right-radius;
          border-top-right-radius:$top-right-radius;
}

// Border Top Left Radius Mixin (Corner)
@mixin border-top-left-radius($top-left-radius) {
  -webkit-border-top-left-radius:$top-left-radius;
     -moz-border-top-left-radius:$top-left-radius;
      -ms-border-top-left-radius:$top-left-radius;
       -o-border-top-left-radius:$top-left-radius;
          border-top-left-radius:$top-left-radius;
}

// Border Bottom Right Radius Mixin (Corner)
@mixin border-bottom-right-radius($bottom-right-radius) {
  -webkit-border-bottom-right-radius:$bottom-right-radius;
     -moz-border-bottom-right-radius:$bottom-right-radius;
      -ms-border-bottom-right-radius:$bottom-right-radius;
       -o-border-bottom-right-radius:$bottom-right-radius;
          border-bottom-right-radius:$bottom-right-radius;
}

// Border Bottom Left Radius Mixin (Corner)
@mixin border-bottom-left-radius($bottom-left-radius) {
  -webkit-border-bottom-left-radius:$bottom-left-radius;
     -moz-border-bottom-left-radius:$bottom-left-radius;
      -ms-border-bottom-left-radius:$bottom-left-radius;
       -o-border-bottom-left-radius:$bottom-left-radius;
          border-bottom-left-radius:$bottom-left-radius;
}

// Transform Mixin
@mixin transform($transform) {
  -webkit-transform:$transform;
     -moz-transform:$transform;
      -ms-transform:$transform;
       -o-transform:$transform;
          transform:$transform;
}

// Transform Origin Mixin
@mixin transform-origin($transform-origin) {
  -webkit-transform-origin:$transform-origin;
     -moz-transform-origin:$transform-origin;
      -ms-transform-origin:$transform-origin;
       -o-transform-origin:$transform-origin;
          transform-origin:$transform-origin;
}

// Transition Mixin
@mixin transition($transition...) {
  -webkit-transition:$transition;
     -moz-transition:$transition;
      -ms-transition:$transition;
       -o-transition:$transition;
          transition:$transition;
}

// Transition Delay Mixin
@mixin transition-delay($delay) {
  -webkit-transition:$delay;
     -moz-transition:$delay;
      -ms-transition:$delay;
       -o-transition:$delay;
          transition:$delay;
}

// Filter Mixin
@mixin filter($filter...) {
  -webkit-filter:$filter;
     -moz-filter:$filter;
      -ms-filter:$filter;
       -o-filter:$filter;
          filter:$filter;
}

// Box Shadow Mixin
@mixin box-shadow($box-shadow...) {
  -webkit-box-shadow:$box-shadow;
     -moz-box-shadow:$box-shadow;
      -ms-box-shadow:$box-shadow;
       -o-box-shadow:$box-shadow;
          box-shadow:$box-shadow;
}

// Text Shadow Mixin
@mixin text-shadow($text-shadow...) {
  -webkit-text-shadow:$text-shadow;
     -moz-text-shadow:$text-shadow;
      -ms-text-shadow:$text-shadow;
       -o-text-shadow:$text-shadow;
          text-shadow:$text-shadow;
}

// Animation Mixin
@mixin animation($animation...) {
  -webkit-animation:$animation;
     -moz-animation:$animation;
      -ms-animation:$animation;
       -o-animation:$animation;
          animation:$animation;
}

// Animations
@import "styles_animations";

// Rolly
@import "styles_rolly";

// General
html, body {
  &.menu-opened {
    overflow-y:hidden;
  }
}
html {
  text-rendering:optimizeLegibility;//text-rendering:geometricPrecision
  font-smooth:always;//
  -webkit-font-smoothing:subpixel-antialiased;//antialiased
  -moz-osx-font-smoothing:grayscale;
  // ::-webkit-scrollbar {
  //   display:none;
  // }
  //overflow-x:hidden;
  //@include filter(invert(100) hue-rotate(180deg));
}
body {
  position:relative;//For Scroll Spy
  font-family:$font-paragraph;
  font-weight:300;
  font-style:normal;
  font-size:17px;
  z-index:0;
  overscroll-behavior-y:none;//To remove bounce on some browsers
  // .background-for-animation {
  //   position:absolute;//fixed
  //   width:100vw;
  //   height:100vh;
  //   top:0;
  //   right:0;
  //   bottom:0;
  //   left:0;
  //   z-index:1;
  //   @include transition(transform ease-in-out 0.3s);
  // }
}
img {
  max-width:100%;
}
iframe {
  border:none;
}
figure {
  margin:0;//Remove defaults from some browsers
  figcaption {
    pointer-events:none;
  }
}
:focus {
  outline:none!important;
}
.scale-element {
  //@include box-shadow(0 2px 7px rgba(0,0,0,0.1)!important);//Starting With Slight Shadow (Optional)
  @include transition(all ease-out 0.5s);
  &:hover {
    @include transform(scale(1.03));
    //@include box-shadow(0 5px 15px rgba(0,0,0,0.4)!important);
  }
}
.overlay {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-color:rgba(0,0,0,0.3);
}

// Fonts
h1, h2, h3, h4, h5, h6 {
  font-family:$font-headline;
  font-weight:400;
  font-style:normal;
  letter-spacing:2px;//3px
  &.text-bold {
    font-weight:700;
  }
}
.font-headline {
  font-family:$font-headline!important;
  font-weight:400!important;
  letter-spacing:2px;//3px
  &.text-bold {
    font-weight:700!important;
  }
}
.font-subtitle {
  font-family:$font-subtitle!important;
  font-weight:400!important;
  letter-spacing:1.5px;
}
.font-paragraph {
  font-family:$font-paragraph!important;
  font-weight:300!important;
}
.font-headline, .font-subtitle, .font-paragraph {
  font-style:normal!important;
}

// Intro
.intro {
  font-size:22px;
  p {
  }
  blockquote {
    color:theme-color("grey-mid");
  }
  img, iframe {
    margin:20px auto;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-bottom:15px;
  }
}

// Luxy, Rolly
#luxy, #rolly {
  z-index:2;
  will-change:transform;
}

// Header Image
.header-image {
  position:fixed;
  width:100vw;
  height:100vh;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:1;
  pointer-events:none;
}

// Main, Header, Section, Footer
main, header, section, footer {
  position:relative;
  text-align:center;
}
main {
  min-height:100vh;
  background-color:theme-color('chocolate');//green-dark//lighten(theme-color('grey-dark'),5);//blue//silver
  z-index:3;
}

// Logo, Nav Social Media, Copyright, Navbar {
a.logo, aside.nav-social-media, .copyright, nav.navbar {
  z-index:6000;
}

// Aside Covers
.aside-cover-1, .aside-cover-2 {
  position:fixed;
  top:0;
  width:150px;
  height:100vh;
  z-index:7000;
}
.aside-cover-1 {
  left:0;
}
.aside-cover-2 {
  right:0;
}

// Link Overrides
a {
  color:lighten(theme-color('rosybrown'),10);
  @include transition(all ease-out 0.5s);
  &:hover, &:active, &:focus {
    color:lighten(theme-color('rosybrown'),20);
    text-decoration:none;
  }
  &.text-black {
    &:hover, &:active, &:focus {
      color:lighten(#000,15)!important;
    }
  }
  &.text-white {
    &:hover, &:active, &:focus {
      color:darken(#FFF,15)!important;
    }
  }
  &.text-grey-dark {
    &:hover, &:active, &:focus {
      color:lighten(theme-color("grey-dark"),15)!important;
    }
  }
  &.text-grey-mid {
    &:hover, &:active, &:focus {
      color:lighten(theme-color("grey-mid"),15)!important;
    }
  }
  &.text-grey-light {
    &:hover, &:active, &:focus {
      color:darken(theme-color("grey-light"),15)!important;
    }
  }
}

// Buttons
.btn {
  font-family:$font-subtitle;
  font-weight:normal;
  font-style:normal;
  font-size:20px;
  //white-space:nowrap;
  //@include border-radius(0);
  @include transition(all ease-out 0.5s);
  &:hover {
    @include transform(scale(1.03));
    @include box-shadow(0 5px 15px rgba(0,0,0,0.4)!important);
  }
  &.btn-longer {
    padding-right:2.5em;
    padding-left:2.5em;
  }
  &.btn-60 {
    width:100%;//Mobile
    text-align:center;
  }
  &.btn-100 {
    width:100%;
    text-align:center;
  }
  &.btn-gigantic {
    padding:2.5rem 3.5rem;
  }
}

// Bootstrap Complements
.position-relative {
  position:relative;
}
.position-absolute {
  position:absolute;
}
.text-bold {
  font-weight:bold!important;
}
.text-lighter {
  font-weight:lighter!important;
}
.text-transform-none {
  text-transform:none!important;
}
.text-underline {
  text-decoration:underline!important;
}

// Flexbox Better Support
.d-flex {
  display:-webkit-box;
  display:-ms-flexbox;
  display:-webkit-flex;//
  display:flex;
}
.flex-row {
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
  -ms-flex-direction:row;
  flex-direction:row;
}
.flex-column {
  //Missing
}
.justify-content-center {
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  -webkit-justify-content:center;//
  justify-content:center;
}
.align-items-center {
  -webkit-box-align:center;
  -ms-flex-align:center;
  -webkit-align-items:center;//
  align-items:center;
}

// Headline, Title, Subtitle
.headline, .title, .subtitle {
}
.text-hero {
  font-size:8.5rem;//9.5rem
  line-height:0.85;
}
.text-gigantic, .text-huge {
  line-height:1;
}
.text-gigantic {
  font-size:7rem;
}
.text-huge {
  font-size:5rem;//6rem
}
.text-big {
  font-size:4rem;//5rem
  //line-height:0.9;
}
.headline-link {
  color:transparent;
  -webkit-text-stroke:2px theme-color('grey-dark');
  //-webkit-text-fill-color:theme-color('blue');//Will Override Color (Regardless Of Order)
  //-webkit-text-stroke-width:2px;
  //-webkit-text-stroke-color:theme-color('grey-dark');
  @include transition(all ease-out 0.5s);
  &:hover, &:active, &:focus {
    color:theme-color('grey-dark')!important;//
    //-webkit-text-fill-color:theme-color('grey-dark');//Will Override Color (Regardless Of Order)
    -webkit-text-stroke:2px theme-color('grey-dark');
  }
}
.text-stroke-grey-dark {//One Example
  color:transparent!important;
  -webkit-text-stroke:2px theme-color('grey-dark')!important;
}
.text-stroke-grey-light {//One Example
  color:transparent!important;
  -webkit-text-stroke:2px theme-color('grey-light')!important;
}
.text-stroke-rosybrown {//One Example
  color:transparent!important;
  -webkit-text-stroke:2px theme-color('rosybrown')!important;
}
.text-black, .text-grey-dark, .text-grey-mid, .text-grey-light, .text-white {
  @include transition(color ease-out 0.5s);
}

// Forms (Custom | Overriding Bootstrap's)
::-webkit-input-placeholder {
  color:theme-color('grey-dark')!important;;
}
:-moz-placeholder {//Firefox 18-
  color:theme-color('grey-dark')!important;;
}
::-moz-placeholder {//Firefox 19+
  color:theme-color('grey-dark')!important;;
}
:-ms-input-placeholder {
  color:theme-color('grey-dark')!important;;
}
input.text, textarea.textarea, .form-group > select {
  padding-top:12px;
  padding-left:15px;//25px
  font-family:$font-headline;//$font-subtitle
  font-weight:normal;
  font-style:normal;
  font-size:20px;
  color:#000!important;
  background-color:transparent;
  border:none;
  //border:1px solid theme-color('grey-dark');//2px
  border-bottom:1px solid theme-color('grey-dark');//2px
  @include border-radius(0);//1.5rem
  &:focus {
    outline:none;
    @include box-shadow(none);
  }
}
input.text .form-group > select {
  height:60px;
}
textarea.textarea {
}
.form-group {
  > select {
    &:hover {
      cursor:pointer;
    }
  }
}
input[type="submit"] {
}
.custom-control-label {
  font-family:$font-subtitle;
  font-weight:normal;
  font-style:normal;
  font-size:20px;
  color:theme-color('grey-dark');
  line-height:1.3;
}
.form-dark {
  ::-webkit-input-placeholder {
    color:theme-color('rosybrown')!important;;
  }
  :-moz-placeholder {
    color:theme-color('rosybrown')!important;;
  }
  ::-moz-placeholder {
    color:theme-color('rosybrown')!important;;
  }
  :-ms-input-placeholder {
    color:theme-color('rosybrown')!important;;
  }
  input.text, textarea.textarea, .form-group > select {
    border-bottom-color:theme-color('rosybrown');//border-color
  }
  .custom-control-label {
    color:theme-color('rosybrown');
  }
}

// Custom Checkboxes & Radio Buttons
.custom-control {
  &.custom-checkbox, &.custom-radio {
    input.custom-control-input:checked ~ label.custom-control-label {
      &::before {
        background-color:theme-color('rosybrown');
        border-color:theme-color('rosybrown');
        @include box-shadow(0 0 0 0.2rem rgba(235,0,130,0.2));
      }
    }
    label.custom-control-label {
      &::before {
      }
      &::after {
      }
    }
  }
}

// Panels
.mobile-thumbnail-control {
  min-height:300px;
}
article.project-article {
  &.forloop-last {
    margin-bottom:0;
  }
  &.home {
    margin-bottom:235px;
    a {
      figure {
        position:relative;
        height:250px;//400px
        > div {
          position:absolute;
          top:0;
          right:0;
          bottom:0;
          left:0;
          overflow:hidden;
          .project-thumbnail-wrap, .project-thumbnail, .recent-project-thumbnail {
            position:absolute;
            top:0;
            right:0;
            bottom:0;
            left:0;
            @include transform(scale(1));
            @include transition(transform ease-in-out 0.5s);
          }
          .project-thumbnail-wrap {
            overflow:hidden;
            z-index:101;
            // .project-thumbnail, .recent-project-thumbnail {
            //   height:460px;
            //   margin-top:-30px;
            // }
          }
        }
        figcaption.project-caption {
          .project-title {
            position:absolute;
            top:-31px;//-88px//0
            left:-40px;//-110px
            .project-title-stroke {
              top:0;
              left:0;
              color:theme-color('rosybrown')!important;//transparent!important
              -webkit-text-stroke:2px theme-color('rosybrown')!important;
              @include transition(all cubic-bezier(0.455,0.03,0.515,0.955) 0.7s);
            }
          }
          .project-side-data, .project-roles {
            position:absolute;
            font-size:14px;
            overflow:hidden;
            @include transition(all ease-in-out 0.5s);
            div.project-year, div.project-info, p.project-tools, div.project-type {
              @include transition(transform cubic-bezier(0.455,0.03,0.515,0.955) 0.3s 0.1s, filter cubic-bezier(0.455,0.03,0.515,0.955) 0.3s 0.2s);
            }
          }
          .project-side-data {
            width:20px;
            height:calc(100% - 1px);
            right:0;
            bottom:1px;
            writing-mode:vertical-rl;
            text-orientation:mixed;
            pointer-events:none;
            //@include transform-origin(50% 50%);
            @include transform(translateX(40px) rotate(180deg));
            div.project-year, div.project-info {
              time, span {
                margin-bottom:15px;
              }
            }
            div.project-year {
              @include filter(opacity(1));
              @include transform(translateX(0));
            }
            div.project-info {
              position:absolute;
              top:0;
              left:0;
              @include filter(opacity(0));
              @include transform(translateX(-20px));
            }
          }
          .project-roles {
            width:calc(100% - 1px);
            right:1px;
            bottom:-40px;
            text-align:right;
            p.project-tools, div.project-type {
            }
            p.project-tools {
              display:inline-block;
              @include filter(opacity(1));
              @include transform(translateY(0));
              span {
                margin-right:1px;
              }
            }
            div.project-type {
              position:absolute;
              top:0;
              right:0;
              @include filter(opacity(0));
              @include transform(translateY(20px));
            }
          }
        }
      }
      &:hover, &:active, &:focus {
        figure {
          > div {
            .project-thumbnail-wrap {
              @include transform(scale(0.98));
              .project-thumbnail, .recent-project-thumbnail {
                @include transform(scale(1.08));
              }
            }
          }
          figcaption.project-caption {
            .project-title {
              .project-title-stroke {
                color:transparent!important;//theme-color('rosybrown')!important
                //-webkit-text-stroke-color:theme-color('rosybrown')!important;
              }
            }
            .project-side-data {
              right:8px;
              bottom:4px;
              div.project-year {
                @include filter(opacity(0));
                @include transform(translateX(20px));
              }
              div.project-info {
                @include filter(opacity(1));
                @include transform(translateX(0));
              }
            }
            .project-roles {
              right:9px;
              bottom:-35px;
              p.project-tools {
                @include filter(opacity(0));
                @include transform(translateY(-20px));
              }
              div.project-type {
                @include filter(opacity(1));
                @include transform(translateY(0));
              }
            }
          }
        }
      }
    }
    &.article-right {
      a {
        figure {
          > div {
            .project-thumbnail, .recent-project-thumbnail {
            }
          }
          figcaption.project-caption {
            .project-title {
              right:-40px;//-110px
              left:auto;
              text-align:right;
              .project-title-stroke {
                right:0;
                left:auto;
              }
            }
            .project-side-data, .project-roles {
              right:auto;
            }
            .project-side-data {
              left:0;
              @include transform(translateX(-40px) rotate(180deg));
              div.project-year {
                @include transform(translateX(0));
              }
              div.project-info {
                right:0;
                @include transform(translateX(20px));
              }
            }
            .project-roles {
              left:1px;
              text-align:left;
              div.project-type {
                left:0;
              }
            }
          }
        }
        &:hover, &:active, &:focus {
          figure {
            > div {
              .project-thumbnail, .recent-project-thumbnail {
              }
            }
            figcaption.project-caption {
              .project-side-data {
                left:8px;
                div.project-year {
                  @include transform(translateX(-20px));
                }
                div.project-info {
                  @include transform(translateX(0));
                }
              }
              .project-roles {
                left:9px;
              }
            }
          }
        }
      }
    }
  }
  &.work {
    margin-bottom:104px;
    will-change:transform, scroll-position;
    a {
      figure {
        .project-thumbnail {
          position:relative;
          height:330px;
          figcaption.project-caption {
            .project-title, .project-roles {
              background-color:rgba(254,254,254,0.7);//theme-color('grey-light')
            }
            .project-roles {
              p {
                display:inline-block;
                font-size:13.5px;//0.7rem
                //letter-spacing:2px;
                span {
                  margin-right:1px;
                }
              }
            }
          }
        }
        .project-side-data {
          position:absolute;
          width:20px;//30px
          top:15px;
          right:0;
          writing-mode:vertical-rl;
          text-orientation:mixed;
          overflow:hidden;
          pointer-events:none;
          @include transform(translateX(30px));//translateY(-49%)
          //@include transform(rotate(90deg) translateY(-26px));
          div.project-year, div.project-info {
            p {
              font-size:13.5px;//0.8rem
              @include transition(transform cubic-bezier(0.455,0.03,0.515,0.955) 0.3s 0.1s, filter cubic-bezier(0.455,0.03,0.515,0.955) 0.3s 0.2s);
            }
          }
          div.project-year {
            p {
              @include filter(opacity(1));
              @include transform(translateX(0));
            }
          }
          div.project-info {
            p {
              @include filter(opacity(0));
              @include transform(translateX(-20px));
            }
          }
        }
      }
      &:hover, &:active, &:focus {
        figure {
          .project-thumbnail {
          }
          .project-side-data {
            div.project-year, div.project-info {
              p {
                @include transform(translateX(20px));
              }
            }
            div.project-year {
              p {
                @include filter(opacity(0));
              }
            }
            div.project-info {
              p {
                @include filter(opacity(1));
              }
            }
          }
        }
      }
    }
  }
}

// Modal
.modal {
  .modal-content {
    @include border-radius(0);
    .modal-header, .modal-footer {
      border:none;
    }
    .modal-header {
      button.close {
        &:hover, &:active, &:focus {
          outline:none;
        }
      }
    }
  }
}

// General Social Circle Buttons Hover Effect
a {
  &:hover, &:active, &:focus {
    > span.fa-stack {
      > i.fa {
        @include animation(fa-spin 0.3s linear);
      }
    }
  }
}

// Nav Social Media
aside.nav-social-media {
  position:fixed;
  top:33.5%;
  left:36px;
  //pointer-events:none;
  a {
    span {
      position:relative;
      font-size:15.5px;//17px;
      //background-color:#FFF;
      pointer-events:none;
      svg {
        position:relative;
        width:17px;
        font-size:1.2rem;
        fill:theme-color('chocolate')!important;//rosybrown
        z-index:21;
        @include transition(all ease-out 0.5s);
      }
      &::after {
        content:"";
        position:absolute;
        width:27px;
        height:27px;
        top:-0.7px;
        left:-5px;
        background-color:theme-color('rosybrown');
        z-index:20;
        @include transform(rotate(45deg));
        @include transition(transform ease-out 0.5s);//border-radius ease-out 0.5s
      }
      &.icon-facebook {
        svg {
          width:16.5px;
        }
      }
      // }
      // &.icon-instagram {
      //   svg {
      //   }
      // }
      // &.icon-pinterest {
      //   svg {
      //   }
      // }
      &.icon-linkedin {
        svg {
          width:14px;
          margin-top:-1px;
          margin-left:2px;
        }
      }
      &.icon-behance {
        svg {
          width:18px;
        }
      }
    }
    &:hover, &:active, &:focus {
      span {
        svg {
          fill:#FFF!important;
          @include filter(opacity(0.8));
        }
        &::after {
          @include transform(rotate(180deg));//0
          //@include border-radius(50%);
        }
        &.icon-facebook {
          svg {
            fill:lighten(theme-color('facebook'),10)!important;
          }
        }
        &.icon-instagram {
          svg {
            fill:lighten(theme-color('instagram'),10)!important;
          }
        }
        &.icon-pinterest {
          svg {
            fill:lighten(theme-color('pinterest'),10)!important;
          }
        }
        &.icon-linkedin {
          svg {
            fill:lighten(theme-color('linkedin'),10)!important;
          }
        }
        &.icon-behance {
          svg {
            fill:lighten(theme-color('behance'),10)!important;
          }
        }
      }
    }
  }
}
@media (pointer:coarse) and (hover:none) {
  aside.nav-social-media {
  }
}//@media

// Copyright
.copyright {
  position:fixed;
  bottom:40px;//48px//76px
  left:55px;
  font-size:12px;//13.5px//12px//13px
  pointer-events:none;
  mix-blend-mode:difference;
  @include transform(rotate(270deg));
  @include transform-origin(left bottom);//0 100%
}

// Show It, Hide It
.show-it, .hide-it {
  @include transition(filter ease-out 0.7s);
}
.show-it {
  @include filter(opacity(1)!important);
}
.hide-it {
  pointer-events:none!important;
  @include filter(opacity(0)!important);
}

// Selection Styles
::selection {//webkit, opera, IE9
  background-color:rgba(37,175,206,0.7);
}
::-moz-selection {//mozilla firefox
  background-color:rgba(37,175,206,0.7);
}

// Mouse Svg
.mouse-svg {
  position:absolute;
  width:35px;
  //margin:auto;
  //right:0;
  bottom:28px;//0
  left:0;
  svg {
    fill:theme-color('grey-light');
    path {
      &:last-child {
        @include animation(mouseScrollAnim 11s ease-out 3s infinite);
      }
    }
  }
}

//----------------------------------Section Styles----------------------------------//

// // Logo
// $logo-width:90px;
// $logo-height:90px;
// $logo-top:35px;
// $logo-left:15px;
// a.logo {
//   position:fixed;
//   top:$logo-top;
//   left:$logo-left;
//   .logo-interior {
//     width:$logo-width;
//     height:$logo-height;
//     background-color:transparent;
//     pointer-events:none;
//     @include border-radius(50%);
//     @include transition(all ease-out 0.5s);
//     svg {
//       width:47%;
//       fill:theme-color('grey-dark');
//       pointer-events:none;
//       @include transition(all ease-out 0.5s);
//     }
//   }
//   &:hover, &:active, &:focus {
//     .logo-interior {
//       background-color:#FFF;
//       svg {
//         fill:theme-color('grey-mid');
//         @include filter(opacity(0.9));
//       }
//     }
//   }
// }
// .logo-cover {
//   position:fixed;
//   width:$logo-width;
//   height:$logo-height;
//   top:$logo-top;
//   left:$logo-left;
//   z-index:7000;
// }

// Home Hello Header
header.home-hello-header {
  padding:70px 20px 35px;//To revise mobile//From J.I, To Tweak
  .hello-header-middle-images {
    .header-gif-cover, img.header-gif-gif {
      pointer-events:none;
      user-select:none;
    }
    .header-gif-cover {
      position:absolute;
      top:0;
      right:0;
      bottom:0;
      left:0;
    }
    &:hover {
      .header-gif-cover {
        @include filter(opacity(0));
      }
    }
  }
  .hello-content {
    a {
      //text-decoration:underline;
    }
  }
}

// Home Recent Projects Section
section.home-recent-projects-section {
  //padding:30px 20px;//To revise mobile
}

// Home Projects Section
section.home-projects-section {
  //padding:30px 20px;//To revise mobile
}

// Work Header Section
header.work-header-section {
  padding:30px 20px;//To revise mobile
}

// Work Projects Section
section.work-projects-section {
  padding:30px 20px;//To revise mobile
}

// Feedback Page
section.feedback-page {
  padding:30px 20px;//To revise mobile
}

// Footer
footer {
  margin:0;
  a.container {
    padding:30px 20px;//To revise mobile
    div {
      pointer-events:none;
    }
    hr {
      position:absolute;
      right:0;
      bottom:60px;
      left:0;
      border-color:theme-color('rosybrown');
    }
  }
  .footer-copyright, .footer-created-by {
    position:absolute;
  }
  .footer-created-by {
    width:100%;
    bottom:30px;
    font-size:12px;
    text-align:center;
    pointer-events:none;
  }
}

//----------------------------------Page Styles----------------------------------//

// Basic Page
body.page-type-basic {
}

// Basic Page (Home)
body.page-type-basic.home {
}

// Basic Page (Work)
body.page-type-basic.work {
}

// Feedback Page (Contact)
body.page-type-feedback {
}








//----------------------------------Cursor Custom Styles----------------------------------//

// Cursor
// body {
//   cursor:none;
// }
// a {
//   .post-thumbnail, .video-thumbnail {//&.link, &.link div, &.link span
//     &:hover {
//       cursor:none;
//     }
//   }
// }
// i.fa {
//   &.link {
//     &:hover {
//       cursor:none;
//     }
//   }
// }
.cursor {
  display:none;
  position:fixed;
  width:25px;
  height:25px;
  top:-12.5px;//-7.5px
  left:-12.5px;//-7.5px
  z-index:250000;//10000
  pointer-events:none;
  @include border-radius(50%);
  //mix-blend-mode:difference;
  will-change:transform;
  .cursor-link, .cursor-recent-project, .cursor-project, .cursor-footer {
    position:absolute;
    @include border-radius(50%);
    @include transition(filter ease-out 0.3s, transform ease-out 0.3s);
  }
  .cursor-link {
    width:25px;//15px
    height:25px;//15px
    background-color:theme-color('blue');
    z-index:11001;
    @include filter(opacity(0.75));
  }
  .cursor-recent-project, .cursor-project, .cursor-footer {
    width:100px;
    height:100px;
    top:-42.5px;
    left:-42.5px;
    text-align:center;
    z-index:11002;
    @include filter(opacity(0));
    @include transform(rotate(-180deg) scale(0,0));
  }
  .cursor-recent-project, .cursor-footer {
    padding-top:42px;
    font-family:$font-headline;
    font-weight:400;
    font-size:12px;
    background-color:rgba(37,175,206,0.7);//theme-color('blue')
    color:theme-color('grey-light');//blue
    text-transform:uppercase;
    letter-spacing:1px;//2px
    white-space:nowrap;
  }
  .cursor-footer {
    width:150px;
    height:150px;
    padding-top:68px;
    top:-67.5px;
    left:-67.5px;
    background-color:rgba(240,217,194,0.85);//theme-color('blue')
    color:theme-color('chocolate');
  }
  .cursor-project {
    padding-top:39px;
    background-color:rgba(235,189,48,0.7);//theme-color('mustard')
    span {
      svg {
        width:24px;
        height:24px;
        fill:theme-color('blue');
      }
    }
  }
  &.hoveredLink {
    //mix-blend-mode:none;
    .cursor-link {
      @include filter(opacity(0.5));
      @include transform(scale(3,3));
    }
  }
  &.hoveredRecent, &.hoveredProject, &.hoveredFooter {
    .cursor-link {
      @include filter(opacity(0));
    }
    .cursor-recent-project, .cursor-project, .cursor-footer {
      @include transform(rotate(0) scale(1,1));
    }
    .cursor-recent-project, .cursor-footer {
      @include animation(fa-spin 10s linear infinite);
    }
  }
  &.hoveredRecent {
    .cursor-recent-project {
      @include filter(opacity(1));
    }
  }
  &.hoveredProject {
    .cursor-project {
      @include filter(opacity(1));
    }
  }
  &.hoveredFooter {
    .cursor-footer {
      @include filter(opacity(1));
    }
  }
}
@media (pointer:coarse) and (hover:none) {
  .cursor {
    display:none!important;
  }
}//@media
// @include media-breakpoint-down(md) {
//   .cursor {
//     display:none!important;
//   }
// }//@media










//----------------------------------General Loading Animation Styles----------------------------------//

a.logo span, aside.nav-social-media, .copyright, nav.navbar, aside.burger-mobile {
  pointer-events:none;
  @include filter(opacity(0));
}
body {
  .header-image {
    will-change:transform;
    @include transform(translateY(0) scale(1.1));
  }
  main {
    will-change:transform;
  }
  &.imagesloaded {
    .header-image {
      @include animation(headerTranslateAnim 1s ease-in-out 1.1s forwards);
    }
    main {
      @include transform(translateY(100vh));
      @include animation(mainTranslateAnim 1s ease-in-out 1.5s forwards);
    }
    a.logo span, aside.nav-social-media, .copyright, nav.navbar, aside.burger-mobile {
      @include animation(fadeInAnim 0.5s ease-in 2.2s forwards);
    }
    .aside-cover-1, .aside-cover-2 {
      @include animation(fadeOutAnim 0.5s ease-in 2.2s forwards);
    }
  }
  &.rendering {
    cursor:progress;
    overflow-y:hidden;
    .cursor {
      @include filter(opacity(0));
    }
  }
}

//----------------------------------Loader Quote Animation Styles----------------------------------//

body {
  .loader-quote {
    display:none;
  }
  &.rendering {
    .loader-quote {
      display:block;
      position:fixed;
      // FLEXBOX REVISED 100%
      // display:flex;
      // flex-direction:row;
      // align-items:center;
      // justify-content:center;
      display:-webkit-box;
      display:-ms-flexbox;
      display:-webkit-flex;//
      display:flex;
      -webkit-box-orient:horizontal;
      -webkit-box-direction:normal;
      -ms-flex-direction:row;
      flex-direction:row;
      -webkit-box-pack:center;
      -ms-flex-pack:center;
      -webkit-justify-content:center;//
      justify-content:center;
      -webkit-box-align:center;
      -ms-flex-align:center;
      -webkit-align-items:center;//
      align-items:center;
      width:100%;
      height:100%;
      padding:30px;
      top:0;
      right:0;
      bottom:0;
      left:0;
      z-index:300000;
      span {
        max-width:80%;
        font-size:2rem;
        line-height:1.1;
        text-align:center;
        pointer-events:none;
        will-change:filter, transform;
        @include filter(opacity(0));//Optional To Remove Or Add Opacity(1) For Instant Text Appear
        // &.letter-1 {
        //   @include animation(loaderQuoteAnim 1.8s ease-out 0.1s forwards);
        // }
        // &.letter-2 {
        //   @include animation(loaderQuoteAnim 1.8s ease-out 0.15s forwards);
        // }
        // &.letter-3 {
        //   @include animation(loaderQuoteAnim 1.8s ease-out 0.2s forwards);
        // }
        // &.letter-4 {
        //   @include animation(loaderQuoteAnim 1.8s ease-out 0.25s forwards);
        // }
        // &.letter-5 {
        //   @include animation(loaderQuoteAnim 1.8s ease-out 0.3s forwards);
        // }
        // &.letter-6 {
        //   @include animation(loaderQuoteAnim 1.8s ease-out 0.35s forwards);
        // }
        // &.letter-7 {
        //   @include animation(loaderQuoteAnim 1.8s ease-out 0.4s forwards);
        // }
        // &.letter-8 {
        //   @include animation(loaderQuoteAnim 1.8s ease-out 0.45s forwards);
        // }
        // &.letter-9 {
        //   @include animation(loaderQuoteAnim 1.8s ease-out 0.5s forwards);
        // }
        // &.letter-10 {
        //   @include animation(loaderQuoteAnim 1.8s ease-out 0.55s forwards);
        // }
        // &.letter-11 {
        //   @include animation(loaderQuoteAnim 1.8s ease-out 0.6s forwards);
        // }
        // &.letter-12 {
        //   @include animation(loaderQuoteAnim 1.8s ease-out 0.65s forwards);
        // }
        // &.letter-13 {
        //   @include animation(loaderQuoteAnim 1.8s ease-out 0.7s forwards);
        // }
        // &.letter-14 {
        //   @include animation(loaderQuoteAnim 1.8s ease-out 0.75s forwards);
        // }
        // &.letter-15 {
        //   @include animation(loaderQuoteAnim 1.8s ease-out 0.8s forwards);
        // }
        // &.letter-16 {
        //   @include animation(loaderQuoteAnim 1.8s ease-out 0.85s forwards);
        // }
        // &.letter-17 {
        //   @include animation(loaderQuoteAnim 1.8s ease-out 0.9s forwards);
        // }
        // &.letter-18 {
        //   @include animation(loaderQuoteAnim 1.8s ease-out 0.95s forwards);
        // }
        // &.letter-19 {
        //   @include animation(loaderQuoteAnim 1.8s ease-out 1s forwards);
        // }
        // &.letter-20 {
        //   @include animation(loaderQuoteAnim 1.8s ease-out 1.05s forwards);
        // }
        // &.letter-21 {
        //   @include animation(loaderQuoteAnim 1.8s ease-out 1.1s forwards);
        // }
        // &.letter-22 {
        //   @include animation(loaderQuoteAnim 1.8s ease-out 1.15s forwards);
        // }
        // &.letter-23 {
        //   @include animation(loaderQuoteAnim 1.8s ease-out 1.2s forwards);
        // }
        // &.letter-24 {
        //   @include animation(loaderQuoteAnim 1.8s ease-out 1.25s forwards);
        // }
        // &.letter-25 {
        //   @include animation(loaderQuoteAnim 1.8s ease-out 1.3s forwards);
        // }
        // &.letter-26 {
        //   @include animation(loaderQuoteAnim 1.8s ease-out 1.35s forwards);
        // }
        // &.letter-27 {
        //   @include animation(loaderQuoteAnim 1.8s ease-out 1.4s forwards);
        // }
        // &.letter-28 {
        //   @include animation(loaderQuoteAnim 1.8s ease-out 1.45s forwards);
        // }
        // &.letter-29 {
        //   @include animation(loaderQuoteAnim 1.8s ease-out 1.5s forwards);
        // }
        // &.letter-30 {
        //   @include animation(loaderQuoteAnim 1.8s ease-out 1.55s forwards);
        // }
        // &.letter-31 {
        //   @include animation(loaderQuoteAnim 1.8s ease-out 1.6s forwards);
        // }
        // &.letter-32 {
        //   @include animation(loaderQuoteAnim 1.8s ease-out 1.65s forwards);
        // }
        // &.letter-33 {
        //   @include animation(loaderQuoteAnim 1.8s ease-out 1.7s forwards);
        // }
        // &.letter-34 {
        //   @include animation(loaderQuoteAnim 1.8s ease-out 1.75s forwards);
        // }
        // &.letter-35 {
        //   @include animation(loaderQuoteAnim 1.8s ease-out 1.8s forwards);
        // }
      }
    }
  }
  &.imagesloaded {
    .loader-quote {
      @include animation(loaderQuoteBackgroundGoAnim 1.5s cubic-bezier(.89,.41,.89,.41) forwards);
    }
  }
}

//----------------------------------Loader Header Elements Animation Styles----------------------------------//

header.home-hello-header {
  .top-info, .hello-header-headline {
    transform-style:preserve-3d;
    will-change:filter, transform;
    @include filter(opacity(0));
    @include transform(translate3d(0,100px,0) skewY(10deg));
    @include animation(loadingHeadlineAnim 0.7s cubic-bezier(0.455,0.03,0.515,0.955) 4.4s forwards);
  }
  .hello-header-img {
    will-change:filter;
    @include filter(opacity(0));
    @include animation(fadeInAnim 0.7s cubic-bezier(0.455,0.03,0.515,0.955) 4.4s forwards);
  }
  .hello-header-img-cover {
    will-change:transform;
    @include transform(translateY(0));
    @include animation(loadingImageCoverAnim 0.5s cubic-bezier(0.455,0.03,0.515,0.955) 4.3s forwards);
  }
  .hello-header-caption {
    will-change:transform, transform-origin;
    @include transform-origin(0 0);
    @include transform(rotate(270deg));
    @include animation(fadeInAnim 0.7s cubic-bezier(0.455,0.03,0.515,0.955) 4.4s forwards);
  }
}