<section class="about-lets-work-section clearfix" id="about_lets_work_section" data-scene>
	<div class="container rellax" data-rellax-speed="0.2">

		<div class="row">
			<div class="col-md-8 offset-md-2">
				<h2 class="text-intro text-rosybrown text-uppercase text-center">
					I’ll be happy to work with you in any business website or branding related project. I love interactive design and doing awesome platforms that stand out!
				</h2>
			</div>
		</div>

		<!--<div class="row mt-5">
			<div class="col-md-6 offset-md-3">
				<div class="about-contact-me text-rosybrown text-center">
					Contact me and we can talk about your needs and see if I can help. Drop me a line here or chat with me in social media.
				</div>
			</div>
		</div>-->

	</div>
</section>