<section class="about-myself-section clearfix" id="about_myself_section" data-scene>
	<!--Desktop | Screen Readers-->
	<img class="image-candelaria d-none d-md-block rellax" src="uploads/about-bogota-colombia-candelaria-image.jpg" data-rellax-speed="-0.2">
	<img class="image-england-port d-none d-md-block rellax" src="uploads/about-london-england-port-image.jpg" data-rellax-speed="-0.2">
	<img class="image-palm-beach d-none d-md-block rellax" src="uploads/about-colombia-palm-beach-image.jpg" data-rellax-speed="-0.2">
	<img class="image-bogota-colombia d-none d-md-block rellax" src="uploads/about-bogota-colombia-marcela-pinzon-image.jpg" data-rellax-speed="-0.2">

	<!--Mobile-->
	<img class="image-candelaria d-block d-md-none mb-5 pb-2" src="uploads/about-bogota-colombia-candelaria-image.jpg" aria-hidden="true">
	<img class="image-england-port d-block d-md-none mb-5" src="uploads/about-london-england-port-image.jpg" aria-hidden="true">
	<!--<img class="image-palm-beach d-block d-md-none" src="uploads/about-colombia-palm-beach-image.jpg" aria-hidden="true">-->
	<!--<img class="image-bogota-colombia d-block d-md-none" src="uploads/about-bogota-colombia-marcela-pinzon-image.jpg" aria-hidden="true">-->

	<div class="container">

		<div class="row pb-1 pb-md-0">
			<div class="col-md-6 offset-md-5">
				<div class=""><!--pl-3-->
					<div class="about-intro font-ultra-light text-rosybrown">
		    		{{ content }}

						<!--Hi, I live in the beautiful country of Colombia. I have a career in marketing and advertisement and 6+ years of experience in web development, working 4 years of that time for an international company and clients from different countries, managing the work first in a physical environment, and then for 2 and a half years everything was remote; we had a couple of occations  where all the team could get together.

		     		I started with a basic university course for web development in a recognized university here in my country, the Pontificia Universidad Javeriana, after graduating from marketing and advertisement in the Universidad Jorge Tadeo Lozano.

		    		I then worked for 4+ years with the great team of Code Nation, a 5 star rated international company based in Australia. There, we created dozens of robust and powerful campaign websites and platforms for both progressive and big organizations.-->
					</div>

					<!--Desktop Sm | Screen Readers-->
					<div class="about-postdata d-none d-sm-flex flex-row justify-content-between font-ultra-light text-rosybrown mt-sm-5less mt-md-5"><!--column-div-->
						<div>
							I also have a background in photography and some experience in advertisement photography. I studied photography for 6 years, utilizing both analogical and

							<!--I have also a background in photography and some experience in advertisement photography. I studied photography for 6 years of my live, utilizing all from analogical photography to digital photography, I then worked on a personal-->
						</div>

						<div>
							digital photography. I then worked on a personal project around photography for advertisement, and followed with a job in a photography Studio.

							<!--project around photography for advertisement, and then I had a job in a photography Studio. But it is a hard job nowadays, as now anyone with a digital camera can call themselves a photographer; that’s one bussy industry.-->
						</div>
					</div>

					<!--Mobile Sm-->
					<div class="about-postdata font-ultra-light text-rosybrown mt-5less d-block d-sm-none" aria-hidden="true">
						<div>
							I also have a background in photography and some experience in advertisement photography. I studied photography for 6 years, utilizing both analogical and digital photography. I then worked on a personal project around photography for advertisement, and followed with a job in a photography Studio.
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!--Desktop | Screen Readers-->
		<div class="row d-none d-md-block">
			<div class="col-md-12">
				<img class="image-england-park" src="uploads/about-london-england-park-image.jpg"><!--rellax--><!--data-rellax-speed="-0.15"-->
			</div>
		</div>

	</div>

	<!--Mobile-->
	<img class="image-england-park d-block d-md-none mt-5 pt-1" src="uploads/about-london-england-park-image.jpg" aria-hidden="true">
</section>