<header class="about-header clearfix" id="about_header" data-scene>
	<div class="container rellax" data-rellax-speed="0.2">

		<div class="row">
			<div class="col-md-5 offset-md-1">
				<div class="about-header-middle">
					<h1 class="text-gigantic text-uppercase mb-0">
						Some-
						<br>Thing
						<div>
							About
							<br>Me
							<span class="font-ultra-light text-rosybrown">
								A story
								<br>of my
								<br>life
							</span>
						</div>
					</h1>

					<h1 class="text-gigantic text-rosybrown text-uppercase mb-0" aria-hidden="true">
						Some-
						<br>Thing
						<div>
							About
							<br>Me
						</div>
					</h1>
				</div>
			</div>

			<div class="col-md-5 offset-md-1">
				<div class="about-header-image">
					<img src="uploads/about-simon-calle-laverde-chill-2019-image.jpg">
					
					<span class="about-header-info text-rosybrown">
						Simón Calle Laverde
						<br>B. 1988
					</span>
				</div>
			</div>
		</div>

	</div>
</header>