<header class="about-header d-flex flex-row align-items-center clearfix" id="about_header" data-scene>
	<div class="container">

		<div class="row mb-5less">
			<div class="col-6 offset-3 col-md-8 offset-md-2">
				<div class="about-header-middle text-center">
				
					<!--Desktop | Screen Readers-->
					<h1 class="text-gigantic text-rosybrown text-uppercase mb-0 d-none d-md-block">
						About me
					</h1>

					<!--Mobile-->
					<h1 class="text-gigantic text-rosybrown text-uppercase mb-0 d-block d-md-none" aria-hidden="true">
						<div>
							About
						</div>

						<div>
							me
						</div>
					</h1>

					<div>
						<img src="uploads/about-simon-calle-laverde-chill-2019-image.jpg">

						<span class="about-header-info text-rosybrown">
							B. 1988
						</span>
						
						<span class="about-header-short-story font-ultra-light text-chocolate"><!--text-rosybrown--><!--text-uppercase-->
							A short story
							<br>about me
						</span>
					</div>

				</div>
			</div>
		</div>

	</div>
</header>