<section class="workflow-tools-technology-section clearfix" id="workflow_tools_technology_section" data-scene>
	<div class="container">

		{% assign sorted_tools = site.tools | sort:"order" %}<!--| reverse-->
		{% assign tools_count = 0 %}

		{% for tool in sorted_tools %}
			{% assign tools_count = tools_count | plus:1 %}

			{% if tools_count == 1 %}
			<div class="row mb-4">
			{% endif %}
				<div class="col-md-4">

					<article class="tool-card d-flex flex-row align-items-center text-center">
						<div class="tool-card-background">
						</div>
							
						<div class="tool-card-circle d-inline-flex flex-row justify-content-center align-items-center p-4more">
							<img src="{{ tool.image_logo }}" alt="Logo {{ tool.title }}">
						</div>

						<h4 class="tool-card-title text-uppercase px-4more pb-2">
							{{ tool.title }}
						</h4>

						<div class="tool-content font-ultra-light">
							<div>
								{{ tool.content | strip_html | truncatewords:70 }}
							</div>
						</div>
					</article>
					
				</div>
	    {% if tools_count == 3 or forloop.last %}
	  	</div>
	    {% assign tools_count = 0 %}
	    {% endif %}
		{% endfor %}

	</div>
</section>