<!DOCTYPE html>
<html lang="{{ page.lang | default:site.lang | default:'en' }}">

  {% include head.html %}

  <body class="loading page-type-{{ page.type_slug | replace:'_','-' }} {{ page.slug }} theme-colour black" data-spy="scroll" data-target="#navbar" data-offset="80"><!--data-target=".navbar"--><!--data-offset="50"-->
    {% include cursor.html %}

    {% include nav_social_media.html %}

    {% include nav.html %}

    <!-- include switch_color_toggler.html -->

    <main id="middle">
      <div data-scroll>
        <h1 class="sr-only">{{ page.title }}</h1>
        
        {% if page.header_image.size > 0 %}
          {% include header_image.html %}
        {% endif %}
        
        {{ content }}

        {% include footer.html %}

        {% include scripts.html %}
      </div>
    </main>
    
    {% include home/home_project_modal.html %}

  </body>

</html>