<!DOCTYPE html>
<html lang="{{ page.lang | default:site.lang | default:'en' }}">

  {% include head.html %}

  <body class="page-type-{{ page.type_slug | replace:'_','-' }} {{ page.slug }} theme-colour black loading" data-spy="scroll" data-target="#navbar" data-offset="80"><!--data-target=".navbar"--><!--data-offset="50"-->
    {% include cursor.html %}

    {% include nav_social_media.html %}

    {% include change_features.html %}

    {% include copyright.html %}

    {% include nav.html %}

    <!-- include switch_color_toggler.html -->



    <main class="viewport" id="middle"><!--data-scrollbar | For Smooth Scroll Plugin--><!--viewport | For GSAP Smooth Page Scrolling-->
      <div data-scroll>
        <!--<div id="scroll-container" class="scroll-container">--><!--For GSAP Smooth Page Scrolling-->
          <h1 class="sr-only">{{ page.title }}</h1>
          
          {% if page.header_image.size > 0 %}
            {% include header_image.html %}
          {% endif %}
          
          {{ content }}

          {% include footer.html %}

          {% include scripts.html %}
        <!--</div>-->
      </div>
    </main>


    
    {% include work/work_project_modal.html %}

    {% include mobile_dev_notice.html %}

  </body>

</html>