<!DOCTYPE html>
<html lang="{{ page.lang | default:site.lang | default:'en' }}">

  {% include head.html %}

  <body class="page-type-{{ page.type_slug | replace:'_','-' }} {{ page.slug }} bg-image theme-colour is-top black loading {% if page.slug == 'home' %}home-rendering{% else %}rendering{% endif %}" data-spy="scroll" data-target="#navbar" data-offset="80">
    {% include background_for_animation.html %}

    {% include cursor.html %}

    {% include logo.html %}

    {% include nav_social_media.html %}

    {% include change_features.html %}

    {% include copyright.html %}

    {% include nav.html %}

    {% include aside_covers.html %}

    {% include theme_colour_in.html %}
    
    <div id="luxy">
      <main id="main">
        <h1 class="sr-only">{{ page.title }}</h1>
        
        {% if page.header_image.size > 0 %}
          {% include header_image.html %}
        {% endif %}
        
        {{ content }}

        {% unless page.slug == "contact_me" or page.slug contains "contact" %}
          {% include footer.html %}
        {% endunless %}
      </main>
    </div>

    {% include work/work_project_modal.html %}

    {% include mobile_dev_notice.html %}
    
    {% include scripts.html %}
  </body>

  {% if page.background_image.size > 0 %}
    <style type="text/css">
      #background_for_animation {/*body*/
        background:url('{{ page.background_image }}') no-repeat center center fixed;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
      }
    </style>
  {% endif %}

</html>