---
layout: "main"
---

{% if page.slug == "all_projects" %}
  {% include work/work_header_section.html %}
  {% include work/work_projects_section.html %}

{% elsif page.slug == "about" %}
	{% include about/about_header.html %}
	{% include about/about_myself_section.html %}
	{% include about/about_lets_work_section.html %}

{% elsif page.slug == "workflow" %}
	{% include workflow/workflow_tools_headline_section.html %}
	{% include workflow/workflow_tools_technology_section.html %}

{% else %}

  {% include content_simple.html %}
{% endif %}