<section class="about-me-section clearfix" id="about_me_section">
  <div class="container">

    <div class="row">
      <div class="col-md-12 mt-5 pt-5">
        <div class="position-relative">
          <h1 class="text-huge text-white text-bold text-uppercase ml-5 lax" data-lax-preset="driftRight-25">
            City of<br>Bogotá.
          </h1>
          
          <div class="bogota-candelaria-image">
            <img src="uploads/bogota-image-i.jpg">
          </div>
          
          <h1 class="text-huge text-stroke-white text-bold text-uppercase ml-5 lax" style="position:absolute; top:0; left:0;" data-lax-preset="driftRight-25">
            City of<br>Bogotá.
          </h1>
        </div>
      </div>

      <!--<div class="col-md-4 d-flex flex-row align-items-center justify-content-center">
        <div class="i-am-based-text p-5 rellax" data-rellax-speed="-0.4">
          <h6 class="text-white text-uppercase px-2">I am based in the nice city of Bogotá, Colombia</h6>
        </div>
      </div>-->
    </div>

    <div class="row">
      <div class="col-md-12 mt-5 pt-5">
        <div class="i-am-based-text p-5 rellax" data-rellax-speed="-0.4">
          <h6 class="text-white text-uppercase px-2">I am based in the nice city of Bogotá, Colombia</h6>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 mt-5 pt-4">
        <div class="cooffee-image-ii mt-4 rellax" data-rellax-speed="-0.2">
          <img src="uploads/coffee-image-ii.jpg">
        </div>
      </div>

      <div class="col-md-4 mt-5 pt-4">
        <div class="i-am-based-text p-5">
          <h6 class="text-white text-uppercase">Where some of the best coffee in the world comes from, you know</h6>
        </div>
      </div>

      <div class="col-md-4 mt-5 pt-4">
        <div class="cooffee-image-i rellax" data-rellax-speed="0.2">
          <img src="uploads/coffee-image-i.jpg">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 mt-5 pt-5less">
        <div class="i-am-based-text p-5">
          <h6 class="text-white text-uppercase px-4 rellax" data-rellax-speed="0.4">And this is my city, with its bright colors and magic</h6><!--And this is my city, with our two or three skyscrapers :) ya know-->
        </div>
      </div>

      <div class="col-md-8 mt-5 pt-5">
        <div class="bogota-image-i">
          <img src="uploads/bogota-candelaria-image.jpg">
        </div>
      </div>
    </div>

  </div>
</section>