<section class="all-projects-section clearfix" id="all_projects_section">
  <div class="container">
    
    <div class="row">
      <div class="col-md-12">
        <div class="all-projects-rails">
          <div class="all-projects-link d-flex align-items-center luxy-el" data-horizontal="1" data-speed-x="-8" data-offset="0" style="white-space:nowrap;"><!--gsap-all-projects--><!--text-center-->
            <a class="headline-link link font-headline text-gigantic text-uppercase" href="/work">All Projects - All Projects - All Projects</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>