<!--IN DEVELOPMENT | To bring featured "What is the difference between branding and marketing?" video-->

<section class="featured-video-section clearfix" id="featured_video_section">
	<div class="container">

		<div class="row">
			<div class="col-md-5 offset-md-1">
				<p>If you watched the video above, the best answer to this is that <i>branding</i> is a branch of <i>marketing</i>, same as <i>advertisemente</i> or <i>promotion</i> are, to name a few. That's why the converzation becomes a bit confusing.</p>

				<p>Altho, this is an amazing video to watch if you are interested.</p>

				<p>It is also why I must say: If you are a graphic designer, you shouldn't be calling your work <i>branding</i>, unless you are really doing the whole branding. If can't say I'm doing branding if I'm just making a website, logo and feel.</p>
			</div>

			<div class="col-md-5">
				<p>If I say I'll do branding or branding is in one of my plans, I mean I'll approach a big scope of it, I'll put the five years of knowledge I studied this only subject, I'll put most of my time into that only project to get real results and meassure the most we can. I will probably won't even create the logo, I might call someone else to do it. But I'll be the one in charge of thinking all the strategy, the reason why, the parameters and concepts you want in your company, as well as trying to solve any hidden problems behind any issues you might have, any incoherence with your current brand, before even starting with a graphic design.</p>

				<p>Then I will for sure develop you entire platform and website from top to bottom, starting with a design and a couple rounds of revisions.</p>
			</div>
		</div>

	</div>
</section>