<!--Moving dots, parallax elements, and more-->

<header class="hello-header d-flex flex-row align-items-center text-white clearfix" id="hello_section">
  <div class="container">

    <div class="row">
      <div class="col-md-7 offset-md-1">
        <div class="position-relative">
          <h1 class="text-hero-one text-hero text-white mb-3" style="pointer-events:none;">{{ page.headline | default:page.title }}</h1>
          <h1 class="text-hero-two position-absolute text-hero text-stroke-white mb-3" style="top:0; left:0; z-index:10;" aria-hidden="true">{{ page.headline | default:page.title }}</h1>
        </div>

        <div class="text-i-am">
          <p class="font-headline text-white text-uppercase mt-3 mb-0">I'm a publicist and web developer,</p>
          <p class="font-headline text-white text-uppercase mb-0">and I do <a class="text-branding link text-white text-line-through smoothScroll" href="#education_section" title="I studied advertisement for 5 years">branding</a> & engaging <a class="text-websites link text-white text-line-through smoothScroll" href="#my_work" title="I create good looking hand-crafted websites">websites</a><!--This is a brand built out of coffee, quality, and care--></p>
        </div>
      </div>

      <div class="col-md-4 d-flex d-column align-items-end justify-content-center">
        <div class="text-i-like luxy-el" data-speed-y="-9" style="will-change:transform;">
          <h6 class="hero-note text-grey-mid">I chose minimal design, but I also like other many styles. In fact, I just <i class="fa fa-heart text-grey-light" aria-hidden="true"></i> design.</h6>
        </div>
      </div>
    </div>

  </div>
</header>