<section class="about-me-section clearfix" id="about_me_section">
  <div class="container">

    <div class="row mt-5 pt-5">
      <div class="col-md-12 mt-5 pt-5"><!--col-md-6 offset-md-6-->
        <div class="home-image-appear text-center">
          <h1 class="text-white text-uppercase text-right" style="position:absolute; font-size:4rem; line-height:1.1; z-index:5000;">
            I am a publicist and web developer from the nice city of<span class="text-line-through text-magenta" style="cursor:pointer;">Bogotá</span>.<!--headline soft--><!--text-underline--><!--text-decoration:line-through;-->

            <!--<style type="text/css">
              .glitch-img-bogota {
                background:url('{{ "/uploads/bogota-skyline-photo-by-fernando-garcia-on-flicker.jpg" | relative_url }}') no-repeat center center scroll;
                -webkit-background-size:cover;
                -moz-background-size:cover;
                -o-background-size:cover;
                background-size:cover;
              }
            </style>
            <div class="bogota-picture glitch" title="Credit to Fernando Garcia on: https://www.flickr.com/photos/gogeid/16925533979">
              <div class="glitch-img glitch-img-bogota bg-image"></div>
              <div class="glitch-img glitch-img-bogota bg-image"></div>
              <div class="glitch-img glitch-img-bogota bg-image"></div>
              <div class="glitch-img glitch-img-bogota bg-image"></div>
              <div class="glitch-img glitch-img-bogota bg-image"></div>
            </div>-->
            <!--<img class="image-bogota" src="uploads/bogota-skyline-photo-by-fernando-garcia-on-flicker.jpg" alt="Credit to Fernando Garcia on: https://www.flickr.com/photos/gogeid/16925533979">-->
          </h1>

          <h1 class="headline soft text-uppercase text-right" style="position:absolute; font-size:4rem; line-height:1.1; z-index:5001;">I am a publicist and web developer from the nice city of</h1>
        </div>
      </div>
    </div>
    
    {% comment %}
    <div class="row">
      <div class="col-md-6 offset-md-5">
        <div class="text-grey-light">
          {{ content }}

          Altho I studied advertisement, marketing, and branding for 5 - 6 years, the Branding and web design was done in Code Nation by the designers while I was developing the live and interactive sites as well as managing Nation Builder's backend and making the site straight away dynamic with it.
        </div>
      </div>
    </div>
    {% endcomment %}
    
  </div>
</section>