<!--IN DEVELOPMENT-->

<section class="home-five-section bg-black text-md-right clearfix" id="section_5">
  <div class="section-number">
    05
  </div>

	<div class="container">

		<div class="row">
      <div class="col-md-12">
        <!--Desktop-->
        <h3 class="headline text-white text-uppercase mb-4 pb-3 d-none d-md-block" style="font-size:4rem;">Education</h3>
        <!--Mobile-->
        <h4 class="headline text-white text-uppercase mb-3 pb-1 d-block d-md-none" aria-hidden="true">Education</h4>
      </div>
    </div>

    <div class="row pt-3">
      <div class="col-md-6 offset-md-4">
        <!--Desktop-->
        <div class="intro text-grey-light column_div d-none d-md-block"><!--id="column_div"-->
          More than a school, this was a place of good believes, good moral and good principles, ..... a lot of .... as well as a place that evoqued creativity and artistic view...... lorem ipsum lorem ipsum
        </div>
        <!--Mobile-->
        <div class="intro text-grey-light d-block d-md-none" aria-hidden="true">
          More than a school, this was a place of good believes, good moral and good principles, ..... a lot of .... as well as a place that evoqued creativity and artistic view...... lorem ipsum lorem ipsum
        </div>
      </div>
    </div>

	</div>
</section>