<!--IN DEVELOPMENT-->

<section class="home-two-section mary-lou-grid d-flex flex-column align-items-center bg-black clearfix" id="section_2">
  <!-- <div class="section-number">
    02
  </div> -->

	<div class="container">

		<div class="row">
      <div class="col-md-12">
        <!--Desktop-->
        <h3 class="headline text-white text-uppercase mb-4 pb-3 d-none d-md-block" style="font-size:4rem;">{{ page.portfolio_section.headline }}</h3>
        <!--Mobile-->
        <h4 class="headline text-white text-uppercase mb-3 pb-1 d-block d-md-none" aria-hidden="true">{{ page.portfolio_section.headline }}</h4>
      </div>
    </div>

    {% comment %}
    <div class="row pt-3">
      <div class="col-md-6 offset-md-1">
        <h5 class="text-magenta mb-5">Disclaimer: Designed by the designers at Code Nation, developed 80% - 100% by me.</h5>
      </div>
    </div>

    <div class="row pt-4 pb-2">
      <div class="col-md-8 offset-md-2">
        <!--Desktop-->
        <div class="intro text-white column_div d-none d-md-block"><!--id="column_div"-->
          {{ page.portfolio_section.content }}
        </div>
        <!--Mobile-->
        <div class="intro text-white d-block d-md-none" aria-hidden="true">
          {{ page.portfolio_section.content }}
        </div>
      </div>
    </div>
    {% endcomment %}
    
	</div>
</section>