<article class="project-article home">
  <!--<a href="{% if project_tags_list contains '#case_study#' %}{{ project.url }}{% else %}#{% endif %}" data-toggle="{% unless project_tags_list contains '#case_study#' %}modal{% endunless %}" data-target="{% unless project_tags_list contains '#case_study#' %}#projectModal_{{ project.slug }}{% endunless %}">-->
  <a class="link-page-load" href="javascript:delay('{{ project.url }}')">
    <figure>
      <style type="text/css">
        #project_thumbnail_{{ project.slug }} {
          background:url('{{ project.thumbnail_image | relative_url }}') no-repeat center center scroll;
          -webkit-background-size:cover;
          -moz-background-size:cover;
          -o-background-size:cover;
          background-size:cover;
        }
      </style>
      <div class="project-thumbnail project-{{ project.order }} bg-image" id="project_thumbnail_{{ project.slug }}" type="image" title="Website Project: {{ project.title }}" loading="lazy"><!--Lazy won't work in bg images-->
      </div>

      <figcaption class="font-ultra-light text-rosybrown">
        <!--Desktop | Screen Readers-->
        <div class="project-title d-none d-md-block">
          <h3 class="text-huge text-uppercase mb-0">
            <span class="text-rosybrown">
              {{ project.name_for_thumbnail }}
            </span>

            <!--{% comment %}
            <span class="title-stroke" aria-hidden="true">
              {{ project.name_for_thumbnail }}
            </span>
            {% endcomment %}-->
          </h3>
          
          <div class="project-details">
            <div class="project-type">
              {{ project.type }}
            </div>

            <div class="project-roles">
              {% for item in project.roles %}
                {{ item }}{% unless forloop.last %} &middot;{% endunless %}
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="project-info">
          <!--Desktop | Screen Readers-->
          <div class="project-data d-none d-md-block">
            <time class="font-light">
              {{ project.year }}
            </time>

            {{ project.category }}

            {% if project_tags_list contains "#campaign_platform#" %}
              & {% if project.client.size > 0 %}{{ project.client }}{% else %}{{ project.title }}{% endif %}
            {% endif %}
          </div>

          <!--Mobile-->
          <div class="project-data d-block d-md-none">
            <time class="font-light">
              {{ project.year }}
            </time>
          </div>

          <div class="project-platforms d-none d-md-block">
            <span class="font-light">
              Created with
            </span>

            {% for platform in project.platforms %}
              {{ platform }}{% unless forloop.last %} &middot;{% endunless %}
            {% endfor %}
          </div>
        </div>
      </figcaption>
    </figure>

    <!--Mobile-->
    <div class="project-title-mobile d-block d-md-none font-ultra-light text-rosybrown" aria-hidden="true">
      <h3 class="text-huge text-uppercase mb-0">
        <span class="text-rosybrown">
          {{ project.name_for_thumbnail }}
        </span>

        <span class="title-stroke" aria-hidden="true"><!--No Longer Stroke-->
          {{ project.name_for_thumbnail }}
        </span>
      </h3>
      
      <div class="project-details">
        <!--{% comment %}
        <div class="project-type">
          {{ project.type }}
        </div>
        {% endcomment %}-->

        <div class="project-roles">
          {% for item in project.roles %}
            {{ item }}{% unless forloop.last %} &middot;{% endunless %}
          {% endfor %}
        </div>
      </div>
    </div>
  </a>
</article>