<section class="home-three-phases-section clearfix" id="home_three_phases_section" data-scene="rotateZ">
  <div class="container">

    {% assign sorted_phases = site.phases | sort:"order" %}<!--| reverse-->
    {% assign phases_count = 0 %}

    {% for phase in sorted_phases %}
      {% assign phases_count = phases_count | plus:1 %}

      {% if phases_count == 1 %}
      <div class="row">
      {% endif %}
        <div class="col-md-4">
          {% include home/home_three_phases_article.html %}
        </div>
      {% if phases_count == 3 or forloop.last %}
      </div>
      {% assign phases_count = 0 %}
      {% endif %}
    {% endfor %}

  </div>
</section>