<section class="home-who-i-am-section clearfix" id="home_who_i_am_section" data-scene>
	<div class="container">

		<div class="row">
      <div class="col-md-12 col-lg-8 offset-lg-2">
        <div class="position-relative font-headline text-intro text-rosybrown text-uppercase text-center">
        	<div aria-hidden="true">
        		{{ content }}
        	</div>

          <div class="intro-overlay text-stroke-rosybrown">
          	Hello, I’m Simón
						<br>Calle Laverde,
						<br>A <i>web developer</i>

						<br>with a background
						<br>in <i>marketing</i>:

						<br>including
            <br>advertisement,
						<br>branding,
						<br>& Copywriting.
          </div>
        </div>
      </div>
    </div>

	</div>
</section>