<!--No Longer In Use-->

{% comment %}
<div class="project-as-nav-for-windows" style="overflow:hidden;">
  <style type="text/css">
    #as_nav_for_{{ project.slug }} {
      background:url('{{ project.thumbnail_image | relative_url }}') no-repeat center center scroll;
      -webkit-background-size:cover;
      -moz-background-size:cover;
      -o-background-size:cover;
      background-size:cover;
    }
  </style>
  <div class="project-as-nav-for bg-image scale-element" id="as_nav_for_{{ project.slug }}" type="image" aria-hidden="true">
  </div>
</div>
{% endcomment %}