{% assign sorted_projects = site.projects | sort:"order" | reverse %}

{% assign projects_count = 0 %}

{% for project in sorted_projects %}
  {% assign project_tags_list = "#" %}
  {% for tag in project.tags %}
    {% assign project_tags_list = "#" | append:tag | append:project_tags_list %}
  {% endfor %}

  {% if project_tags_list contains "featured" %}
    {% assign projects_count = projects_count | plus:1 %}

    <section class="home-company-projects-section clearfix" data-scene="rotateZ">
      <div class="container">

        <div class="row">
          <div class="col-md-10 offset-md-1">
            {% include home/home_project_article.html %}
          </div>
        </div>

      </div>
    </section>
    
    {% if projects_count == 2 or forloop.last %}
      {% assign projects_count = 0 %}
    {% endif %}
  {% endif %}
{% endfor %}