<!--IN DEVELOPMENT-->

<section class="home-three-section bg-black clearfix" id="section_3">
  <div class="container">

    <div class="row pt-5">
      <div class="col-md-4">
        <!--Desktop-->
        <h3 class="headline text-white text-uppercase mb-4 pb-3 d-none d-md-block" style="font-size:4rem;">{{ page.headline | default:page.title }}</h3>
        <!--Mobile-->
        <h4 class="headline text-white text-uppercase mb-3 pb-1 d-block d-md-none" aria-hidden="true">{{ page.headline | default:page.title }}</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 offset-md-2">
        <!--Desktop-->
        <div class="intro text-grey-light column_div d-none d-md-block"><!--id="column_div"-->
          {{ content }}
        </div>
        <!--Mobile-->
        <div class="intro text-grey-light d-block d-md-none" aria-hidden="true">
          {{ content }}
        </div>
      </div>
    </div>

    <div class="row pt-5">
      <div class="col-md-6 offset-md-3">



        <!--Temporary | To make with text, animaton with picture below entering screen to position, original pdf in modal after button click to see original version-->
        <article class="px-4 pb-4 pb-md-5">
          <a href="{{ 'uploads/referral-letter-simon-calle.pdf' | relative_url }}" target="iframe_pdf">
            <!--<iframe src="{{ 'uploads/referral-letter-simon-calle.pdf' | relative_url }}" name="iframe_pdf" height="630" width="100%"></iframe>-->

            <object data="{{ 'uploads/referral-letter-simon-calle.pdf' | relative_url }}" height="630" width="100%">
              <param name="iframe_pdf" value="">
            </object>
          </a>
        </article>



      </div>
    </div>

  </div>
</section>