<!--IN DEVELOPMENT-->

<section class="who-i-am-section clearfix" id="who_i_am_section" data-scene="rotateZ">
	<div class="container">

		<div class="row mb-4 mb-md-5 pt-md-4more pb-md-4more">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <div class="hello-content intro column-div text-rosybrown">
          <div class="pt-md-5less pb-md-5">
            {{ content }}
          </div>
        </div>
      </div>
    </div>

	</div>
</section>







        {% comment %}
        <div class="col-md-4 offset-md-1">
          <div class="top-info text-center mb-md-4more">
            <div class="text-rosybrown mb-md-3 mb-2">
              {{ page.title }}
            </div>

            <strong style="font-size:1.3rem;">
              I am a publicist by profession, with a passion<br>on digital platforms & branding<!--on modern-->
            </strong>
          </div>
          
          <div class="hello-header-headline text-center">
            {% if page.headline.size > 0 %}
              <h1 class="text-italic text-huge text-rosybrown mb-2 d-none d-lg-block">{{ page.headline | default:page.title }}</h1>
              <h1 class="text-italic text-rosybrown mb-2 d-none d-md-block d-lg-none" aria-hidden="true" style="font-size:4rem;">{{ page.headline | default:page.title }}</h1><!--text-gigantic-->
              <h1 class="text-italic text-huge text-rosybrown mb-2 d-block d-md-none" aria-hidden="true">{{ page.headline | default:page.title }}</h1>
            {% endif %}
          </div>
        </div>
        {% endcomment %}