{% assign sorted_phases = site.phases | sort:"order" %}

{% for phase in sorted_phases %}
  <div class="home-three-phases-modal modal fade text-center" id="phaseModal_{{ phase.slug }}" tabindex="-1" role="dialog" aria-labelledby="phaseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document"><!--modal-xl-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title sr-only" id="phaseModalLabel">
            {{ phase.title }}
          </h4>
          
          <button type="button" class="close text-aqua" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="row">
            <div class="col-4 offset-4 col-md-2 offset-md-5">
              <div class="mb-4more">
                <img src="{{ phase.image_logo }}" alt="{{ phase.title }} Logo" loading="lazy">
              </div>
            </div>
          </div>

          <div class="row d-flex flex-row justify-content-center">
            <div class="col-md-9">
              <h4 class="text-big text-aqua mb-4" aria-hidden="true">
                {{ phase.title }}
              </h4>

              <div class="text-chocolate">
                {{ phase.content }}
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <!--<button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
        </div>
      </div>
    </div>
  </div>
{% endfor %}