<!--IN DEVELOPMENT-->

<section class="home-three-section mary-lou-grid-customized d-flex flex-column align-items-center bg-black clearfix" id="section_3">
  <!-- <div class="section-number">
    03
  </div> -->

  {% assign posts_count = 0 %}
  {% assign sorted_projects = site.projects | sort:"order" | reverse %}

  {% for project in sorted_projects %}
    {% assign project_tags_list = "#" %}
    {% for tag in project.tags %}
      {% assign project_tags_list = "#" | append:tag | append:project_tags_list %}
    {% endfor %}

    {% if project_tags_list contains "featured" %}
      {% assign posts_count = posts_count | plus:1 %}
      {% include home/home_project_article.html %}
    {% endif %}
  {% endfor %}
</section>