<!--IN DEVELOPMENT-->

<section class="home-my-work-section d-flex flex-column align-items-center clearfix" id="section_2">
  <div class="container">

		<div class="row" data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease-in-sine">
      <div class="col-md-10 offset-md-2">
        <p class="font-headline text-white text-uppercase mb-0">My Work</p>

        <!--Desktop-->
        <h3 class="text-white text-uppercase text-stroke-white mb-4 pb-3 d-none d-md-block" style="font-size:4rem; line-height:1.1;">{{ page.portfolio_section.headline }}</h3><!--fade-zoom-in-->
        <!--Mobile-->
        <h4 class="text-white text-uppercase mb-3 pb-1 d-block d-md-none" aria-hidden="true" data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease-in-sine">{{ page.portfolio_section.headline }}</h4><!--fade-zoom-in-->
      </div>
    </div>

    {% comment %}
    <div class="row pt-3">
      <div class="col-md-6 offset-md-1">
        <h5 class="text-magenta mb-5">Disclaimer: Designed by the designers at Code Nation, developed 80% - 100% by me.</h5>
      </div>
    </div>

    <div class="row pt-4 pb-2">
      <div class="col-md-8 offset-md-2">
        <!--Desktop-->
        <div class="intro text-white column_div d-none d-md-block"><!--id="column_div"-->
          {{ page.portfolio_section.content }}
        </div>
        <!--Mobile-->
        <div class="intro text-white d-block d-md-none" aria-hidden="true">
          {{ page.portfolio_section.content }}
        </div>
      </div>
    </div>
    {% endcomment %}

    <div class="row pt-4" data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease-in-sine">
      <div class="col-md-12">
        <div class="slick-carousel">
          {% assign posts_count = 0 %}
          {% assign sorted_projects = site.projects | sort:"order" | reverse %}

          {% for project in sorted_projects %}<!--| limit:6-->
            {% assign project_tags_list = "#" %}
            {% for tag in project.tags %}
              {% assign project_tags_list = "#" | append:tag | append:project_tags_list %}
            {% endfor %}

            {% if project_tags_list contains "featured" %}
              {% assign posts_count = posts_count | plus:1 %}
              <div class="mt-md-1 mb-md-1">
                {% include home/home_project_article.html %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="row" data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease-in-sine" data-aos-delay="300" data-aos-offset="0">
      <div class="col-md-12">
        <div class="text-center mt-4 mx-md-3 px-md-4">
          <!--Desktop-->
          <a class="nav-link mb-4more d-none d-md-inline-block" href="/work">
            <h5 class="headline text-uppercase" style="font-size:6rem;">All Projects</h5>
          </a>

          <!--Mobile-->
          <a class="nav-link mb-3 d-inline-block d-md-none" href="/work">
            <h5 class="headline text-uppercase d-block d-md-none" aria-hidden="true">All Projects</h5>
          </a>
        </div>
      </div>
    </div>

  </div>
</section>