<section class="home-three-phases-section clearfix" id="home_three_phases_section" data-scene><!--data-scene="rotateZ"-->
  <div class="container">

    {% assign sorted_phases = site.phases | sort:"order" %}<!--| reverse-->
    {% assign phases_count = 0 %}

    {% for phase in sorted_phases %}
      {% assign phases_count = phases_count | plus:1 %}

      {% if phases_count == 1 %}
      <div class="row">
      {% endif %}
        <div class="col-md-4">

          <article class="three-phases-article text-rosybrown text-center{% unless forloop.last %} mb-5 pb-4{% endunless %}">
            <a href="#" data-toggle="modal" data-target="#phaseModal_{{ phase.slug }}">
              <span class="d-inline-flex flex-row justify-content-center align-items-center bg-rosybrown p-4">
                <img src="{{ phase.image_logo }}" alt="{{ phase.title }} Logo" loading="lazy">
              </span>
            </a>
            
            <div class="px-3">
              <h4 class="text-medium text-rosybrown mt-4more mb-4 pt-1">
                {{ phase.title }}
              </h4>
              
              <!--Screen Readers Not-->
              <div aria-hidden="true">
                {{ phase.content | strip_html | truncatewords:49 }}
              </div>

              <!--Screen Readers Only-->
              <div class="sr-only">
                {{ phase.content }}
              </div>
            </div>

            <a class="btn btn-read-more mt-4more" href="#" data-toggle="modal" data-target="#phaseModal_{{ phase.slug }}" aria-hidden="true">Read more</a>
          </article>

        </div>
      {% if phases_count == 3 or forloop.last %}
      </div>
      {% assign phases_count = 0 %}
      {% endif %}
    {% endfor %}

  </div>
</section>