<!--IN DEVELOPMENT-->

<section class="home-section-two bg-black clearfix" id="section_2">
  <div class="section-number">
    02
  </div>

  <div class="container">

    <div class="row pt-5">
      <div class="col-md-4">
        <!--Desktop-->
        <h3 class="headline text-white text-uppercase mb-4 pb-3 d-none d-md-block" style="font-size:4rem;">{{ page.headline | default:page.title }}</h3>
        <!--Mobile-->
        <h4 class="headline text-white text-uppercase mb-3 pb-1 d-block d-md-none" aria-hidden="true">{{ page.headline | default:page.title }}</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 offset-md-2">
        <!--Desktop-->
        <div class="intro text-grey-light column_div d-none d-md-block"><!--id="column_div"-->
          {{ content }}
        </div>
        <!--Mobile-->
        <div class="intro text-grey-light d-block d-md-none" aria-hidden="true">
          {{ content }}
        </div>
      </div>
    </div>

  </div>
</section>