<article class="project-article home position-relative text-center">
	<a href="#" data-toggle="modal" data-target="#projectModal_{{ project.slug }}">
		<style type="text/css">
		  #thumbnail-{{ project.slug }} {
		    background:url('{{ project.thumbnail_image | relative_url }}') no-repeat center center scroll;
		    -webkit-background-size:cover;
		    -moz-background-size:cover;
		    -o-background-size:cover;
		    background-size:cover;
		  }
		</style>
		<figure>
			<div class="project-thumbnail bg-image d-flex flex-row justify-content-center align-items-end p-4" id="thumbnail-{{ project.slug }}" type="image" title="{{ project.name }} Website Project"><!--scale-element-->
				<figcaption class="project-caption mt-3" style="display:inline-block;">
					<div class="project-name align-self-start mb-2 py-2 px-3">
						<h3 class="text-uppercase m-0">{{ project.name_for_thumbnail }}</h3>
					</div>

					<div class="project-roles align-self-start pt-1 px-3">
						{% for item in project.roles %}
							<h6 class="font-paragraph text-bold text-uppercase my-2" style="display:inline-block; font-size:0.8rem;">{{ item }}{% unless forloop.last %} <span style="margin-right:1px;">&middot;</span>{% endunless %}</h6>
						{% endfor %}
					</div>
				</figcaption>
			</div>
		</figure>

		<div class="project-info mt-3">
			<div>
				<div class="project-platform font-subtitle text-white">
					<h5 class="font-paragraph text-bold m-0" style="font-size:1.25rem;">
						{% for platform in project.platform %}
							{{ platform }} {% unless forloop.last %}&{% endunless %}
						{% endfor %}
						&middot; {{ project.theme }}
					</h5>
				</div>

				<time class="project-year font-subtitle text-white">
					<h5 class="font-paragraph text-bold m-0" style="font-size:1.25rem;">{{ project.year }}</h5>
				</time>
			</div>
		</div>
	</a>

	<div class="magic-trigger-as-nav-for position-absolute" style="width:0; height:0; margin:auto; top:0; right:0; bottom:0; left:0;"></div>
</article>