<!--IN DEVELOPMENT-->

<section class="my-work-section d-flex flex-column align-items-center clearfix" id="my_work_section">
  <div class="container">

		<div class="row lax" data-lax-skew-y="200 0, 400 4, 600 8" data-lax-translate-y="200 0, 400 60, 600 110" data-lax-preset="fadeIn">
      <div class="col-md-11 offset-md-1">
        <p class="font-headline text-white text-uppercase mb-0">My Work</p>
        <h3 class="text-big text-white text-uppercase mb-0">{{ page.my_work_section.headline }}</h3>
        <!--<p class="font-headline text-white text-uppercase mt-1 mb-4 pb-3">Includes my work at Code Nation, as well as a concept small site I created in 2015, and other I started in 2015 and I'm retaking in 2019</p>-->
      </div>
    </div>
    
    <div class="row mt-5 pt-3 lax" id="slick_carousel_scroll" data-lax-skew-y="200 0, 400 4, 600 8" data-lax-translate-y="200 0, 400 60, 600 110" data-lax-preset="fadeIn"><!--data-lax-preset="rightToLeft-.1"-->
      <div class="col-md-12">
        <div class="slick-carousel lax" data-lax-preset="driftLeft-30">
          {% assign sorted_projects = site.projects | sort:"order" | reverse %}

          {% for project in sorted_projects %}
            {% assign project_tags_list = "#" %}
            {% for tag in project.tags %}
              {% assign project_tags_list = "#" | append:tag | append:project_tags_list %}
            {% endfor %}

            {% if project_tags_list contains "featured" %}
              {% assign posts_count = posts_count | plus:1 %}
              <div class="mt-md-1 mb-md-1">
                {% include home/home_project_article.html %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
        
        <div class="slick-as-nav-for pl-4more" data-lax-preset="driftLeft-30">
          {% for project in sorted_projects %}
            {% assign project_tags_list = "#" %}
            {% for tag in project.tags %}
              {% assign project_tags_list = "#" | append:tag | append:project_tags_list %}
            {% endfor %}

            {% if project_tags_list contains "featured" %}
              {% assign posts_count = posts_count | plus:1 %}
              <div class="mt-md-1 mb-md-1">
                {% include home/home_project_as_nav_for.html %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>








    <div class="row mt-5 pt-4 lax" data-lax-skew-y="200 0, 400 4, 600 8" data-lax-translate-y="200 0, 400 60, 600 110" data-lax-preset="fadeIn">
      <div class="col-md-6 offset-md-1">
        <div class="column-div" id="content_development">
          <h6 class="text-grey-light">I love web development, check out some of the websites I have developed <a class="text-grey-light text-underline smoothScroll" href="#slick_carousel_scroll">below</a>. For now most of them were done within my time at <a class="text-grey-light text-underline" href="https://www.codenation.com/" target="_blank" title="Check out their amazing work and contact them for any cool campaigning related project">Code Nation</a>, an Australian 5 star rated digital agency specialized in creating and managing campaigning platforms which help big communities engage in big actions. I worked there for the past 4 years. I'm hoping to transitions with time to showcase some more of my independent work and new business and branding related projects.</h6>

          {% comment %}
          {{ page.my_work_section.content }}
          {% endcomment %}
        </div>
      </div>
    </div>

    <div class="row mt-5less lax" data-lax-skew-y="200 0, 400 4, 600 8" data-lax-translate-y="200 0, 400 60, 600 110" data-lax-preset="fadeIn">
      <div class="col-md-6 offset-md-1">
        <p class="text-white mt-1">See the full collection <a class="text-white text-underline" href="/work">here</a>; the below includes my work at Code Nation, as well as a concept small site I created in 2015, and another business website I started in 2015 and I'm retaking in 2019 with a newest more modern design.</p>
      </div>
    </div>




    <div class="row mt-5 pt-5 lax" data-lax-skew-y="200 0, 400 4, 600 8" data-lax-translate-y="200 0, 400 60, 600 110" data-lax-preset="fadeIn">
      <div class="col-md-12">
        <div class="text-center mt-4 mx-md-3 px-md-4">
          <!--Desktop-->
          <a class="nav-link mb-4more d-none d-md-inline-block" href="/work">
            <h5 class="headline text-uppercase" style="font-size:6rem;">All Projects</h5>
          </a>

          <!--Mobile-->
          <a class="nav-link mb-3 d-inline-block d-md-none" href="/work">
            <h5 class="headline text-uppercase d-block d-md-none" aria-hidden="true">All Projects</h5>
          </a>
        </div>
      </div>
    </div>

  </div>
</section>