<section class="my-work-section d-flex flex-column align-items-center magic-trigger-my-work-title clearfix" id="my_work_section">
  <div class="container">

		<div class="row pt-4 pb-2" id="my_work">
      <div class="col-md-10 offset-md-1">
        <div class="gsap-my-work-title position-relative" style="will-change:transform;">
          <p class="font-headline text-white text-uppercase mb-0">My Work</p>
          <h3 class="text-big text-white text-uppercase mb-0">{{ page.my_work_section.headline }}</h3>
          
          <div class="magic-trigger-content-development position-absolute" style="width:0; height:0; margin:auto; top:0; right:0; bottom:0; left:0;"></div>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-6 offset-md-1">
        <div class="gsap-content-development" style="will-change:transform;">
          {{ page.my_work_section.content }}
        </div>
        
        <div class="magic-trigger-subcontent position-absolute" style="width:0; height:0; margin:auto; top:0; right:0; bottom:0; left:0;"></div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-6 offset-md-1">
        <div class="gsap-subcontent column-div" style="will-change:transform;">
          {{ page.my_work_section.subcontent }}
        </div>
      </div>
    </div>

    <div class="row pt-5" id="slick_carousel">
      <div class="col-md-12 pt-2">
        <div class="slick-carousel carousel-my-work position-relative pt-4more">
          {% assign sorted_projects = site.projects | sort:"order" | reverse %}

          {% for project in sorted_projects %}
            {% assign project_tags_list = "#" %}
            {% for tag in project.tags %}
              {% assign project_tags_list = "#" | append:tag | append:project_tags_list %}
            {% endfor %}

            {% if project_tags_list contains "featured" %}
              {% assign posts_count = posts_count | plus:1 %}
              <div>
                {% include home/home_project_article.html %}
              </div>
            {% endif %}
          {% endfor %}

          <!--<div class="magic-trigger-as-nav-for position-absolute" style="width:0; height:0; margin:auto; top:0; right:0; bottom:0; left:0;"></div>-->
        </div>

        <!--{% comment %}
        <div class="slick-as-nav-for as-nav-for-my-work magic-trigger-all-projects mt-5">
          {% for project in sorted_projects %}
            {% assign project_tags_list = "#" %}
            {% for tag in project.tags %}
              {% assign project_tags_list = "#" | append:tag | append:project_tags_list %}
            {% endfor %}

            {% if project_tags_list contains "featured" %}
              {% assign posts_count = posts_count | plus:1 %}
              <div>
                <div class="gsap-as-nav-for">
                  {% include home/home_project_as_nav_for.html %}
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        {% endcomment %}-->
      </div>
    </div>

  </div>
</section>