<!--No Longer In Use-->

<section class="upcoming-events-section bg-cream text-center clearfix">
	<div class="container" data-aos="fade-zoom-in" data-aos-duration="700" data-aos-easing="ease-in-sine">

		<div class="pb-1">
			<h5 class="text-uppercase pb-4">Upcoming events</h5>
		</div>
		
	  {% for category in site.categories %}
	  	{% if category[0] == "event" %}
				<div class="row no-gutters">
			    {% for event in category[1] | limit:4 %}
						<div class="col-md-3">
							<article class="article-column article-event" style="{% cycle 'padding-right:5.5px;', 'padding-right:5.5px; padding-left:5.5px;', 'padding-right:5.5px; padding-left:5.5px;', 'padding-left:5.5px;' %}"><!--{% cycle 'pr-1', 'pr-1 pl-1', 'pr-1 pl-1', 'pl-1' %}-->
					  		<h1 class="sr-only">This is a {{ category[0] | capitalize }}</h1>
								<style type="text/css">
								  #thumbnail-{{ event.slug }} {/*forloop.index*/
								    background:url('{{ event.image | relative_url }}') no-repeat center center scroll;
								    -webkit-background-size:cover;
								    -moz-background-size:cover;
								    -o-background-size:cover;
								    background-size:cover;
								  }
								</style>
								<div class="mb-4" id="thumbnail-{{ event.slug }}" style="height:185px;"><!--forloop.index-->
								</div>

								<a href="{{ event.url }}" class="text-grey-dark">
					  			<h4 class="text-uppercase pt-1" style="font-size:1.4rem;">{{ event.title }}</h4>
								</a>

					  		<p class="event-date text-red">{{ event.when | date:'%d/%m/%y - %I:%M %p' }}</p><!--| date:'%A, %B %d, %Y at %I:%M %p'-->

					  		<!--{% comment %}
					  		{{ event.excerpt }}
					  		
					      <a href="{{ event.url }}">{{ event.title }}</a>
					  		{% endcomment %}-->
							</article>
						</div>
			    {% endfor %}
				</div>
	  	{% endif %}
		{% endfor %}

		<div class="pt-5">
			<a href="#" class="btn btn-blue-light btn-lg text-uppercase">Full Schedule</a><!--Missing Link-->
		</div>

	</div>
</section>